In [1]:
# libraries for data analysis
import pandas as pd
import numpy as np

# libraries for data visualizations
import matplotlib.pyplot as plt
import seaborn as sns

#other libraries
import random
import json
from json import JSONDecodeError
#
pd.set_option("display.max_columns", None)

In [2]:
df = pd.read_csv('../data/gurgaon_10k.csv')
df.head()

C:\Users\Owner\AppData\Local\Temp\ipykernel_12924\3218581722.py:1: DtypeWarning: Columns (66) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/gurgaon_10k.csv')

,PROP_ID,PHOTO_URL,MEDIUM_PHOTO_URL,PREFERENCE,DESCRIPTION,PROPERTY_TYPE,CITY,LOCALITY,TRANSACT_TYPE,OWNTYPE,BEDROOM_NUM,BATHROOM_NUM,BALCONY_NUM,PRICE_PER_UNIT_AREA,FURNISH,FACING,AGE,FLOOR_NUM,TOTAL_FLOOR,FEATURES,REGISTER_DATE,PROP_NAME,MIN_PRICE,MAX_PRICE,PRICE_SQFT,LISTING,BUILDING_ID,CARPET_SQFT,SUPERBUILTUP_SQFT,BROKERAGE,MAP_DETAILS,FSL_Data,MIN_AREA_SQFT,MAX_AREA_SQFT,FORMATTED,AMENITIES,TOP_USPS,PD_URL,EXPIRY_DATE,GROUP_NAME,AREA,PRICE,PROP_HEADING,PROP_DETAILS_URL,CLASS_HEADING,CLASS_LABEL,SECONDARY_TAGS,PROPERTY_IMAGES,THUMBNAIL_IMAGES,TOTAL_LANDMARK_COUNT,FORMATTED_LANDMARK_DETAILS,CONTACT_NAME,CONTACT_COMPANY_NAME,DEALER_PHOTO_URL,SOCIETY_NAME,BUILDING_NAME,CITY_ID,LOCALITY_WO_CITY,profile,xid,metadata,location,BUILTUP_SQFT,SUPER_SQFT,COMMON_FURNISHING_ATTRIBUTES,QUALITY_SCORE,FURNISHING_ATTRIBUTES
0,O71585872,https://mediacdn.99acres.com/media1/22409/13/4...,https://mediacdn.99acres.com/media1/22409/13/4...,S,4 bhk flat for resale in alpha corp gurgaon one,Residential Apartment,Gurgaon,Sector 84 Gurgaon,1.0,1,4.0,4,4.0,8766.0,4,1,2,14,26.0,"33,23,12,46,25,47,39,1,3,6,9,40,41,30,20,42,21,32","29th Sep, 2023",Alpha Corp GurgaonOne 84,26300000,26300000,8766.0,R,10532,3000.0,3434.0,263000.0,"{'LATITUDE': '28.4065341', 'LONGITUDE': '76.96...",{'LOCALITY_ID': 0},319.028902,319.028902,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","20,21,32,23,46,47,39,1,6,9,40,41,30,42,33,12,2...","['North Facing', 'Recently Renovated', 'Gated ...",/4-bhk-bedroom-apartment-flat-for-sale-in-alph...,2023-11-28 00:00:00,SPID_GROUP_SEARCH_NORMAL,3434 sq.ft.,2.63 Cr,4 BHK Flat in Sector 84 Gurgaon,4-bhk-bedroom-apartment-flat-for-sale-in-alpha...,Dealer: propertyline,Dealer,"['READY TO MOVE', 'RESALE']",['https://mediacdn.99acres.com/media1/22409/13...,['https://mediacdn.99acres.com/media1/22409/13...,10.0,"[{'category': 'Shopping', 'text': '4 Shoppings...",gaurav khosla,propertyline,https://static.99acres.com/images/dealer_pnava...,Alpha Corp GurgaonOne 84,Alpha Corp GurgaonOne 84,8,Sector 84,"{'CONTACT_NAME': 'gaurav khosla', 'CONTACT_COM...","{'PROJECTID': 5096, 'PROJ_NAME': 'Alpha Corp G...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...",NaN,NaN,NaN,NaN,NaN
1,T71585466,https://mediacdn.99acres.com/media1/22425/6/44...,https://mediacdn.99acres.com/media1/22425/6/44...,S,"Explore dlf ultima, an upscale ready-To-Move h...",Residential Apartment,Gurgaon,Sector 81 Gurgaon,1.0,1,4.0,4,3.0,21176.0,4,1,1,7,29.0,"44,33,23,12,46,25,47,26,17,29,19,1,3,5,6,9,30,...","29th Sep, 2023",DLF The Ultima,36000000,36000000,21176.0,R,12704,1700.0,2870.0,1.0,"{'LATITUDE': '28.3889069', 'LONGITUDE': '76.95...",{'LOCALITY_ID': 0},266.631610,266.631610,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","17,5,20,21,10,44,23,46,47,29,19,1,6,9,30,41,43...","['North Facing', ""st. xavier's within 500m"", '...",/4-bhk-bedroom-apartment-flat-for-sale-in-dlf-...,2023-11-28 00:00:00,SPID_GROUP_SEARCH_NORMAL,2870 sq.ft.,3.6 Cr,4 BHK Flat in Sector 81 Gurgaon,4-bhk-bedroom-apartment-flat-for-sale-in-dlf-t...,Dealer: MVD AND ASSOCIATES,Dealer,"['READY TO MOVE', 'RESALE', 'RERA']",['https://mediacdn.99acres.com/media1/22425/6/...,['https://mediacdn.99acres.com/media1/22425/6/...,9.0,"[{'category': 'MetroStation', 'text': '1 Metro...",Kamal,MVD AND ASSOCIATES,https://static.99acres.com/images/dealer_pnava...,DLF The Ultima,DLF The Ultima,8,Sector 81,"{'CONTACT_NAME': 'Kamal', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 7182, 'PROJ_NAME': 'DLF The Ulti...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...",NaN,NaN,NaN,NaN,NaN
2,D71549524,https://mediacdn.99acres.com/media1/22386/13/4...,https://mediacdn.99acres.com/media1/22386/13/4...,R,A 3 bhk flat for rent in sector 66 gurgaon clo...,Residential Apartment,Gurgaon,Sector 66 Gurgaon,NaN,0,3.0,3,2.0,43.0,1,4,1,7,17.0,"44,23,45,24,46,25,47,28,29,30,31,32,33,12,17,3...","27th Sep, 2023",Emaar MGF The Palm Drive,85000,85000,43.0,R,3252,1450.0,1950.0,42000.0,"{'LATITUDE': '28.401406', 'LONGITUDE': '77.050...",{'LOCALITY_ID': 0},181.160850,181.160850,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","32,17,2,5,20,21,44,23,45,24,46,47,28,29,30,39,...","['3 Baths', 'Full Power Backup', 'huda city ce...",/3-bhk-bedroom-apartment-flat-for-rent-in-emaa...,2023-11-26 00:00:00,SPID_GROUP_SEARCH_NORMAL,1950 sq.ft.,"85,000",3 BHK Flat in Sector 66 Gurgaon,3-bhk-bedroom-apartment-flat-for-rent-in-emaar...,Dealer: 1st Nest Realtors,Dealer,['FURNISHED'],['https://mediacdn.99acres.com/media1/22386/13...,['https://mediacdn.99acres.com/media1/22386/13...,14.0,"[{'category': 'MetroStation', 'text': '1 Metro...",Sandeep,1st Nest Realtors,https://static.99acres.com/images/dealer_pnava...,Emaar MGF The Palm Drive,Emaar MGF The Palm Drive,8,Sector 66,"{'CONTACT_NAME': 'Sandeep', 'CONTACT_COMPANY_N...","{'PROJECTID': 19, 'PROJ_NAME': 'Emaar MGF The ...","{'PROP_PHOTO_COUNT': '1', 'PROP_VIDEO_COUNT': ...","{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...",1920.00,NaN,NaN,NaN,NaN
3,I71493958,https://mediacdn.99acres.com/media1/22353/14/4...,https://mediacdn.99acres.com/media1/22353/14/4...,S,Looking for a 3 bhk property for purchase in g...,Residential Apartment,Gurgaon,Sector 112 Gurgaon,1.0,1,3.0,3,3.0,13740.0,4,0,1,14,28.0,"33,23,12,25,26,1,2,3,5,6,9,40,30,41,31,20,21","23rd Sep, 2023",Experion Windchants,38500000,38500000,13740.0,R,9772,NaN,2802.0,1.0,"{'LATITUDE': '28.518677', 'LONGITUDE': '77.015...",{'LOCALITY_ID': 0},260.314206,260.314206,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","2,5,20,21,23,1,6,9,40,30,41,33,12,25,26,3,31,1...","['Gated Society', 'Overlooking Park/Garden', '...",/3-bhk-bedroom-apartment-flat-for-sale-in-expe...,2023-11-22 00:00:00,SPID_GROUP_SEARCH_NORMAL,2802 sq.ft.,3.85 Cr,3 BHK Flat in Sector 112 Gurgaon,3-bhk-bedroom-apartment-flat-for-sale-in-exper...,Dealer: GROW MORE,Dealer,"['READY TO MOVE', 'RESALE', 'RERA']",['https://mediacdn.99acres.com/media1/22353/14...,['https://mediacdn.99acres.com/media1/22353/14...,8.0,"[{'category': 'Shopping', 'text': '1 Shopping'...",Kohli,GROW MORE,https://mediacdn.99acres.com/media1/17762/9/35...,Experion Windchants,Experion Windchants,8,Sector 112,"{'CONTACT_NAME': 'Kohli', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 4342, 'PROJ_NAME': 'Experion Win...","{'PROP_PHOTO_COUNT': '1', 'PROP_VIDEO_COUNT': ...","{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...",2225.56,NaN,NaN,NaN,NaN
4,H71479412,https://mediacdn.99acres.com/media1/22352/4/44...,https://mediacdn.99acres.com/media1/22352/4/44...,R,This 4 bhk flat in sector 104 gurgaon is avail...,Residential Apartment,Gurgaon,Sector 104 Gurgaon,NaN,0,3.0,4,4.0,17.0,4,6,1,12,27.0,"44,23,12,46,25,26,28,1,2,3,6,9,40,30,41,31,20,21","23rd Sep, 2023",ATS Triumph,40000,40000,17.0,R,41176,NaN,2290.0,1.0,"{'LATITUDE': '28.47844', 'LONGITUDE': '76.9861...",{'LOCALITY_ID': 0},212.747870,212.747870,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","2,20,21,44,23,46,28,1,6,9,40,30,41,12,25,26,3,31","['4 Baths', 'Full Power Backup', 'Gated Societ...",/3-bhk-bedroom-apartment-flat-for-rent-in-ats-...,2023-11-21 00:00:00,SPID_GROUP_SEARCH_NORMAL,2290 sq.ft.,"40,000",3 BHK Flat in Sector 104 Gurgaon,3-bhk-bedroom-apartment-flat-for-rent-in-ats-t...,Dealer: GROW MORE,Dealer,[],['https://mediacdn.99acres.com/media1/22352/4/...,['https://mediacdn.99acres.com/media1/22352/4/...,14.0,"[{'category': 'MetroStation', 'text': '1 Metro...",Kohli,GROW MORE,https://mediacdn.99acres.com/media1/17762/9/35...,ATS Triumph,ATS Triumph,8,Sector 104,"{'CONTACT_NAME': 'Kohli', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 25860, 'PROJ_NAME': 'ATS Triumph...","{'PROP_PHOTO_COUNT': '14', 'PROP_VIDEO_COUNT':...","{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...",NaN,NaN,NaN,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10704 entries, 0 to 10703
Data columns (total 67 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PROP_ID                       10704 non-null  object
 1   PHOTO_URL                     8864 non-null   object
 2   MEDIUM_PHOTO_URL              8864 non-null   object
 3   PREFERENCE                    10704 non-null  object
 4   DESCRIPTION                   10704 non-null  object
 5   PROPERTY_TYPE                 10704 non-null  object
 6   CITY                          10704 non-null  object
 7   LOCALITY                      10704 non-null  object
 8   TRANSACT_TYPE                 10152 non-null  float64
 9   OWNTYPE                       10704 non-null  int64
 10  BEDROOM_NUM                   10511 non-null  float64
 11  BATHROOM_NUM                  10704 non-null  int64
 12  BALCONY_NUM                   10501 non-null  float64
 13  PRICE_PER_UNIT_AREA           10704 non-null  float64
 14  FURNISH                       10704 non-null  int64
 15  FACING                        10704 non-null  int64
 16  AGE                           10704 non-null  int64
 17  FLOOR_NUM                     9804 non-null   object
 18  TOTAL_FLOOR                   10697 non-null  float64
 19  FEATURES                      10704 non-null  object
 20  REGISTER_DATE                 10704 non-null  object
 21  PROP_NAME                     9135 non-null   object
 22  MIN_PRICE                     10704 non-null  int64
 23  MAX_PRICE                     10704 non-null  int64
 24  PRICE_SQFT                    10704 non-null  float64
 25  LISTING                       10704 non-null  object
 26  BUILDING_ID                   10704 non-null  int64
 27  CARPET_SQFT                   6539 non-null   float64
 28  SUPERBUILTUP_SQFT             6712 non-null   float64
 29  BROKERAGE                     10623 non-null  float64
 30  MAP_DETAILS                   10704 non-null  object
 31  FSL_Data                      10704 non-null  object
 32  MIN_AREA_SQFT                 10704 non-null  float64
 33  MAX_AREA_SQFT                 10704 non-null  float64
 34  FORMATTED                     10704 non-null  object
 35  AMENITIES                     10620 non-null  object
 36  TOP_USPS                      8179 non-null   object
 37  PD_URL                        10702 non-null  object
 38  EXPIRY_DATE                   10704 non-null  object
 39  GROUP_NAME                    10704 non-null  object
 40  AREA                          10704 non-null  object
 41  PRICE                         10704 non-null  object
 42  PROP_HEADING                  10704 non-null  object
 43  PROP_DETAILS_URL              10704 non-null  object
 44  CLASS_HEADING                 10704 non-null  object
 45  CLASS_LABEL                   10704 non-null  object
 46  SECONDARY_TAGS                10704 non-null  object
 47  PROPERTY_IMAGES               8863 non-null   object
 48  THUMBNAIL_IMAGES              8863 non-null   object
 49  TOTAL_LANDMARK_COUNT          10638 non-null  float64
 50  FORMATTED_LANDMARK_DETAILS    10638 non-null  object
 51  CONTACT_NAME                  10660 non-null  object
 52  CONTACT_COMPANY_NAME          10699 non-null  object
 53  DEALER_PHOTO_URL              10704 non-null  object
 54  SOCIETY_NAME                  9135 non-null   object
 55  BUILDING_NAME                 9135 non-null   object
 56  CITY_ID                       10704 non-null  int64
 57  LOCALITY_WO_CITY              10704 non-null  object
 58  profile                       10704 non-null  object
 59  xid                           10704 non-null  object
 60  metadata                      10704 non-null  object
 61  location                      10704 non-null  object
 62  BUILTUP_SQFT                  2733 non-null   float64
 63  SUPER_SQFT                    875 non-null    float64
 64  COMMON_FURNISHING_ATTRIBUTES  0 non-null      float64
 65  QUALITY_SCORE                 2 non-null      float64
 66  FURNISHING_ATTRIBUTES         2 non-null      object
dtypes: float64(16), int64(9), object(42)
memory usage: 5.5+ MB

##### _So, we have a lot of columns. A whooping 66_

In [4]:
df.isna().sum()

PROP_ID                             0
PHOTO_URL                        1840
MEDIUM_PHOTO_URL                 1840
PREFERENCE                          0
DESCRIPTION                         0
                                ...
BUILTUP_SQFT                     7971
SUPER_SQFT                       9829
COMMON_FURNISHING_ATTRIBUTES    10704
QUALITY_SCORE                   10702
FURNISHING_ATTRIBUTES           10702
Length: 67, dtype: int64

In [5]:
data_columns = df.columns
missing_total = df.isnull().sum()
missing_percentage = 100 * missing_total / df.shape[0]

missing_df = pd.concat([missing_total, missing_percentage], axis=1)
missing_df.rename(columns={0: "# Missing", 1: "% Missing"}, inplace=True)
missing_df = missing_df.sort_values(by=["% Missing"], ascending=False)
missing_df = missing_df.loc[missing_df["% Missing"] > 0, :]

# Print some summary information
print("Your selected dataframe has " + str(df.shape[1]) + " columns.\n" +
      "There are " + str(missing_df.shape[0]) +
      " columns that have missing values.")

missing_df

Your selected dataframe has 67 columns.
There are 27 columns that have missing values.

                              # Missing   % Missing
COMMON_FURNISHING_ATTRIBUTES      10704  100.000000
FURNISHING_ATTRIBUTES             10702   99.981315
QUALITY_SCORE                     10702   99.981315
SUPER_SQFT                         9829   91.825486
BUILTUP_SQFT                       7971   74.467489
CARPET_SQFT                        4165   38.910688
SUPERBUILTUP_SQFT                  3992   37.294469
TOP_USPS                           2525   23.589312
THUMBNAIL_IMAGES                   1841   17.199178
PROPERTY_IMAGES                    1841   17.199178
PHOTO_URL                          1840   17.189836
MEDIUM_PHOTO_URL                   1840   17.189836
SOCIETY_NAME                       1569   14.658072
PROP_NAME                          1569   14.658072
BUILDING_NAME                      1569   14.658072
FLOOR_NUM                           900    8.408072
TRANSACT_TYPE                       552    5.156951
BALCONY_NUM                         203    1.896487
BEDROOM_NUM                         193    1.803064
AMENITIES                            84    0.784753
BROKERAGE                            81    0.756726
FORMATTED_LANDMARK_DETAILS           66    0.616592
TOTAL_LANDMARK_COUNT                 66    0.616592
CONTACT_NAME                         44    0.411061
TOTAL_FLOOR                           7    0.065396
CONTACT_COMPANY_NAME                  5    0.046712
PD_URL                                2    0.018685

In [6]:
# so some of the columns have excessively too many missing values so i'mma just start by dropping those ones first i.e > 90
df.drop(
    columns=missing_df.loc[missing_df["% Missing"] > 90, :].index, inplace=True)
df

,PROP_ID,PHOTO_URL,MEDIUM_PHOTO_URL,PREFERENCE,DESCRIPTION,PROPERTY_TYPE,CITY,LOCALITY,TRANSACT_TYPE,OWNTYPE,BEDROOM_NUM,BATHROOM_NUM,BALCONY_NUM,PRICE_PER_UNIT_AREA,FURNISH,FACING,AGE,FLOOR_NUM,TOTAL_FLOOR,FEATURES,REGISTER_DATE,PROP_NAME,MIN_PRICE,MAX_PRICE,PRICE_SQFT,LISTING,BUILDING_ID,CARPET_SQFT,SUPERBUILTUP_SQFT,BROKERAGE,MAP_DETAILS,FSL_Data,MIN_AREA_SQFT,MAX_AREA_SQFT,FORMATTED,AMENITIES,TOP_USPS,PD_URL,EXPIRY_DATE,GROUP_NAME,AREA,PRICE,PROP_HEADING,PROP_DETAILS_URL,CLASS_HEADING,CLASS_LABEL,SECONDARY_TAGS,PROPERTY_IMAGES,THUMBNAIL_IMAGES,TOTAL_LANDMARK_COUNT,FORMATTED_LANDMARK_DETAILS,CONTACT_NAME,CONTACT_COMPANY_NAME,DEALER_PHOTO_URL,SOCIETY_NAME,BUILDING_NAME,CITY_ID,LOCALITY_WO_CITY,profile,xid,metadata,location,BUILTUP_SQFT
0,O71585872,https://mediacdn.99acres.com/media1/22409/13/4...,https://mediacdn.99acres.com/media1/22409/13/4...,S,4 bhk flat for resale in alpha corp gurgaon one,Residential Apartment,Gurgaon,Sector 84 Gurgaon,1.0,1,4.0,4,4.0,8766.0,4,1,2,14,26.0,"33,23,12,46,25,47,39,1,3,6,9,40,41,30,20,42,21,32","29th Sep, 2023",Alpha Corp GurgaonOne 84,26300000,26300000,8766.0,R,10532,3000.0,3434.0,263000.0,"{'LATITUDE': '28.4065341', 'LONGITUDE': '76.96...",{'LOCALITY_ID': 0},319.028902,319.028902,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","20,21,32,23,46,47,39,1,6,9,40,41,30,42,33,12,2...","['North Facing', 'Recently Renovated', 'Gated ...",/4-bhk-bedroom-apartment-flat-for-sale-in-alph...,2023-11-28 00:00:00,SPID_GROUP_SEARCH_NORMAL,3434 sq.ft.,2.63 Cr,4 BHK Flat in Sector 84 Gurgaon,4-bhk-bedroom-apartment-flat-for-sale-in-alpha...,Dealer: propertyline,Dealer,"['READY TO MOVE', 'RESALE']",['https://mediacdn.99acres.com/media1/22409/13...,['https://mediacdn.99acres.com/media1/22409/13...,10.0,"[{'category': 'Shopping', 'text': '4 Shoppings...",gaurav khosla,propertyline,https://static.99acres.com/images/dealer_pnava...,Alpha Corp GurgaonOne 84,Alpha Corp GurgaonOne 84,8,Sector 84,"{'CONTACT_NAME': 'gaurav khosla', 'CONTACT_COM...","{'PROJECTID': 5096, 'PROJ_NAME': 'Alpha Corp G...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...",NaN
1,T71585466,https://mediacdn.99acres.com/media1/22425/6/44...,https://mediacdn.99acres.com/media1/22425/6/44...,S,"Explore dlf ultima, an upscale ready-To-Move h...",Residential Apartment,Gurgaon,Sector 81 Gurgaon,1.0,1,4.0,4,3.0,21176.0,4,1,1,7,29.0,"44,33,23,12,46,25,47,26,17,29,19,1,3,5,6,9,30,...","29th Sep, 2023",DLF The Ultima,36000000,36000000,21176.0,R,12704,1700.0,2870.0,1.0,"{'LATITUDE': '28.3889069', 'LONGITUDE': '76.95...",{'LOCALITY_ID': 0},266.631610,266.631610,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","17,5,20,21,10,44,23,46,47,29,19,1,6,9,30,41,43...","['North Facing', ""st. xavier's within 500m"", '...",/4-bhk-bedroom-apartment-flat-for-sale-in-dlf-...,2023-11-28 00:00:00,SPID_GROUP_SEARCH_NORMAL,2870 sq.ft.,3.6 Cr,4 BHK Flat in Sector 81 Gurgaon,4-bhk-bedroom-apartment-flat-for-sale-in-dlf-t...,Dealer: MVD AND ASSOCIATES,Dealer,"['READY TO MOVE', 'RESALE', 'RERA']",['https://mediacdn.99acres.com/media1/22425/6/...,['https://mediacdn.99acres.com/media1/22425/6/...,9.0,"[{'category': 'MetroStation', 'text': '1 Metro...",Kamal,MVD AND ASSOCIATES,https://static.99acres.com/images/dealer_pnava...,DLF The Ultima,DLF The Ultima,8,Sector 81,"{'CONTACT_NAME': 'Kamal', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 7182, 'PROJ_NAME': 'DLF The Ulti...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...",NaN
2,D71549524,https://mediacdn.99acres.com/media1/22386/13/4...,https://mediacdn.99acres.com/media1/22386/13/4...,R,A 3 bhk flat for rent in sector 66 gurgaon clo...,Residential Apartment,Gurgaon,Sector 66 Gurgaon,NaN,0,3.0,3,2.0,43.0,1,4,1,7,17.0,"44,23,45,24,46,25,47,28,29,30,31,32,33,12,17,3...","27th Sep, 2023",Emaar MGF The Palm Drive,85000,85000,43.0,R,3252,1450.0,1950.0,42000.0,"{'LATITUDE': '28.401406', 'LONGITUDE': '77.050...",{'LOCALITY_ID': 0},181.160850,181.160850,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","32,17,2,5,20,21,44,23,45,24,46,47,28,29,30,39,...","['3 Baths', 'Full Power Backup', 'huda city ce...",/3-bhk-bedroom-apartment-flat-for-rent-in-emaa...,2023-11-26 00:00:00,SPID_GROUP_SEARCH_NORMAL,1950 sq.ft.,"85,000",3 BHK Flat in Sector 66 Gurgaon,3-bhk-bedroom-apartment-flat-for-rent-in-emaar...,Dealer: 1st Nest Realtors,Dealer,['FURNISHED'],['https://mediacdn.99acres.com/media1/22386/13...,['https://mediacdn.99acres.com/media1/22386/13...,14.0,"[{'category': 'MetroStation', 'text': '1 Metro...",Sandeep,1st Nest Realtors,https://static.99acres.com/images/dealer_pnava...,Emaar MGF The Palm Drive,Emaar MGF The Palm Drive,8,Sector 66,"{'CONTACT_NAME': 'Sandeep', 'CONTACT_COMPANY_N...","{'PROJECTID': 19, 'PROJ_NAME': 'Emaar MGF The ...","{'PROP_PHOTO_COUNT': '1', 'PROP_VIDEO_COUNT': ...","{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...",1920.00
3,I71493958,https://mediacdn.99acres.com/media1/22353/14/4...,https://mediacdn.99acres.com/media1/22353/14/4...,S,Looking for a 3 bhk property for purchase in g...,Residential Apartment,Gurgaon,Sector 112 Gurgaon,1.0,1,3.0,3,3.0,13740.0,4,0,1,14,28.0,"33,23,12,25,26,1,2,3,5,6,9,40,30,41,31,20,21","23rd Sep, 2023",Experion Windchants,38500000,38500000,13740.0,R,9772,NaN,2802.0,1.0,"{'LATITUDE': '28.518677', 'LONGITUDE': '77.015...",{'LOCALITY_ID': 0},260.314206,260.314206,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","2,5,20,21,23,1,6,9,40,30,41,33,12,25,26,3,31,1...","['Gated Society', 'Overlooking Park/Garden', '...",/3-bhk-bedroom-apartment-flat-for-sale-in-expe...,2023-11-22 00:00:00,SPID_GROUP_SEARCH_NORMAL,2802 sq.ft.,3.85 Cr,3 BHK Flat in Sector 112 Gurgaon,3-bhk-bedroom-apartment-flat-for-sale-in-exper...,Dealer: GROW MORE,Dealer,"['READY TO MOVE', 'RESALE', 'RERA']",['https://mediacdn.99acres.com/media1/22353/14...,['https://mediacdn.99acres.com/media1/22353/14...,8.0,"[{'category': 'Shopping', 'text': '1 Shopping'...",Kohli,GROW MORE,https://mediacdn.99acres.com/media1/17762/9/35...,Experion Windchants,Experion Windchants,8,Sector 112,"{'CONTACT_NAME': 'Kohli', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 4342, 'PROJ_NAME': 'Experion Win...","{'PROP_PHOTO_COUNT': '1', 'PROP_VIDEO_COUNT': ...","{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...",2225.56
4,H71479412,https://mediacdn.99acres.com/media1/22352/4/44...,https://mediacdn.99acres.com/media1/22352/4/44...,R,This 4 bhk flat in sector 104 gurgaon is avail...,Residential Apartment,Gurgaon,Sector 104 Gurgaon,NaN,0,3.0,4,4.0,17.0,4,6,1,12,27.0,"44,23,12,46,25,26,28,1,2,3,6,9,40,30,41,31,20,21","23rd Sep, 2023",ATS Triumph,40000,40000,17.0,R,41176,NaN,2290.0,1.0,"{'LATITUDE': '28.47844', 'LONGITUDE': '76.9861...",{'LOCALITY_ID': 0},212.747870,212.747870,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","2,20,21,44,23,46,28,1,6,9,40,30,41,12,25,26,3,31","['4 Baths', 'Full Power Backup', 'Gated Societ...",/3-bhk-bedroom-apartment-flat-for-rent-in-ats-...,2023-11-21 00:00:00,SPID_GROUP_SEARCH_NORMAL,2290 sq.ft.,"40,000",3 BHK Flat in Sector 104 Gurgaon,3-bhk-bedroom-apartment-flat-for-rent-in-ats-t...,Dealer: GROW MORE,Dealer,[],['https://mediacdn.99acres.com/media1/22352/4/...,['https://mediacdn.99acres.com/media1/22352/4/...,14.0,"[{'category': 'MetroStation', 'text': '1 Metro...",Kohli,GROW MORE,https://mediacdn.99acres.com/media1/17762/9/35...,ATS Triumph,ATS Triumph,8,Sector 104,"{'CONTACT_NAME': 'Kohli', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 25860, 'PROJ_NAME': 'ATS Triumph...","{'PROP_PHOTO_COUNT': '14', 'PROP_VIDEO_COUNT':...","{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10699,D71780966,NaN,NaN,S,The ultima offers you ultra-Modern yet graciou...,Residential Apartment,Gurgaon,Sector 81 Gurgaon,1.0,1,3.0,2,3.0,11887.0,4,3,6,16,29.0,"33,44,23,12,24,25,26,17,19,1,2,3,5,6,9,30,20,21",Yesterday,DLF The Ultima,25000000,25000000,11887.0,R,12704,NaN,2103.0,0.0,"{'LATITUDE': '28.3889069', 'LONGITUDE': '76.95...",{'LOCALITY_ID': 0},195.375009,195.375009,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","17,2,5,20,21,44,23,24,19,1,6,9,30,33,12,25,26,...","['East Facing', 'huda city center Nearby', 'De...",/3-bhk-bedroom-apartment-flat-for-sale-in-dlf-...,2023-12-10 00:00:00,SPID_CONF_GROUPING,2103 sq.ft.,2.5 Cr,3 BHK Flat in Sector 81 Gurgaon,3-bhk-bedroom-apartment-flat-for-sale-in-dlf-t...,Dealer: BPM Realty,Dealer,"['READY TO MOVE', 'RESALE', 'RERA']",NaN,NaN,9.0,"[{'category': 'MetroStation', 'text': '1 Metro...",Parmod Chauhan,BPM Realty,https://static.99acres.com/images/dealer_pnava...,DLF The Ultima,DLF The Ultima,8,Sector 81,"{'CONTACT_NAME': 'Parmod Chauhan', 'CONTACT_CO...","{'PROJECTID': 7182, 'PROJ_NAME': 'DLF The Ulti...","{'PROP_PHOTO_COUNT': '0', 'PROP_VIDEO_COUNT': ...","{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...",NaN
10700,L71779362,https://mediacdn.99acres.com/media1/22520/6/45...,https://mediacdn.99acres.com/media1/22520/6/45...,S,Check out this 3 bhk apartment for sale in cen...,Residential Apartment,Gurgaon,Sector 83 Gurgaon,1.0,1,3.0,2,4.0,9100.0,4,5,5,18,33.0,"44,23,45,24,46,25,47,26,28,29,30,31,10,32,33,1...",Yesterday,cendana,13500000,13500000,9100.0,R,0,NaN,NaN,0.0,"{'LATITUDE': '28.39661', 'LONGITUDE': '76.9728...",{'LOCALITY_ID': 0},134.709350,134.709350,"{'AVAIL': {'AVAILABILITY': 1, 'SUB_AVAILABILIT...","10,32,17,5,8,20,21,44,23,45,24,46,47,28,29,30,...","['North-East Facing', 'Private Garden', 'Rps s...",/3-bhk-bedroom-apartment-flat-for-sale-in-sect...,2023-12-10 00:00:00,SPID_CONF_GROUPING,1450 sq.ft.,1.35 Cr,3 BHK Flat in Sector 83 Gurgaon,3-bhk-bedroom-apartment-flat-for-sale-in-secto...,Dealer: Avenue One,Dealer,"['UNDER CONSTRUCTION', 'RESALE']",['https://mediacdn.99acres.com/media1/22520/6/...,['https://mediacdn.99acres.com/media1/22520/6/...,11.0,"[{'category': 'Hospital', 'text': '1 Hospital'...",Ashok Yadav,Avenue One,https://mediacdn.99acres.com/media1/22013/2/44...,cendana,cendana,8,Sector 83,"{'CONTACT_NAME': 'Ashok Yadav', 'CONTACT_COMPA...","{'PROJECTID': 0, 'BUILDERID': 0}","{'PROP_PHOTO_COUNT': '3', 'PROP_VIDEO_COUNT': ...","{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...",1450.00
10701,N71778916,https://mediacdn.99acres.com/media1/22520/0/45...,https://mediacdn.99acres.com/media1/22520/0/45...,S,Cendana is one of gurgaon's most sought after ...,Residential Apartment,Gurgaon,Sector 83 Gurgaon,1.0,1,3.0,2,4.0,8896.0,4,3,5,10,33.0,"44,23,45,24,46,25,47,26,28,29,30,31,10,32,33,1...",Yesterday,cendana,12900000,12900000,8896.0,R,0,NaN,1450.0,0.0,"{'LATITUDE': '28.39661', 'LONGITUDE': '76.9728...",{'LOCALITY_ID': 0},134.709350,134.709350,"{'AVAIL': {'AVAILABILITY': 1, 'SUB_AVAILABILIT...","10,32,17,5,8,20,21,44,23,45,24,46,47,28,29,30,...","['East Facing', 'Private Garden', 'RPS SCHOOL ...",/3-bhk-bedroom-apartment-flat-for-sale-in-sect...,2023-12-10 00:00:00,SPID_CONF_GROUPING,1450 sq.ft.,1.29 Cr,3 BHK Flat in Sector 83 Gurgaon,3-bhk-bedroom-apartment-flat-for-sale-in-secto...,Dealer: Avenue One,Dealer,"['UNDER CONSTRUCTION', 'RESALE']",['https://mediacdn.99acres.com/media1/22520/0/...,['https://mediacdn.99acres.com/media1/22520/0/...,11.0,"[{'category': 'Hospital', 'text': '1 Hospital'...",Ashok Yadav,Avenue One,https://mediacdn.99acres.com/media1/22013/2/44...,cendana,cendana,8,Sector 83,"{'CONTACT_NAME': 'Ashok Yadav', 'CONTACT_COMPA...","{'PROJECTID': 0, 'BUILDERID': 0}","{'PROP_PHOTO_COUNT': '3', 'PROP_VIDEO_COUNT': ...","{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...",NaN
10702,K71778134,https://mediacdn.99acres.com/media1/22519/8/45...,https://mediacdn.99acres.com/media1/22519/8/45...,S,"Situated in sector 83 gurgaon, cendana residen...",Residential Apartment,Gurgaon,Sector 83 Gurgaon,1.0,1,3.0,2,4.0,8965.0,4,3,5,10,33.0,"44,23,45,24,46,25,47,26,28,29,30,31,32,33,12,1...",Yesterday,cendana Residences ss group,13000000,13000000,8965.0,R,0,NaN,1450.0,0.0,"{'LATITUDE': '28.39661', 'LONGITUDE': '76.9728...",{'LOCALITY_ID': 0},134.709350,134.709350,"{'AVAIL': {'AVAILABILITY': 1, 'SUB_AVAILABILIT...","32,17,5,8,20,21,44,23,45,24,46,47,28,29,30,39,...","['East Facing', 'Private Garden', 'St. xavier ...",/3-bhk-bedroom-apartment-flat-for-sale-in-sect...,2023-12-10 00:00:00,SPID_CONF_GROUPING,1450 sq.ft.,1.3 Cr,3 BHK Flat in Sector 83 Gurgaon,3-bhk-bedroom-apartment-flat-for-sale-in-secto...,Dealer: Avenue One,Dealer,"['UNDER CONSTRUCTION', 'RESALE']",['https://mediacdn.99acres.com/media1/22519/8/...,['https://mediacdn.99acres.com/media1/22519/8/...,11.0,"[{'category': 'Hospital', 'text': '1 Hospital'...",Ashok Yadav,Avenue One,https://mediacdn.99acres.com/media1/22013/2/44...,cendana Residences ss group,cendana Residences ss group,8,Sector 83,"{'CONTACT_NAME': 'Ashok Yadav', 'CONTACT_COMPA...","{'PROJECTID': 0, 'BUILDERID': 0}","{'PROP_PHOTO_COUNT': '6', 'PROP_VIDEO_COUNT': ...","{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...",NaN
10703,C71777090,NaN,NaN,S,3 bhk with utility in birla anaika spacious ro...,Independent/Builder Floor,Gurgaon,Sector 63A Gurgaon,1.0,1,3.0,3,3.0,15000.0,2,1,5,1,4.0,"44,23,45,24,25,26,17,29,19,5,6,40,41,10",Yesterday,Birla Navya,48000000,48000000,15000.0,R,1033654,NaN,3200.0,1.0,"{'LATITUDE': '28.3990776', 'LONGITUDE': '77.10...",{'LOCALITY_ID': 0},297.289600,297.289600,"{'AVAIL': {'AVAILABILITY': 1, 'SUB_AVAILABILIT...","17,5,10,44,23,45,24,29,19,6,40,41,25,26,101,102",['North Facing'],/3-bhk-bedroom-independent-builder-floor-for-s...,2023-12-10 00:00:00,SPID_CONF_GROUPING,3200 sq.ft.,4.8 Cr,3 BHK Independent Builder Floor in Sector 63A ...,3-bhk-bedroom-independent-builder-floor-for-sa...,Dealer: AIA Landbase,Dealer,"['UNDER CONSTRUCTION', 'RESALE', 'RERA']",NaN,NaN,12.0,"[{'category': 'MetroStation', 'text': '1 Metro...",Anuj,AIA Landbase,https://static.99acres.com/images/dealer_pnava...,Birla Navya,Birla Navya,8,Sector 63A,"{'CONTACT_NAME': 'Anuj', 'CONTACT_COMPANY_NAME...","{'PROJECTID': 351013, 'PROJ_NAME': 'Birla Navy...","{'PROP_PHOTO_COUNT': '0', 'PROP_VIDEO_COUNT': ...","{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...",NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10704 entries, 0 to 10703
Data columns (total 63 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   PROP_ID                     10704 non-null  object
 1   PHOTO_URL                   8864 non-null   object
 2   MEDIUM_PHOTO_URL            8864 non-null   object
 3   PREFERENCE                  10704 non-null  object
 4   DESCRIPTION                 10704 non-null  object
 5   PROPERTY_TYPE               10704 non-null  object
 6   CITY                        10704 non-null  object
 7   LOCALITY                    10704 non-null  object
 8   TRANSACT_TYPE               10152 non-null  float64
 9   OWNTYPE                     10704 non-null  int64
 10  BEDROOM_NUM                 10511 non-null  float64
 11  BATHROOM_NUM                10704 non-null  int64
 12  BALCONY_NUM                 10501 non-null  float64
 13  PRICE_PER_UNIT_AREA         10704 non-null  float64
 14  FURNISH                     10704 non-null  int64
 15  FACING                      10704 non-null  int64
 16  AGE                         10704 non-null  int64
 17  FLOOR_NUM                   9804 non-null   object
 18  TOTAL_FLOOR                 10697 non-null  float64
 19  FEATURES                    10704 non-null  object
 20  REGISTER_DATE               10704 non-null  object
 21  PROP_NAME                   9135 non-null   object
 22  MIN_PRICE                   10704 non-null  int64
 23  MAX_PRICE                   10704 non-null  int64
 24  PRICE_SQFT                  10704 non-null  float64
 25  LISTING                     10704 non-null  object
 26  BUILDING_ID                 10704 non-null  int64
 27  CARPET_SQFT                 6539 non-null   float64
 28  SUPERBUILTUP_SQFT           6712 non-null   float64
 29  BROKERAGE                   10623 non-null  float64
 30  MAP_DETAILS                 10704 non-null  object
 31  FSL_Data                    10704 non-null  object
 32  MIN_AREA_SQFT               10704 non-null  float64
 33  MAX_AREA_SQFT               10704 non-null  float64
 34  FORMATTED                   10704 non-null  object
 35  AMENITIES                   10620 non-null  object
 36  TOP_USPS                    8179 non-null   object
 37  PD_URL                      10702 non-null  object
 38  EXPIRY_DATE                 10704 non-null  object
 39  GROUP_NAME                  10704 non-null  object
 40  AREA                        10704 non-null  object
 41  PRICE                       10704 non-null  object
 42  PROP_HEADING                10704 non-null  object
 43  PROP_DETAILS_URL            10704 non-null  object
 44  CLASS_HEADING               10704 non-null  object
 45  CLASS_LABEL                 10704 non-null  object
 46  SECONDARY_TAGS              10704 non-null  object
 47  PROPERTY_IMAGES             8863 non-null   object
 48  THUMBNAIL_IMAGES            8863 non-null   object
 49  TOTAL_LANDMARK_COUNT        10638 non-null  float64
 50  FORMATTED_LANDMARK_DETAILS  10638 non-null  object
 51  CONTACT_NAME                10660 non-null  object
 52  CONTACT_COMPANY_NAME        10699 non-null  object
 53  DEALER_PHOTO_URL            10704 non-null  object
 54  SOCIETY_NAME                9135 non-null   object
 55  BUILDING_NAME               9135 non-null   object
 56  CITY_ID                     10704 non-null  int64
 57  LOCALITY_WO_CITY            10704 non-null  object
 58  profile                     10704 non-null  object
 59  xid                         10704 non-null  object
 60  metadata                    10704 non-null  object
 61  location                    10704 non-null  object
 62  BUILTUP_SQFT                2733 non-null   float64
dtypes: float64(13), int64(9), object(41)
memory usage: 5.1+ MB

In [8]:
# so now i want to see how the data types are like distrbuted among the columns
df.dtypes.value_counts()

object     41
float64    13
int64       9
Name: count, dtype: int64

In [9]:
# for the objects columns
df.select_dtypes(include=["object"]).columns

Index(['PROP_ID', 'PHOTO_URL', 'MEDIUM_PHOTO_URL', 'PREFERENCE', 'DESCRIPTION',
       'PROPERTY_TYPE', 'CITY', 'LOCALITY', 'FLOOR_NUM', 'FEATURES',
       'REGISTER_DATE', 'PROP_NAME', 'LISTING', 'MAP_DETAILS', 'FSL_Data',
       'FORMATTED', 'AMENITIES', 'TOP_USPS', 'PD_URL', 'EXPIRY_DATE',
       'GROUP_NAME', 'AREA', 'PRICE', 'PROP_HEADING', 'PROP_DETAILS_URL',
       'CLASS_HEADING', 'CLASS_LABEL', 'SECONDARY_TAGS', 'PROPERTY_IMAGES',
       'THUMBNAIL_IMAGES', 'FORMATTED_LANDMARK_DETAILS', 'CONTACT_NAME',
       'CONTACT_COMPANY_NAME', 'DEALER_PHOTO_URL', 'SOCIETY_NAME',
       'BUILDING_NAME', 'LOCALITY_WO_CITY', 'profile', 'xid', 'metadata',
       'location'],
      dtype='object')

In [10]:
# for the numeric columns
df.select_dtypes(include=np.number).columns

Index(['TRANSACT_TYPE', 'OWNTYPE', 'BEDROOM_NUM', 'BATHROOM_NUM',
       'BALCONY_NUM', 'PRICE_PER_UNIT_AREA', 'FURNISH', 'FACING', 'AGE',
       'TOTAL_FLOOR', 'MIN_PRICE', 'MAX_PRICE', 'PRICE_SQFT', 'BUILDING_ID',
       'CARPET_SQFT', 'SUPERBUILTUP_SQFT', 'BROKERAGE', 'MIN_AREA_SQFT',
       'MAX_AREA_SQFT', 'TOTAL_LANDMARK_COUNT', 'CITY_ID', 'BUILTUP_SQFT'],
      dtype='object')

In [11]:
df.duplicated().sum()

0

In [12]:
df.drop_duplicates(inplace=True)

In [13]:
df.sort_index(axis=1, inplace=True)

In [14]:
age_label_data = pd.read_csv(
    "../data/age.csv", index_col=0).rename(columns={"label": "Age_label"})
age_mapping = age_label_data["Age_label"]


df["AGE"] = df["AGE"].map(age_mapping)
df

,AGE,AMENITIES,AREA,BALCONY_NUM,BATHROOM_NUM,BEDROOM_NUM,BROKERAGE,BUILDING_ID,BUILDING_NAME,BUILTUP_SQFT,CARPET_SQFT,CITY,CITY_ID,CLASS_HEADING,CLASS_LABEL,CONTACT_COMPANY_NAME,CONTACT_NAME,DEALER_PHOTO_URL,DESCRIPTION,EXPIRY_DATE,FACING,FEATURES,FLOOR_NUM,FORMATTED,FORMATTED_LANDMARK_DETAILS,FSL_Data,FURNISH,GROUP_NAME,LISTING,LOCALITY,LOCALITY_WO_CITY,MAP_DETAILS,MAX_AREA_SQFT,MAX_PRICE,MEDIUM_PHOTO_URL,MIN_AREA_SQFT,MIN_PRICE,OWNTYPE,PD_URL,PHOTO_URL,PREFERENCE,PRICE,PRICE_PER_UNIT_AREA,PRICE_SQFT,PROPERTY_IMAGES,PROPERTY_TYPE,PROP_DETAILS_URL,PROP_HEADING,PROP_ID,PROP_NAME,REGISTER_DATE,SECONDARY_TAGS,SOCIETY_NAME,SUPERBUILTUP_SQFT,THUMBNAIL_IMAGES,TOP_USPS,TOTAL_FLOOR,TOTAL_LANDMARK_COUNT,TRANSACT_TYPE,location,metadata,profile,xid
0,5-10 Year Old Property,"20,21,32,23,46,47,39,1,6,9,40,41,30,42,33,12,2...",3434 sq.ft.,4.0,4,4.0,263000.0,10532,Alpha Corp GurgaonOne 84,NaN,3000.0,Gurgaon,8,Dealer: propertyline,Dealer,propertyline,gaurav khosla,https://static.99acres.com/images/dealer_pnava...,4 bhk flat for resale in alpha corp gurgaon one,2023-11-28 00:00:00,1,"33,23,12,46,25,47,39,1,3,6,9,40,41,30,20,42,21,32",14,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'Shopping', 'text': '4 Shoppings...",{'LOCALITY_ID': 0},4,SPID_GROUP_SEARCH_NORMAL,R,Sector 84 Gurgaon,Sector 84,"{'LATITUDE': '28.4065341', 'LONGITUDE': '76.96...",319.028902,26300000,https://mediacdn.99acres.com/media1/22409/13/4...,319.028902,26300000,1,/4-bhk-bedroom-apartment-flat-for-sale-in-alph...,https://mediacdn.99acres.com/media1/22409/13/4...,S,2.63 Cr,8766.0,8766.0,['https://mediacdn.99acres.com/media1/22409/13...,Residential Apartment,4-bhk-bedroom-apartment-flat-for-sale-in-alpha...,4 BHK Flat in Sector 84 Gurgaon,O71585872,Alpha Corp GurgaonOne 84,"29th Sep, 2023","['READY TO MOVE', 'RESALE']",Alpha Corp GurgaonOne 84,3434.0,['https://mediacdn.99acres.com/media1/22409/13...,"['North Facing', 'Recently Renovated', 'Gated ...",26.0,10.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'gaurav khosla', 'CONTACT_COM...","{'PROJECTID': 5096, 'PROJ_NAME': 'Alpha Corp G..."
1,1-5 Year Old Property,"17,5,20,21,10,44,23,46,47,29,19,1,6,9,30,41,43...",2870 sq.ft.,3.0,4,4.0,1.0,12704,DLF The Ultima,NaN,1700.0,Gurgaon,8,Dealer: MVD AND ASSOCIATES,Dealer,MVD AND ASSOCIATES,Kamal,https://static.99acres.com/images/dealer_pnava...,"Explore dlf ultima, an upscale ready-To-Move h...",2023-11-28 00:00:00,1,"44,33,23,12,46,25,47,26,17,29,19,1,3,5,6,9,30,...",7,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'MetroStation', 'text': '1 Metro...",{'LOCALITY_ID': 0},4,SPID_GROUP_SEARCH_NORMAL,R,Sector 81 Gurgaon,Sector 81,"{'LATITUDE': '28.3889069', 'LONGITUDE': '76.95...",266.631610,36000000,https://mediacdn.99acres.com/media1/22425/6/44...,266.631610,36000000,1,/4-bhk-bedroom-apartment-flat-for-sale-in-dlf-...,https://mediacdn.99acres.com/media1/22425/6/44...,S,3.6 Cr,21176.0,21176.0,['https://mediacdn.99acres.com/media1/22425/6/...,Residential Apartment,4-bhk-bedroom-apartment-flat-for-sale-in-dlf-t...,4 BHK Flat in Sector 81 Gurgaon,T71585466,DLF The Ultima,"29th Sep, 2023","['READY TO MOVE', 'RESALE', 'RERA']",DLF The Ultima,2870.0,['https://mediacdn.99acres.com/media1/22425/6/...,"['North Facing', ""st. xavier's within 500m"", '...",29.0,9.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Kamal', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 7182, 'PROJ_NAME': 'DLF The Ulti..."
2,1-5 Year Old Property,"32,17,2,5,20,21,44,23,45,24,46,47,28,29,30,39,...",1950 sq.ft.,2.0,3,3.0,42000.0,3252,Emaar MGF The Palm Drive,1920.00,1450.0,Gurgaon,8,Dealer: 1st Nest Realtors,Dealer,1st Nest Realtors,Sandeep,https://static.99acres.com/images/dealer_pnava...,A 3 bhk flat for rent in sector 66 gurgaon clo...,2023-11-26 00:00:00,4,"44,23,45,24,46,25,47,28,29,30,31,32,33,12,17,3...",7,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'MetroStation', 'text': '1 Metro...",{'LOCALITY_ID': 0},1,SPID_GROUP_SEARCH_NORMAL,R,Sector 66 Gurgaon,Sector 66,"{'LATITUDE': '28.401406', 'LONGITUDE': '77.050...",181.160850,85000,https://mediacdn.99acres.com/media1/22386/13/4...,181.160850,85000,0,/3-bhk-bedroom-apartment-flat-for-rent-in-emaa...,https://mediacdn.99acres.com/media1/22386/13/4...,R,"85,000",43.0,43.0,['https://mediacdn.99acres.com/media1/22386/13...,Residential Apartment,3-bhk-bedroom-apartment-flat-for-rent-in-emaar...,3 BHK Flat in Sector 66 Gurgaon,D71549524,Emaar MGF The Palm Drive,"27th Sep, 2023",['FURNISHED'],Emaar MGF The Palm Drive,1950.0,['https://mediacdn.99acres.com/media1/22386/13...,"['3 Baths', 'Full Power Backup', 'huda city ce...",17.0,14.0,NaN,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '1', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Sandeep', 'CONTACT_COMPANY_N...","{'PROJECTID': 19, 'PROJ_NAME': 'Emaar MGF The ..."
3,1-5 Year Old Property,"2,5,20,21,23,1,6,9,40,30,41,33,12,25,26,3,31,1...",2802 sq.ft.,3.0,3,3.0,1.0,9772,Experion Windchants,2225.56,NaN,Gurgaon,8,Dealer: GROW MORE,Dealer,GROW MORE,Kohli,https://mediacdn.99acres.com/media1/17762/9/35...,Looking for a 3 bhk property for purchase in g...,2023-11-22 00:00:00,0,"33,23,12,25,26,1,2,3,5,6,9,40,30,41,31,20,21",14,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'Shopping', 'text': '1 Shopping'...",{'LOCALITY_ID': 0},4,SPID_GROUP_SEARCH_NORMAL,R,Sector 112 Gurgaon,Sector 112,"{'LATITUDE': '28.518677', 'LONGITUDE': '77.015...",260.314206,38500000,https://mediacdn.99acres.com/media1/22353/14/4...,260.314206,38500000,1,/3-bhk-bedroom-apartment-flat-for-sale-in-expe...,https://mediacdn.99acres.com/media1/22353/14/4...,S,3.85 Cr,13740.0,13740.0,['https://mediacdn.99acres.com/media1/22353/14...,Residential Apartment,3-bhk-bedroom-apartment-flat-for-sale-in-exper...,3 BHK Flat in Sector 112 Gurgaon,I71493958,Experion Windchants,"23rd Sep, 2023","['READY TO MOVE', 'RESALE', 'RERA']",Experion Windchants,2802.0,['https://mediacdn.99acres.com/media1/22353/14...,"['Gated Society', 'Overlooking Park/Garden', '...",28.0,8.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '1', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Kohli', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 4342, 'PROJ_NAME': 'Experion Win..."
4,1-5 Year Old Property,"2,20,21,44,23,46,28,1,6,9,40,30,41,12,25,26,3,31",2290 sq.ft.,4.0,4,3.0,1.0,41176,ATS Triumph,NaN,NaN,Gurgaon,8,Dealer: GROW MORE,Dealer,GROW MORE,Kohli,https://mediacdn.99acres.com/media1/17762/9/35...,This 4 bhk flat in sector 104 gurgaon is avail...,2023-11-21 00:00:00,6,"44,23,12,46,25,26,28,1,2,3,6,9,40,30,41,31,20,21",12,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'MetroStation', 'text': '1 Metro...",{'LOCALITY_ID': 0},4,SPID_GROUP_SEARCH_NORMAL,R,Sector 104 Gurgaon,Sector 104,"{'LATITUDE': '28.47844', 'LONGITUDE': '76.9861...",212.747870,40000,https://mediacdn.99acres.com/media1/22352/4/44...,212.747870,40000,0,/3-bhk-bedroom-apartment-flat-for-rent-in-ats-...,https://mediacdn.99acres.com/media1/22352/4/44...,R,"40,000",17.0,17.0,['https://mediacdn.99acres.com/media1/22352/4/...,Residential Apartment,3-bhk-bedroom-apartment-flat-for-rent-in-ats-t...,3 BHK Flat in Sector 104 Gurgaon,H71479412,ATS Triumph,"23rd Sep, 2023",[],ATS Triumph,2290.0,['https://mediacdn.99acres.com/media1/22352/4/...,"['4 Baths', 'Full Power Backup', 'Gated Societ...",27.0,14.0,NaN,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '14', 'PROP_VIDEO_COUNT':...","{'CONTACT_NAME': 'Kohli', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 25860, 'PROJ_NAME': 'ATS Triumph..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10699,0-1 Year Old Property,"17,2,5,20,21,44,23,24,19,1,6,9,30,33,12,25,26,...",2103 sq.ft.,3.0,2,3.0,0.0,12704,DLF The Ultima,NaN,NaN,Gurgaon,8,Dealer: BPM Realty,Dealer,BPM Realty,Parmod Chauhan,https://static.99acres.com/images/dealer_pnava...,The ultima offers you ultra-Modern yet graciou...,2023-12-10 00:00:00,3,"33,44,23,12,24,25,26,17,19,1,2,3,5,6,9,30,20,21",16,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'MetroStation', 'text': '1 Metro...",{'LOCALITY_ID': 0},4,SPID_CONF_GROUPING,R,Sector 81 Gurgaon,Sector 81,"{'LATITUDE': '28.3889069', 'LONGITUDE': '76.95...",195.375009,25000000,NaN,195.375009,25000000,1,/3-bhk-bedroom-apartment-flat-for-sale-in-dlf-...,NaN,S,2.5 Cr,11887.0,11887.0,NaN,Residential Apartment,3-bhk-bedroom-apartment-flat-for-sale-in-dlf-t...,3 BHK Flat in Sector 81 Gurgaon,D71780966,DLF The Ultima,Yesterday,"['READY TO MOVE', 'RESALE', 'RERA']",DLF The Ultima,2103.0,NaN,"['East Facing', 'huda city center Nearby', 'De...",29.0,9.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '0', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Parmod Chauhan', 'CONTACT_CO...","{'PROJECTID': 7182, 'PROJ_NAME': 'DLF The Ulti..."
10700,Under Construction,"10,32,17,5,8,20,21,44,23,45,24,46,47,28,29,30,...",1450 sq.ft.,4.0,2,3.0,0.0,0,cendana,1450.00,NaN,Gurgaon,8,Dealer: Avenue One,Dealer,Avenue One,Ashok Yadav,https://mediacdn.99acres.com/media1/22013/2/44...,Check out this 3 bhk apartment for sale in cen...,2023-12-10 00:00:00,5,"44,23,45,24,46,25,47,26,28,29,30,31,10,32,33,1...",18,"{'AVAIL': {'AVAILABILITY': 1, 'SUB_AVAILABILIT...","[{'category': 'Hospital', 'text': '1 Hospital'...",{'LOCALITY_ID': 0},4,SPID_CONF_GROUPING,R,Sector 83 Gurgaon,Sector 83,"{'LATITUDE': '28.39661', 'LONGITUDE': '76.9728...",134.709350,13500000,https://mediacdn.99acres.com/media1/22520/6/45...,134.709350,13500000,1,/3-bhk-bedroom-apartment-flat-for-sale-in-sect...,https://mediacdn.99acres.com/media1/22520/6/45...,S,1.35 Cr,9100.0,9100.0,['https://mediacdn.99acres.com/media1/22520/6/...,Residential Apartment,3-bhk-bedroom-apartment-flat-for-sale-in-secto...,3 BHK Flat in Sector 83 Gurgaon,L71779362,cendana,Yesterday,"['UNDER CONSTRUCTION', 'RESALE']",cendana,NaN,['https://mediacdn.99acres.com/media1/22520/6/...,"['North-East Facing', 'Private Garden', 'Rps s...",33.0,11.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '3', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Ashok Yadav', 'CONTACT_COMPA...","{'PROJECTID': 0, 'BUILDERID': 0}"
10701,Under Construction,"10,32,17,5,8,20,21,44,23,45,24,46,47,28,29,30,...",1450 sq.ft.,4.0,2,3.0,0.0,0,cendana,NaN,NaN,Gurgaon,8,Dealer: Avenue One,Dealer,Avenue One,Ashok Yadav,https://mediacdn.99acres.com/media1/22013/2/44...,Cendana is one of gurgaon's most sought after ...,2023-12-10 00:00:00,3,"44,23,45,24,46,25,47,26,28,29,30,31,10,32,33,1...",10,"{'AVAIL': {'AVAILABILITY': 1, 'SUB_AVAILABILIT...","[{'category': 'Hospital', 'text': '1 Hospital'...",{'LOCALITY_ID': 0},4,SPID_CONF_GROUPING,R,Sector 83 Gurgaon,Sector 83,"{'LATITUDE': '28.39661', 'LONGITUDE': '76.9728...",134.709350,12900000,https://mediacdn.99acres.com/media1/22520/0/45...,134.709350,12900000,1,/3-bhk-bedroom-apartment-flat-for-sale-in-sect...,https://mediacdn.99acres.com/media1/22520/0/45...,S,1.29 Cr,8896.0,8896.0,['https://mediacdn.99acres.com/media1/22520/0/...,Residential Apartment,3-bhk-bedroom-apartment-flat-for-sale-in-secto...,3 BHK Flat in Sector 83 Gurgaon,N71778916,cendana,Yesterday,"['UNDER CONSTRUCTION', 'RESALE']",cendana,1450.0,['https://mediacdn.99acres.com/media1/22520/0/...,"['East Facing', 'Private Garden', 'RPS SCHOOL ...",33.0,11.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '3', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Ashok Yadav', 'CONTACT_COMPA...","{'PROJECTID': 0, 'BUILDERID': 0}"
10702,Under Construction,"32,17,5,8,20,21,44,23,45,24,46,47,28,29,30,39,...",1450 sq.ft.,4.0,2,3.0,0.0,0,cendana Residences ss group,NaN,NaN,Gurgaon,8,Dealer: Avenue One,Dealer,Avenue One,Ashok Yadav,https://mediacdn.99acres.com/media1/22013/2/44...,"Situated in sector 83 gurgaon, cendana residen...",2023-12-10 00:00:00,3,"44,23,45,24,46,25,47,26,28,29,30,31,32,33,12,1...",10,"{'AVAIL': {'AVAILABILITY': 1, 'SUB_AVAILABILIT...","[{'category': 'Hospital', 'text': '1 Hospital'...",{'LOCALITY_ID': 0},4,SPID_CONF_GROUPING,R,Sector 83 Gurgaon,Sector 83,"{'LATITUDE': '28.39661', 'LONGITUDE': '76.9728...",134.709350,13000000,https://mediacdn.99acres.com/media1/22519/8/45...,134.709350,13000000,1,/3-bhk-bedroom-apartment-flat-for-sale-in-sect...,https://mediacdn.99acres.com/media1/22519/8/45...,S,1.3 Cr,8965.0,8965.0,['https://mediacdn.99acres.com/media1/22519/8/...,Residential Apartment,3-bhk-bedroom-apartment-flat-for-sale-in-secto...,3 BHK Flat in Sector 83 Gurgaon,K71778134,cendana Residences ss group,Yesterday,"['UNDER CONSTRUCTION', 'RESALE']",cendana Residences ss group,1450.0,['https://mediacdn.99acres.com/media1/22519/8/...,"['East Facing', 'Private Garden', 'St. xavier ...",33.0,11.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '6', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Ashok Yadav', 'CONTACT_COMPA...","{'PROJECTID': 0, 'BUILDERID': 0}"
10703,Under Construction,"17,5,10,44,23,45,24,29,19,6,40,41,25,26,101,102",3200 sq.ft.,3.0,3,3.0,1.0,1033654,Birla Navya,NaN,NaN,Gurgaon,8,Dealer: AIA Landbase,Dealer,AIA Landbase,Anuj,https://static.99acres.com/images/dealer_pnava...,3 bhk with utility in birla anaika spacious ro...,2023-12-10 00:00:00,1,"44,23,45,24,25,26,17,29,19,5,6,40,41,10",1,"{'AVAIL': {'AVAILABILITY': 1, 'SUB_AVAILABILIT...","[{'category': 'MetroStation', 'text': '1 Metro...",{'LOCALITY_ID': 0},2,SPID_CONF_GROUPING,R,Sector 63A Gurgaon,Sector 63A,"{'LATITUDE': '28.3990776', 'LONGITUDE': '77.10...",297.289600,48000000,NaN,297.289600,48000000,1,/3-bhk-bedroom-independent-builder-floor-for-s...,NaN,S,4.8 Cr,15000.0,15000.0,NaN,Independent/Builder Floor,3-bhk-bedroom-independent-builder-floor-for-sa...,3 BHK Independent Builder Floor in Sector 63A ...,C71777090,Birla Navya,Yesterday,"['UNDER CONSTRUCTION', 'RESALE', 'RERA']",Birla Navya,3200.0,NaN,['North Facing'],4.0,12.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '0', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Anuj', 'CONTACT_COMPANY_NAME...","{'PROJECTID': 351013, 'PROJ_NAME': 'Birla Navy..."

In [15]:
bedroom_num_data = pd.read_csv("../data/bedROOM_NUM.csv")
bedroom_num_mapping = bedroom_num_data["label"]

# df["BEDROOM_NUM"] = df["BEDROOM_NUM"].map(bedroom_num_mapping)
bedroom_num_data

    id label
0  001     1
1  002     2
2  003     3
3  004     4
4  005     5
5  006     6
6  007     7
7  008     8
8  009     9
9  09+    9+

In [16]:
bathroom_num_data = pd.read_csv("../data/BATHROOM_NUM.csv", index_col=0)
bathroom_num_mapping = bathroom_num_data["label"]

df["BATHROOM_NUM"] = df["BATHROOM_NUM"].map(bathroom_num_mapping)


facing_direction_data = pd.read_csv(
    "../data/facing_direction.csv", index_col=0)
facing_direction_mapping = facing_direction_data["label"]
df["FACING"] = df["FACING"].map(facing_direction_mapping)

furnish_data = pd.read_csv("../data/furnish.csv", index_col=0)
furnish_mapping = furnish_data["label"]
df["FURNISH"] = df["FURNISH"].map(furnish_mapping)

ownership_type_data = pd.read_csv("../data/ownership_type.csv", index_col=0)
ownership_type_mapping = ownership_type_data["label"]
df["OWNTYPE"] = df["OWNTYPE"].map(ownership_type_mapping)

df

,AGE,AMENITIES,AREA,BALCONY_NUM,BATHROOM_NUM,BEDROOM_NUM,BROKERAGE,BUILDING_ID,BUILDING_NAME,BUILTUP_SQFT,CARPET_SQFT,CITY,CITY_ID,CLASS_HEADING,CLASS_LABEL,CONTACT_COMPANY_NAME,CONTACT_NAME,DEALER_PHOTO_URL,DESCRIPTION,EXPIRY_DATE,FACING,FEATURES,FLOOR_NUM,FORMATTED,FORMATTED_LANDMARK_DETAILS,FSL_Data,FURNISH,GROUP_NAME,LISTING,LOCALITY,LOCALITY_WO_CITY,MAP_DETAILS,MAX_AREA_SQFT,MAX_PRICE,MEDIUM_PHOTO_URL,MIN_AREA_SQFT,MIN_PRICE,OWNTYPE,PD_URL,PHOTO_URL,PREFERENCE,PRICE,PRICE_PER_UNIT_AREA,PRICE_SQFT,PROPERTY_IMAGES,PROPERTY_TYPE,PROP_DETAILS_URL,PROP_HEADING,PROP_ID,PROP_NAME,REGISTER_DATE,SECONDARY_TAGS,SOCIETY_NAME,SUPERBUILTUP_SQFT,THUMBNAIL_IMAGES,TOP_USPS,TOTAL_FLOOR,TOTAL_LANDMARK_COUNT,TRANSACT_TYPE,location,metadata,profile,xid
0,5-10 Year Old Property,"20,21,32,23,46,47,39,1,6,9,40,41,30,42,33,12,2...",3434 sq.ft.,4.0,3+,4.0,263000.0,10532,Alpha Corp GurgaonOne 84,NaN,3000.0,Gurgaon,8,Dealer: propertyline,Dealer,propertyline,gaurav khosla,https://static.99acres.com/images/dealer_pnava...,4 bhk flat for resale in alpha corp gurgaon one,2023-11-28 00:00:00,North,"33,23,12,46,25,47,39,1,3,6,9,40,41,30,20,42,21,32",14,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'Shopping', 'text': '4 Shoppings...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 84 Gurgaon,Sector 84,"{'LATITUDE': '28.4065341', 'LONGITUDE': '76.96...",319.028902,26300000,https://mediacdn.99acres.com/media1/22409/13/4...,319.028902,26300000,Freehold,/4-bhk-bedroom-apartment-flat-for-sale-in-alph...,https://mediacdn.99acres.com/media1/22409/13/4...,S,2.63 Cr,8766.0,8766.0,['https://mediacdn.99acres.com/media1/22409/13...,Residential Apartment,4-bhk-bedroom-apartment-flat-for-sale-in-alpha...,4 BHK Flat in Sector 84 Gurgaon,O71585872,Alpha Corp GurgaonOne 84,"29th Sep, 2023","['READY TO MOVE', 'RESALE']",Alpha Corp GurgaonOne 84,3434.0,['https://mediacdn.99acres.com/media1/22409/13...,"['North Facing', 'Recently Renovated', 'Gated ...",26.0,10.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'gaurav khosla', 'CONTACT_COM...","{'PROJECTID': 5096, 'PROJ_NAME': 'Alpha Corp G..."
1,1-5 Year Old Property,"17,5,20,21,10,44,23,46,47,29,19,1,6,9,30,41,43...",2870 sq.ft.,3.0,3+,4.0,1.0,12704,DLF The Ultima,NaN,1700.0,Gurgaon,8,Dealer: MVD AND ASSOCIATES,Dealer,MVD AND ASSOCIATES,Kamal,https://static.99acres.com/images/dealer_pnava...,"Explore dlf ultima, an upscale ready-To-Move h...",2023-11-28 00:00:00,North,"44,33,23,12,46,25,47,26,17,29,19,1,3,5,6,9,30,...",7,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'MetroStation', 'text': '1 Metro...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 81 Gurgaon,Sector 81,"{'LATITUDE': '28.3889069', 'LONGITUDE': '76.95...",266.631610,36000000,https://mediacdn.99acres.com/media1/22425/6/44...,266.631610,36000000,Freehold,/4-bhk-bedroom-apartment-flat-for-sale-in-dlf-...,https://mediacdn.99acres.com/media1/22425/6/44...,S,3.6 Cr,21176.0,21176.0,['https://mediacdn.99acres.com/media1/22425/6/...,Residential Apartment,4-bhk-bedroom-apartment-flat-for-sale-in-dlf-t...,4 BHK Flat in Sector 81 Gurgaon,T71585466,DLF The Ultima,"29th Sep, 2023","['READY TO MOVE', 'RESALE', 'RERA']",DLF The Ultima,2870.0,['https://mediacdn.99acres.com/media1/22425/6/...,"['North Facing', ""st. xavier's within 500m"", '...",29.0,9.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Kamal', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 7182, 'PROJ_NAME': 'DLF The Ulti..."
2,1-5 Year Old Property,"32,17,2,5,20,21,44,23,45,24,46,47,28,29,30,39,...",1950 sq.ft.,2.0,2+,3.0,42000.0,3252,Emaar MGF The Palm Drive,1920.00,1450.0,Gurgaon,8,Dealer: 1st Nest Realtors,Dealer,1st Nest Realtors,Sandeep,https://static.99acres.com/images/dealer_pnava...,A 3 bhk flat for rent in sector 66 gurgaon clo...,2023-11-26 00:00:00,West,"44,23,45,24,46,25,47,28,29,30,31,32,33,12,17,3...",7,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'MetroStation', 'text': '1 Metro...",{'LOCALITY_ID': 0},Furnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 66 Gurgaon,Sector 66,"{'LATITUDE': '28.401406', 'LONGITUDE': '77.050...",181.160850,85000,https://mediacdn.99acres.com/media1/22386/13/4...,181.160850,85000,NaN,/3-bhk-bedroom-apartment-flat-for-rent-in-emaa...,https://mediacdn.99acres.com/media1/22386/13/4...,R,"85,000",43.0,43.0,['https://mediacdn.99acres.com/media1/22386/13...,Residential Apartment,3-bhk-bedroom-apartment-flat-for-rent-in-emaar...,3 BHK Flat in Sector 66 Gurgaon,D71549524,Emaar MGF The Palm Drive,"27th Sep, 2023",['FURNISHED'],Emaar MGF The Palm Drive,1950.0,['https://mediacdn.99acres.com/media1/22386/13...,"['3 Baths', 'Full Power Backup', 'huda city ce...",17.0,14.0,NaN,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '1', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Sandeep', 'CONTACT_COMPANY_N...","{'PROJECTID': 19, 'PROJ_NAME': 'Emaar MGF The ..."
3,1-5 Year Old Property,"2,5,20,21,23,1,6,9,40,30,41,33,12,25,26,3,31,1...",2802 sq.ft.,3.0,2+,3.0,1.0,9772,Experion Windchants,2225.56,NaN,Gurgaon,8,Dealer: GROW MORE,Dealer,GROW MORE,Kohli,https://mediacdn.99acres.com/media1/17762/9/35...,Looking for a 3 bhk property for purchase in g...,2023-11-22 00:00:00,NaN,"33,23,12,25,26,1,2,3,5,6,9,40,30,41,31,20,21",14,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'Shopping', 'text': '1 Shopping'...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 112 Gurgaon,Sector 112,"{'LATITUDE': '28.518677', 'LONGITUDE': '77.015...",260.314206,38500000,https://mediacdn.99acres.com/media1/22353/14/4...,260.314206,38500000,Freehold,/3-bhk-bedroom-apartment-flat-for-sale-in-expe...,https://mediacdn.99acres.com/media1/22353/14/4...,S,3.85 Cr,13740.0,13740.0,['https://mediacdn.99acres.com/media1/22353/14...,Residential Apartment,3-bhk-bedroom-apartment-flat-for-sale-in-exper...,3 BHK Flat in Sector 112 Gurgaon,I71493958,Experion Windchants,"23rd Sep, 2023","['READY TO MOVE', 'RESALE', 'RERA']",Experion Windchants,2802.0,['https://mediacdn.99acres.com/media1/22353/14...,"['Gated Society', 'Overlooking Park/Garden', '...",28.0,8.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '1', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Kohli', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 4342, 'PROJ_NAME': 'Experion Win..."
4,1-5 Year Old Property,"2,20,21,44,23,46,28,1,6,9,40,30,41,12,25,26,3,31",2290 sq.ft.,4.0,3+,3.0,1.0,41176,ATS Triumph,NaN,NaN,Gurgaon,8,Dealer: GROW MORE,Dealer,GROW MORE,Kohli,https://mediacdn.99acres.com/media1/17762/9/35...,This 4 bhk flat in sector 104 gurgaon is avail...,2023-11-21 00:00:00,North-West,"44,23,12,46,25,26,28,1,2,3,6,9,40,30,41,31,20,21",12,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'MetroStation', 'text': '1 Metro...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 104 Gurgaon,Sector 104,"{'LATITUDE': '28.47844', 'LONGITUDE': '76.9861...",212.747870,40000,https://mediacdn.99acres.com/media1/22352/4/44...,212.747870,40000,NaN,/3-bhk-bedroom-apartment-flat-for-rent-in-ats-...,https://mediacdn.99acres.com/media1/22352/4/44...,R,"40,000",17.0,17.0,['https://mediacdn.99acres.com/media1/22352/4/...,Residential Apartment,3-bhk-bedroom-apartment-flat-for-rent-in-ats-t...,3 BHK Flat in Sector 104 Gurgaon,H71479412,ATS Triumph,"23rd Sep, 2023",[],ATS Triumph,2290.0,['https://mediacdn.99acres.com/media1/22352/4/...,"['4 Baths', 'Full Power Backup', 'Gated Societ...",27.0,14.0,NaN,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '14', 'PROP_VIDEO_COUNT':...","{'CONTACT_NAME': 'Kohli', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 25860, 'PROJ_NAME': 'ATS Triumph..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10699,0-1 Year Old Property,"17,2,5,20,21,44,23,24,19,1,6,9,30,33,12,25,26,...",2103 sq.ft.,3.0,1+,3.0,0.0,12704,DLF The Ultima,NaN,NaN,Gurgaon,8,Dealer: BPM Realty,Dealer,BPM Realty,Parmod Chauhan,https://static.99acres.com/images/dealer_pnava...,The ultima offers you ultra-Modern yet graciou...,2023-12-10 00:00:00,East,"33,44,23,12,24,25,26,17,19,1,2,3,5,6,9,30,20,21",16,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'MetroStation', 'text': '1 Metro...",{'LOCALITY_ID': 0},Semifurnished,SPID_CONF_GROUPING,R,Sector 81 Gurgaon,Sector 81,"{'LATITUDE': '28.3889069', 'LONGITUDE': '76.95...",195.375009,25000000,NaN,195.375009,25000000,Freehold,/3-bhk-bedroom-apartment-flat-for-sale-in-dlf-...,NaN,S,2.5 Cr,11887.0,11887.0,NaN,Residential Apartment,3-bhk-bedroom-apartment-flat-for-sale-in-dlf-t...,3 BHK Flat in Sector 81 Gurgaon,D71780966,DLF The Ultima,Yesterday,"['READY TO MOVE', 'RESALE', 'RERA']",DLF The Ultima,2103.0,NaN,"['East Facing', 'huda city center Nearby', 'De...",29.0,9.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '0', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Parmod Chauhan', 'CONTACT_CO...","{'PROJECTID': 7182, 'PROJ_NAME': 'DLF The Ulti..."
10700,Under Construction,"10,32,17,5,8,20,21,44,23,45,24,46,47,28,29,30,...",1450 sq.ft.,4.0,1+,3.0,0.0,0,cendana,1450.00,NaN,Gurgaon,8,Dealer: Avenue One,Dealer,Avenue One,Ashok Yadav,https://mediacdn.99acres.com/media1/22013/2/44...,Check out this 3 bhk apartment for sale in cen...,2023-12-10 00:00:00,North-East,"44,23,45,24,46,25,47,26,28,29,30,31,10,32,33,1...",18,"{'AVAIL': {'AVAILABILITY': 1, 'SUB_AVAILABILIT...","[{'category': 'Hospital', 'text': '1 Hospital'...",{'LOCALITY_ID': 0},Semifurnished,SPID_CONF_GROUPING,R,Sector 83 Gurgaon,Sector 83,"{'LATITUDE': '28.39661', 'LONGITUDE': '76.9728...",134.709350,13500000,https://mediacdn.99acres.com/media1/22520/6/45...,134.709350,13500000,Freehold,/3-bhk-bedroom-apartment-flat-for-sale-in-sect...,https://mediacdn.99acres.com/media1/22520/6/45...,S,1.35 Cr,9100.0,9100.0,['https://mediacdn.99acres.com/media1/22520/6/...,Residential Apartment,3-bhk-bedroom-apartment-flat-for-sale-in-secto...,3 BHK Flat in Sector 83 Gurgaon,L71779362,cendana,Yesterday,"['UNDER CONSTRUCTION', 'RESALE']",cendana,NaN,['https://mediacdn.99acres.com/media1/22520/6/...,"['North-East Facing', 'Private Garden', 'Rps s...",33.0,11.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '3', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Ashok Yadav', 'CONTACT_COMPA...","{'PROJECTID': 0, 'BUILDERID': 0}"
10701,Under Construction,"10,32,17,5,8,20,21,44,23,45,24,46,47,28,29,30,...",1450 sq.ft.,4.0,1+,3.0,0.0,0,cendana,NaN,NaN,Gurgaon,8,Dealer: Avenue One,Dealer,Avenue One,Ashok Yadav,https://mediacdn.99acres.com/media1/22013/2/44...,Cendana is one of gurgaon's most sought after ...,2023-12-10 00:00:00,East,"44,23,45,24,46,25,47,26,28,29,30,31,10,32,33,1...",10,"{'AVAIL': {'AVAILABILITY': 1, 'SUB_AVAILABILIT...","[{'category': 'Hospital', 'text': '1 Hospital'...",{'LOCALITY_ID': 0},Semifurnished,SPID_CONF_GROUPING,R,Sector 83 Gurgaon,Sector 83,"{'LATITUDE': '28.39661', 'LONGITUDE': '76.9728...",134.709350,12900000,https://mediacdn.99acres.com/media1/22520/0/45...,134.709350,12900000,Freehold,/3-bhk-bedroom-apartment-flat-for-sale-in-sect...,https://mediacdn.99acres.com/media1/22520/0/45...,S,1.29 Cr,8896.0,8896.0,['https://mediacdn.99acres.com/media1/22520/0/...,Residential Apartment,3-bhk-bedroom-apartment-flat-for-sale-in-secto...,3 BHK Flat in Sector 83 Gurgaon,N71778916,cendana,Yesterday,"['UNDER CONSTRUCTION', 'RESALE']",cendana,1450.0,['https://mediacdn.99acres.com/media1/22520/0/...,"['East Facing', 'Private Garden', 'RPS SCHOOL ...",33.0,11.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '3', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Ashok Yadav', 'CONTACT_COMPA...","{'PROJECTID': 0, 'BUILDERID': 0}"
10702,Under Construction,"32,17,5,8,20,21,44,23,45,24,46,47,28,29,30,39,...",1450 sq.ft.,4.0,1+,3.0,0.0,0,cendana Residences ss group,NaN,NaN,Gurgaon,8,Dealer: Avenue One,Dealer,Avenue One,Ashok Yadav,https://mediacdn.99acres.com/media1/22013/2/44...,"Situated in sector 83 gurgaon, cendana residen...",2023-12-10 00:00:00,East,"44,23,45,24,46,25,47,26,28,29,30,31,32,33,12,1...",10,"{'AVAIL': {'AVAILABILITY': 1, 'SUB_AVAILABILIT...","[{'category': 'Hospital', 'text': '1 Hospital'...",{'LOCALITY_ID': 0},Semifurnished,SPID_CONF_GROUPING,R,Sector 83 Gurgaon,Sector 83,"{'LATITUDE': '28.39661', 'LONGITUDE': '76.9728...",134.709350,13000000,https://mediacdn.99acres.com/media1/22519/8/45...,134.709350,13000000,Freehold,/3-bhk-bedroom-apartment-flat-for-sale-in-sect...,https://mediacdn.99acres.com/media1/22519/8/45...,S,1.3 Cr,8965.0,8965.0,['https://mediacdn.99acres.com/media1/22519/8/...,Residential Apartment,3-bhk-bedroom-apartment-flat-for-sale-in-secto...,3 BHK Flat in Sector 83 Gurgaon,K71778134,cendana Residences ss group,Yesterday,"['UNDER CONSTRUCTION', 'RESALE']",cendana Residences ss group,1450.0,['https://mediacdn.99acres.com/media1/22519/8/...,"['East Facing', 'Private Garden', 'St. xavier ...",33.0,11.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '6', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Ashok Yadav', 'CONTACT_COMPA...","{'PROJECTID': 0, 'BUILDERID': 0}"
10703,Under Construction,"17,5,10,44,23,45,24,29,19,6,40,41,25,26,101,102",3200 sq.ft.,3.0,2+,3.0,1.0,1033654,Birla Navya,NaN,NaN,Gurgaon,8,Dealer: AIA Landbase,Dealer,AIA Landbase,Anuj,https://static.99acres.com/images/dealer_pnava...,3 bhk with utility in birla anaika spacious ro...,2023-12-10 00:00:00,North,"44,23,45,24,25,26,17,29,19,5,6,40,41,10",1,"{'AVAIL': {'AVAILABILITY': 1, 'SUB_AVAILABILIT...","[{'category': 'MetroStation', 'text': '1 Metro...",{'LOCALITY_ID': 0},Unfurnished,SPID_CONF_GROUPING,R,Sector 63A Gurgaon,Sector 63A,"{'LATITUDE': '28.3990776', 'LONGITUDE': '77.10...",297.289600,48000000,NaN,297.289600,48000000,Freehold,/3-bhk-bedroom-independent-builder-floor-for-s...,NaN,S,4.8 Cr,15000.0,15000.0,NaN,Independent/Builder Floor,3-bhk-bedroom-independent-builder-floor-for-sa...,3 BHK Independent Builder Floor in Sector 63A ...,C71777090,Birla Navya,Yesterday,"['UNDER CONSTRUCTION', 'RESALE', 'RERA']",Birla Navya,3200.0,NaN,['North Facing'],4.0,12.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '0', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Anuj', 'CONTACT_COMPANY_NAME...","{'PROJECTID': 351013, 'PROJ_NAME': 'Birla Navy..."

In [17]:
for column in df.columns:
    if df[column].nunique() < 2:
        print(df[column].value_counts())

CITY
Gurgaon    10704
Name: count, dtype: int64
CITY_ID
8    10704
Name: count, dtype: int64

In [18]:
# since the city column and the city id column dont have anythin gas welll as the proper
df.drop(columns=["CITY", "CITY_ID"], inplace=True)

In [19]:
df.head(2)

,AGE,AMENITIES,AREA,BALCONY_NUM,BATHROOM_NUM,BEDROOM_NUM,BROKERAGE,BUILDING_ID,BUILDING_NAME,BUILTUP_SQFT,CARPET_SQFT,CLASS_HEADING,CLASS_LABEL,CONTACT_COMPANY_NAME,CONTACT_NAME,DEALER_PHOTO_URL,DESCRIPTION,EXPIRY_DATE,FACING,FEATURES,FLOOR_NUM,FORMATTED,FORMATTED_LANDMARK_DETAILS,FSL_Data,FURNISH,GROUP_NAME,LISTING,LOCALITY,LOCALITY_WO_CITY,MAP_DETAILS,MAX_AREA_SQFT,MAX_PRICE,MEDIUM_PHOTO_URL,MIN_AREA_SQFT,MIN_PRICE,OWNTYPE,PD_URL,PHOTO_URL,PREFERENCE,PRICE,PRICE_PER_UNIT_AREA,PRICE_SQFT,PROPERTY_IMAGES,PROPERTY_TYPE,PROP_DETAILS_URL,PROP_HEADING,PROP_ID,PROP_NAME,REGISTER_DATE,SECONDARY_TAGS,SOCIETY_NAME,SUPERBUILTUP_SQFT,THUMBNAIL_IMAGES,TOP_USPS,TOTAL_FLOOR,TOTAL_LANDMARK_COUNT,TRANSACT_TYPE,location,metadata,profile,xid
0,5-10 Year Old Property,"20,21,32,23,46,47,39,1,6,9,40,41,30,42,33,12,2...",3434 sq.ft.,4.0,3+,4.0,263000.0,10532,Alpha Corp GurgaonOne 84,NaN,3000.0,Dealer: propertyline,Dealer,propertyline,gaurav khosla,https://static.99acres.com/images/dealer_pnava...,4 bhk flat for resale in alpha corp gurgaon one,2023-11-28 00:00:00,North,"33,23,12,46,25,47,39,1,3,6,9,40,41,30,20,42,21,32",14,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'Shopping', 'text': '4 Shoppings...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 84 Gurgaon,Sector 84,"{'LATITUDE': '28.4065341', 'LONGITUDE': '76.96...",319.028902,26300000,https://mediacdn.99acres.com/media1/22409/13/4...,319.028902,26300000,Freehold,/4-bhk-bedroom-apartment-flat-for-sale-in-alph...,https://mediacdn.99acres.com/media1/22409/13/4...,S,2.63 Cr,8766.0,8766.0,['https://mediacdn.99acres.com/media1/22409/13...,Residential Apartment,4-bhk-bedroom-apartment-flat-for-sale-in-alpha...,4 BHK Flat in Sector 84 Gurgaon,O71585872,Alpha Corp GurgaonOne 84,"29th Sep, 2023","['READY TO MOVE', 'RESALE']",Alpha Corp GurgaonOne 84,3434.0,['https://mediacdn.99acres.com/media1/22409/13...,"['North Facing', 'Recently Renovated', 'Gated ...",26.0,10.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'gaurav khosla', 'CONTACT_COM...","{'PROJECTID': 5096, 'PROJ_NAME': 'Alpha Corp G..."
1,1-5 Year Old Property,"17,5,20,21,10,44,23,46,47,29,19,1,6,9,30,41,43...",2870 sq.ft.,3.0,3+,4.0,1.0,12704,DLF The Ultima,NaN,1700.0,Dealer: MVD AND ASSOCIATES,Dealer,MVD AND ASSOCIATES,Kamal,https://static.99acres.com/images/dealer_pnava...,"Explore dlf ultima, an upscale ready-To-Move h...",2023-11-28 00:00:00,North,"44,33,23,12,46,25,47,26,17,29,19,1,3,5,6,9,30,...",7,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'MetroStation', 'text': '1 Metro...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 81 Gurgaon,Sector 81,"{'LATITUDE': '28.3889069', 'LONGITUDE': '76.95...",266.631610,36000000,https://mediacdn.99acres.com/media1/22425/6/44...,266.631610,36000000,Freehold,/4-bhk-bedroom-apartment-flat-for-sale-in-dlf-...,https://mediacdn.99acres.com/media1/22425/6/44...,S,3.6 Cr,21176.0,21176.0,['https://mediacdn.99acres.com/media1/22425/6/...,Residential Apartment,4-bhk-bedroom-apartment-flat-for-sale-in-dlf-t...,4 BHK Flat in Sector 81 Gurgaon,T71585466,DLF The Ultima,"29th Sep, 2023","['READY TO MOVE', 'RESALE', 'RERA']",DLF The Ultima,2870.0,['https://mediacdn.99acres.com/media1/22425/6/...,"['North Facing', ""st. xavier's within 500m"", '...",29.0,9.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Kamal', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 7182, 'PROJ_NAME': 'DLF The Ulti..."

In [20]:
# i am going to drop more columns that i don;t think have any particular meaning and woon't be helpful in the model
columns_to_drop = ["DEALER_PHOTO_URL", "MEDIUM_PHOTO_URL",
                   "PHOTO_URL", "PROPERTY_IMAGES", "THUMBNAIL_IMAGES", "PD_URL", "PROP_DETAILS_URL", "BUILDING_ID"]

df.drop(columns=columns_to_drop, inplace=True)
df.head(2)

,AGE,AMENITIES,AREA,BALCONY_NUM,BATHROOM_NUM,BEDROOM_NUM,BROKERAGE,BUILDING_NAME,BUILTUP_SQFT,CARPET_SQFT,CLASS_HEADING,CLASS_LABEL,CONTACT_COMPANY_NAME,CONTACT_NAME,DESCRIPTION,EXPIRY_DATE,FACING,FEATURES,FLOOR_NUM,FORMATTED,FORMATTED_LANDMARK_DETAILS,FSL_Data,FURNISH,GROUP_NAME,LISTING,LOCALITY,LOCALITY_WO_CITY,MAP_DETAILS,MAX_AREA_SQFT,MAX_PRICE,MIN_AREA_SQFT,MIN_PRICE,OWNTYPE,PREFERENCE,PRICE,PRICE_PER_UNIT_AREA,PRICE_SQFT,PROPERTY_TYPE,PROP_HEADING,PROP_ID,PROP_NAME,REGISTER_DATE,SECONDARY_TAGS,SOCIETY_NAME,SUPERBUILTUP_SQFT,TOP_USPS,TOTAL_FLOOR,TOTAL_LANDMARK_COUNT,TRANSACT_TYPE,location,metadata,profile,xid
0,5-10 Year Old Property,"20,21,32,23,46,47,39,1,6,9,40,41,30,42,33,12,2...",3434 sq.ft.,4.0,3+,4.0,263000.0,Alpha Corp GurgaonOne 84,NaN,3000.0,Dealer: propertyline,Dealer,propertyline,gaurav khosla,4 bhk flat for resale in alpha corp gurgaon one,2023-11-28 00:00:00,North,"33,23,12,46,25,47,39,1,3,6,9,40,41,30,20,42,21,32",14,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'Shopping', 'text': '4 Shoppings...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 84 Gurgaon,Sector 84,"{'LATITUDE': '28.4065341', 'LONGITUDE': '76.96...",319.028902,26300000,319.028902,26300000,Freehold,S,2.63 Cr,8766.0,8766.0,Residential Apartment,4 BHK Flat in Sector 84 Gurgaon,O71585872,Alpha Corp GurgaonOne 84,"29th Sep, 2023","['READY TO MOVE', 'RESALE']",Alpha Corp GurgaonOne 84,3434.0,"['North Facing', 'Recently Renovated', 'Gated ...",26.0,10.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'gaurav khosla', 'CONTACT_COM...","{'PROJECTID': 5096, 'PROJ_NAME': 'Alpha Corp G..."
1,1-5 Year Old Property,"17,5,20,21,10,44,23,46,47,29,19,1,6,9,30,41,43...",2870 sq.ft.,3.0,3+,4.0,1.0,DLF The Ultima,NaN,1700.0,Dealer: MVD AND ASSOCIATES,Dealer,MVD AND ASSOCIATES,Kamal,"Explore dlf ultima, an upscale ready-To-Move h...",2023-11-28 00:00:00,North,"44,33,23,12,46,25,47,26,17,29,19,1,3,5,6,9,30,...",7,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'MetroStation', 'text': '1 Metro...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 81 Gurgaon,Sector 81,"{'LATITUDE': '28.3889069', 'LONGITUDE': '76.95...",266.631610,36000000,266.631610,36000000,Freehold,S,3.6 Cr,21176.0,21176.0,Residential Apartment,4 BHK Flat in Sector 81 Gurgaon,T71585466,DLF The Ultima,"29th Sep, 2023","['READY TO MOVE', 'RESALE', 'RERA']",DLF The Ultima,2870.0,"['North Facing', ""st. xavier's within 500m"", '...",29.0,9.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Kamal', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 7182, 'PROJ_NAME': 'DLF The Ulti..."

In [21]:
(df["PRICE_PER_UNIT_AREA"] == df["PRICE_SQFT"]).all()  # -> True
df.drop(columns=["PRICE_PER_UNIT_AREA"], inplace=True)
df.rename(columns={"PRICE_SQFT": "PRICE_PER_SQFT"}, inplace=True)
df.head(n=4)

,AGE,AMENITIES,AREA,BALCONY_NUM,BATHROOM_NUM,BEDROOM_NUM,BROKERAGE,BUILDING_NAME,BUILTUP_SQFT,CARPET_SQFT,CLASS_HEADING,CLASS_LABEL,CONTACT_COMPANY_NAME,CONTACT_NAME,DESCRIPTION,EXPIRY_DATE,FACING,FEATURES,FLOOR_NUM,FORMATTED,FORMATTED_LANDMARK_DETAILS,FSL_Data,FURNISH,GROUP_NAME,LISTING,LOCALITY,LOCALITY_WO_CITY,MAP_DETAILS,MAX_AREA_SQFT,MAX_PRICE,MIN_AREA_SQFT,MIN_PRICE,OWNTYPE,PREFERENCE,PRICE,PRICE_PER_SQFT,PROPERTY_TYPE,PROP_HEADING,PROP_ID,PROP_NAME,REGISTER_DATE,SECONDARY_TAGS,SOCIETY_NAME,SUPERBUILTUP_SQFT,TOP_USPS,TOTAL_FLOOR,TOTAL_LANDMARK_COUNT,TRANSACT_TYPE,location,metadata,profile,xid
0,5-10 Year Old Property,"20,21,32,23,46,47,39,1,6,9,40,41,30,42,33,12,2...",3434 sq.ft.,4.0,3+,4.0,263000.0,Alpha Corp GurgaonOne 84,NaN,3000.0,Dealer: propertyline,Dealer,propertyline,gaurav khosla,4 bhk flat for resale in alpha corp gurgaon one,2023-11-28 00:00:00,North,"33,23,12,46,25,47,39,1,3,6,9,40,41,30,20,42,21,32",14,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'Shopping', 'text': '4 Shoppings...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 84 Gurgaon,Sector 84,"{'LATITUDE': '28.4065341', 'LONGITUDE': '76.96...",319.028902,26300000,319.028902,26300000,Freehold,S,2.63 Cr,8766.0,Residential Apartment,4 BHK Flat in Sector 84 Gurgaon,O71585872,Alpha Corp GurgaonOne 84,"29th Sep, 2023","['READY TO MOVE', 'RESALE']",Alpha Corp GurgaonOne 84,3434.0,"['North Facing', 'Recently Renovated', 'Gated ...",26.0,10.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'gaurav khosla', 'CONTACT_COM...","{'PROJECTID': 5096, 'PROJ_NAME': 'Alpha Corp G..."
1,1-5 Year Old Property,"17,5,20,21,10,44,23,46,47,29,19,1,6,9,30,41,43...",2870 sq.ft.,3.0,3+,4.0,1.0,DLF The Ultima,NaN,1700.0,Dealer: MVD AND ASSOCIATES,Dealer,MVD AND ASSOCIATES,Kamal,"Explore dlf ultima, an upscale ready-To-Move h...",2023-11-28 00:00:00,North,"44,33,23,12,46,25,47,26,17,29,19,1,3,5,6,9,30,...",7,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'MetroStation', 'text': '1 Metro...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 81 Gurgaon,Sector 81,"{'LATITUDE': '28.3889069', 'LONGITUDE': '76.95...",266.631610,36000000,266.631610,36000000,Freehold,S,3.6 Cr,21176.0,Residential Apartment,4 BHK Flat in Sector 81 Gurgaon,T71585466,DLF The Ultima,"29th Sep, 2023","['READY TO MOVE', 'RESALE', 'RERA']",DLF The Ultima,2870.0,"['North Facing', ""st. xavier's within 500m"", '...",29.0,9.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Kamal', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 7182, 'PROJ_NAME': 'DLF The Ulti..."
2,1-5 Year Old Property,"32,17,2,5,20,21,44,23,45,24,46,47,28,29,30,39,...",1950 sq.ft.,2.0,2+,3.0,42000.0,Emaar MGF The Palm Drive,1920.00,1450.0,Dealer: 1st Nest Realtors,Dealer,1st Nest Realtors,Sandeep,A 3 bhk flat for rent in sector 66 gurgaon clo...,2023-11-26 00:00:00,West,"44,23,45,24,46,25,47,28,29,30,31,32,33,12,17,3...",7,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'MetroStation', 'text': '1 Metro...",{'LOCALITY_ID': 0},Furnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 66 Gurgaon,Sector 66,"{'LATITUDE': '28.401406', 'LONGITUDE': '77.050...",181.160850,85000,181.160850,85000,NaN,R,"85,000",43.0,Residential Apartment,3 BHK Flat in Sector 66 Gurgaon,D71549524,Emaar MGF The Palm Drive,"27th Sep, 2023",['FURNISHED'],Emaar MGF The Palm Drive,1950.0,"['3 Baths', 'Full Power Backup', 'huda city ce...",17.0,14.0,NaN,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '1', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Sandeep', 'CONTACT_COMPANY_N...","{'PROJECTID': 19, 'PROJ_NAME': 'Emaar MGF The ..."
3,1-5 Year Old Property,"2,5,20,21,23,1,6,9,40,30,41,33,12,25,26,3,31,1...",2802 sq.ft.,3.0,2+,3.0,1.0,Experion Windchants,2225.56,NaN,Dealer: GROW MORE,Dealer,GROW MORE,Kohli,Looking for a 3 bhk property for purchase in g...,2023-11-22 00:00:00,NaN,"33,23,12,25,26,1,2,3,5,6,9,40,30,41,31,20,21",14,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'Shopping', 'text': '1 Shopping'...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 112 Gurgaon,Sector 112,"{'LATITUDE': '28.518677', 'LONGITUDE': '77.015...",260.314206,38500000,260.314206,38500000,Freehold,S,3.85 Cr,13740.0,Residential Apartment,3 BHK Flat in Sector 112 Gurgaon,I71493958,Experion Windchants,"23rd Sep, 2023","['READY TO MOVE', 'RESALE', 'RERA']",Experion Windchants,2802.0,"['Gated Society', 'Overlooking Park/Garden', '...",28.0,8.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '1', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Kohli', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 4342, 'PROJ_NAME': 'Experion Win..."

In [22]:
# i want to see if the class heading is what was broken down to give me the class label and the contact company name
df.loc[0, "CLASS_HEADING"]

'Dealer: propertyline'

In [23]:
df.loc[df["CLASS_HEADING"] == "Owner", :]

,AGE,AMENITIES,AREA,BALCONY_NUM,BATHROOM_NUM,BEDROOM_NUM,BROKERAGE,BUILDING_NAME,BUILTUP_SQFT,CARPET_SQFT,CLASS_HEADING,CLASS_LABEL,CONTACT_COMPANY_NAME,CONTACT_NAME,DESCRIPTION,EXPIRY_DATE,FACING,FEATURES,FLOOR_NUM,FORMATTED,FORMATTED_LANDMARK_DETAILS,FSL_Data,FURNISH,GROUP_NAME,LISTING,LOCALITY,LOCALITY_WO_CITY,MAP_DETAILS,MAX_AREA_SQFT,MAX_PRICE,MIN_AREA_SQFT,MIN_PRICE,OWNTYPE,PREFERENCE,PRICE,PRICE_PER_SQFT,PROPERTY_TYPE,PROP_HEADING,PROP_ID,PROP_NAME,REGISTER_DATE,SECONDARY_TAGS,SOCIETY_NAME,SUPERBUILTUP_SQFT,TOP_USPS,TOTAL_FLOOR,TOTAL_LANDMARK_COUNT,TRANSACT_TYPE,location,metadata,profile,xid
2199,10+ Year Old Property,"5,6,33,26,102",1650 sq.ft.,4.0,2+,3.0,NaN,Mayfield Gardens,NaN,1650.0,Owner,Owner,NaN,arvind,"This beautiful 3 bhk flat in mayfield garden, ...",2023-12-05 00:00:00,North,"33,26,5,6",1,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'ReligiousPlace', 'text': '1 Rel...",{'LOCALITY_ID': 0},Semifurnished,SPID_CONF_GROUPING,P,Sector 50 Gurgaon,Sector 50,"{'LATITUDE': '28.424305', 'LONGITUDE': '77.061...",153.289950,14000000,153.289950,14000000,Freehold,S,1.4 Cr,8500.0,Residential Apartment,3 BHK Flat in Sector 50 Gurgaon,P70622646,Mayfield Gardens,"05th Aug, 2023","['READY TO MOVE', 'RESALE']",Mayfield Gardens,NaN,NaN,3.0,47.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '10', 'PROP_VIDEO_COUNT':...","{'CONTACT_NAME': 'arvind', 'CONTACT_COMPANY_NA...","{'PROJECTID': 219895, 'PROJ_NAME': 'Mayfield G..."
2735,1-5 Year Old Property,"17,5,20,21,23,24,47,39,29,19,6,9,40,41,30,42,4...",502 sq.ft.,2.0,1+,2.0,NaN,Pyramid Urban Homes 2,NaN,502.0,Owner,Owner,NaN,Narender Juneja,This beautiful 2 bhk flat in sector 86 gurgaon...,2023-11-29 00:00:00,NaN,"33,23,24,47,17,39,29,19,5,6,9,40,41,30,20,42,2...",12,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'Shopping', 'text': '1 Shopping'...",{'LOCALITY_ID': 0},Unfurnished,SPID_CONF_GROUPING,P,Sector 86 Gurgaon,Sector 86,"{'LATITUDE': '28.396846', 'LONGITUDE': '76.948...",46.637306,5200000,46.637306,5200000,Freehold,S,52 L,10358.0,Residential Apartment,2 BHK Flat in Sector 86 Gurgaon,A70515402,Pyramid Urban Homes 2,"30th Jul, 2023","['READY TO MOVE', 'RESALE', 'RERA']",Pyramid Urban Homes 2,NaN,"['Recently Renovated', 'Gated Society', 'Overl...",13.0,10.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '0', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Narender Juneja', 'CONTACT_C...","{'PROJECTID': 181113, 'PROJ_NAME': 'Pyramid Ur..."
2826,1-5 Year Old Property,NaN,867 sq.ft.,1.0,1+,2.0,NaN,Balaji Apartment,NaN,867.0,Owner,Owner,NaN,Amit,Best in class property available at dharam col...,2023-11-08 00:00:00,NaN,N,1,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...",NaN,{'LOCALITY_ID': 0},Unfurnished,SPID_CONF_GROUPING,P,Dharam Colony,Dharam Colony,"{'LATITUDE': '0.0', 'LONGITUDE': '0.0', 'ZOOM_...",80.546901,2250000,80.546901,2250000,Power of Attorney,S,22.5 L,2191.0,Residential Apartment,2 BHK Flat in Dharam Colony,D70863262,Balaji Apartment,"09th Sep, 2023","['READY TO MOVE', 'RESALE']",Balaji Apartment,NaN,NaN,1.0,NaN,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '11', 'PROP_VIDEO_COUNT':...","{'CONTACT_NAME': 'Amit', 'CONTACT_COMPANY_NAME...","{'PROJECTID': 0, 'BUILDERID': 0}"
3345,1-5 Year Old Property,"5,17,20,21,23,6,19,102,103",1950 sq.ft.,2.0,2+,3.0,NaN,Emaar MGF The Palm Drive,1920.0,NaN,Owner,Owner,NaN,Harveer,East facing apartment with proper sunlight and...,2023-12-01 00:00:00,East,"23,5,17,6,19,20,21",15,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'MetroStation', 'text': '1 Metro...",{'LOCALITY_ID': 0},Semifurnished,SPID_CONF_GROUPING,P,Sector 66 Gurgaon,Sector 66,"{'LATITUDE': '28.401406', 'LONGITUDE': '77.050...",181.160850,27000000,181.160850,27000000,Freehold,S,2.7 Cr,13846.0,Residential Apartment,3 BHK Flat in Sector 66 Gurgaon,O70265112,Emaar MGF The Palm Drive,"01st Aug, 2023","['READY TO MOVE', 'RESALE']",Emaar MGF The Palm Drive,1950.0,NaN,17.0,14.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '20', 'PROP_VIDEO_COUNT':...","{'CONTACT_NAME': 'Harveer', 'CONTACT_COMPANY_N...","{'PROJECTID': 19, 'PROJ_NAME': 'Emaar MGF The ..."
5199,NaN,"24,26",612 sq.ft.,NaN,NaN,NaN,NaN,Raheja Akshara,NaN,NaN,Owner,Owner,NaN,Milan Aggarwal,Its bang on the highway and opposite to imt sohna,2023-12-30 00:00:00,East,"24,26",NaN,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'Shopping', 'text': '1 Shopping'...",{'LOCALITY_ID': 0},NaN,SPID_CONF_GROUPING,P,Sohna,Sohna,"{'LATITUDE': '28.21558', 'LONGITUDE': '77.0644...",56.856636,3060000,56.856636,3060000,Freehold,S,30.6 L,45000.0,Residential Land,Residential land / Plot in Sohna,C70538614,Raheja Akshara,"01st Aug, 2023","['EAST FACING', 'HUDA APPROVED', 'IN GATED COM...",Raheja Akshara,NaN,"['East Facing', 'Rain Water Harvesting']",4.0,9.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Milan Aggarwal', 'CONTACT_CO...","{'PROJECTID': 315015, 'PROJ_NAME': 'Raheja Aks..."

In [24]:
def split_class_heading(row: pd.DataFrame) -> pd.DataFrame:
    if row["CLASS_HEADING"] != "Owner":
        row["temp_class_label"] = row["CLASS_HEADING"].split(": ")[0]
        row["temp_contact"] = row["CLASS_HEADING"].split(": ")[1]
    else:
        row["temp_class_label"] = row["CLASS_HEADING"]
        row["temp_contact"] = np.nan

    return row

In [25]:
df = df.apply(split_class_heading, axis=1)

In [26]:
print((df["temp_class_label"] == df["CLASS_LABEL"]).all())
(df["temp_contact"] == df["CONTACT_COMPANY_NAME"]).all()

True

False

In [27]:
df.loc[df["temp_contact"] != df["CONTACT_COMPANY_NAME"],
       ["temp_contact", "CONTACT_COMPANY_NAME"]]

     temp_contact CONTACT_COMPANY_NAME
2199          NaN                  NaN
2735          NaN                  NaN
2826          NaN                  NaN
3345          NaN                  NaN
5199          NaN                  NaN

#### _so it turns out they are actually the same thing but for some reason it is showing that they are not the same thing. So i'm just going to drop class heading and the other temporary columns i created to validate._

In [28]:
df.drop(columns=["CLASS_HEADING", "temp_class_label",
        "temp_contact"], inplace=True)
df.head(3)

,AGE,AMENITIES,AREA,BALCONY_NUM,BATHROOM_NUM,BEDROOM_NUM,BROKERAGE,BUILDING_NAME,BUILTUP_SQFT,CARPET_SQFT,CLASS_LABEL,CONTACT_COMPANY_NAME,CONTACT_NAME,DESCRIPTION,EXPIRY_DATE,FACING,FEATURES,FLOOR_NUM,FORMATTED,FORMATTED_LANDMARK_DETAILS,FSL_Data,FURNISH,GROUP_NAME,LISTING,LOCALITY,LOCALITY_WO_CITY,MAP_DETAILS,MAX_AREA_SQFT,MAX_PRICE,MIN_AREA_SQFT,MIN_PRICE,OWNTYPE,PREFERENCE,PRICE,PRICE_PER_SQFT,PROPERTY_TYPE,PROP_HEADING,PROP_ID,PROP_NAME,REGISTER_DATE,SECONDARY_TAGS,SOCIETY_NAME,SUPERBUILTUP_SQFT,TOP_USPS,TOTAL_FLOOR,TOTAL_LANDMARK_COUNT,TRANSACT_TYPE,location,metadata,profile,xid
0,5-10 Year Old Property,"20,21,32,23,46,47,39,1,6,9,40,41,30,42,33,12,2...",3434 sq.ft.,4.0,3+,4.0,263000.0,Alpha Corp GurgaonOne 84,NaN,3000.0,Dealer,propertyline,gaurav khosla,4 bhk flat for resale in alpha corp gurgaon one,2023-11-28 00:00:00,North,"33,23,12,46,25,47,39,1,3,6,9,40,41,30,20,42,21,32",14,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'Shopping', 'text': '4 Shoppings...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 84 Gurgaon,Sector 84,"{'LATITUDE': '28.4065341', 'LONGITUDE': '76.96...",319.028902,26300000,319.028902,26300000,Freehold,S,2.63 Cr,8766.0,Residential Apartment,4 BHK Flat in Sector 84 Gurgaon,O71585872,Alpha Corp GurgaonOne 84,"29th Sep, 2023","['READY TO MOVE', 'RESALE']",Alpha Corp GurgaonOne 84,3434.0,"['North Facing', 'Recently Renovated', 'Gated ...",26.0,10.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'gaurav khosla', 'CONTACT_COM...","{'PROJECTID': 5096, 'PROJ_NAME': 'Alpha Corp G..."
1,1-5 Year Old Property,"17,5,20,21,10,44,23,46,47,29,19,1,6,9,30,41,43...",2870 sq.ft.,3.0,3+,4.0,1.0,DLF The Ultima,NaN,1700.0,Dealer,MVD AND ASSOCIATES,Kamal,"Explore dlf ultima, an upscale ready-To-Move h...",2023-11-28 00:00:00,North,"44,33,23,12,46,25,47,26,17,29,19,1,3,5,6,9,30,...",7,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'MetroStation', 'text': '1 Metro...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 81 Gurgaon,Sector 81,"{'LATITUDE': '28.3889069', 'LONGITUDE': '76.95...",266.631610,36000000,266.631610,36000000,Freehold,S,3.6 Cr,21176.0,Residential Apartment,4 BHK Flat in Sector 81 Gurgaon,T71585466,DLF The Ultima,"29th Sep, 2023","['READY TO MOVE', 'RESALE', 'RERA']",DLF The Ultima,2870.0,"['North Facing', ""st. xavier's within 500m"", '...",29.0,9.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Kamal', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 7182, 'PROJ_NAME': 'DLF The Ulti..."
2,1-5 Year Old Property,"32,17,2,5,20,21,44,23,45,24,46,47,28,29,30,39,...",1950 sq.ft.,2.0,2+,3.0,42000.0,Emaar MGF The Palm Drive,1920.0,1450.0,Dealer,1st Nest Realtors,Sandeep,A 3 bhk flat for rent in sector 66 gurgaon clo...,2023-11-26 00:00:00,West,"44,23,45,24,46,25,47,28,29,30,31,32,33,12,17,3...",7,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'MetroStation', 'text': '1 Metro...",{'LOCALITY_ID': 0},Furnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 66 Gurgaon,Sector 66,"{'LATITUDE': '28.401406', 'LONGITUDE': '77.050...",181.160850,85000,181.160850,85000,NaN,R,"85,000",43.0,Residential Apartment,3 BHK Flat in Sector 66 Gurgaon,D71549524,Emaar MGF The Palm Drive,"27th Sep, 2023",['FURNISHED'],Emaar MGF The Palm Drive,1950.0,"['3 Baths', 'Full Power Backup', 'huda city ce...",17.0,14.0,NaN,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '1', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Sandeep', 'CONTACT_COMPANY_N...","{'PROJECTID': 19, 'PROJ_NAME': 'Emaar MGF The ..."

In [29]:
print((df["MAX_AREA_SQFT"] == df["MIN_AREA_SQFT"]).all())
print((df["MAX_PRICE"] == df["MIN_PRICE"]).all())

False
False

In [30]:
print((df["MAX_AREA_SQFT"] == df["MIN_AREA_SQFT"]).sum())
print((df["MAX_PRICE"] == df["MIN_PRICE"]).sum())
print()
print()
print((df["MAX_AREA_SQFT"] != df["MIN_AREA_SQFT"]).sum())
print((df["MAX_PRICE"] != df["MIN_PRICE"]).sum())

10699
10699


5
5

In [31]:
df.loc[df["MAX_PRICE"] != df["MIN_PRICE"], [
    "MAX_PRICE", "MIN_PRICE", "MAX_AREA_SQFT", "MIN_AREA_SQFT"]]

      MAX_PRICE  MIN_PRICE  MAX_AREA_SQFT  MIN_AREA_SQFT
972    62966205   52000425     134.430641     111.019085
1077   63282840   53883477     189.522120     161.372511
1078   42560812   38000725     127.462916     113.806175
1621   13076400   13000121     111.483600     110.833279
1623   13076400   13000121     111.483600     110.833279

##### _I was trying to see if the max_price and mnin_price columns were the same and in 5 cases, they are not always the same._

In [32]:
df.head()

,AGE,AMENITIES,AREA,BALCONY_NUM,BATHROOM_NUM,BEDROOM_NUM,BROKERAGE,BUILDING_NAME,BUILTUP_SQFT,CARPET_SQFT,CLASS_LABEL,CONTACT_COMPANY_NAME,CONTACT_NAME,DESCRIPTION,EXPIRY_DATE,FACING,FEATURES,FLOOR_NUM,FORMATTED,FORMATTED_LANDMARK_DETAILS,FSL_Data,FURNISH,GROUP_NAME,LISTING,LOCALITY,LOCALITY_WO_CITY,MAP_DETAILS,MAX_AREA_SQFT,MAX_PRICE,MIN_AREA_SQFT,MIN_PRICE,OWNTYPE,PREFERENCE,PRICE,PRICE_PER_SQFT,PROPERTY_TYPE,PROP_HEADING,PROP_ID,PROP_NAME,REGISTER_DATE,SECONDARY_TAGS,SOCIETY_NAME,SUPERBUILTUP_SQFT,TOP_USPS,TOTAL_FLOOR,TOTAL_LANDMARK_COUNT,TRANSACT_TYPE,location,metadata,profile,xid
0,5-10 Year Old Property,"20,21,32,23,46,47,39,1,6,9,40,41,30,42,33,12,2...",3434 sq.ft.,4.0,3+,4.0,263000.0,Alpha Corp GurgaonOne 84,NaN,3000.0,Dealer,propertyline,gaurav khosla,4 bhk flat for resale in alpha corp gurgaon one,2023-11-28 00:00:00,North,"33,23,12,46,25,47,39,1,3,6,9,40,41,30,20,42,21,32",14,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'Shopping', 'text': '4 Shoppings...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 84 Gurgaon,Sector 84,"{'LATITUDE': '28.4065341', 'LONGITUDE': '76.96...",319.028902,26300000,319.028902,26300000,Freehold,S,2.63 Cr,8766.0,Residential Apartment,4 BHK Flat in Sector 84 Gurgaon,O71585872,Alpha Corp GurgaonOne 84,"29th Sep, 2023","['READY TO MOVE', 'RESALE']",Alpha Corp GurgaonOne 84,3434.0,"['North Facing', 'Recently Renovated', 'Gated ...",26.0,10.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'gaurav khosla', 'CONTACT_COM...","{'PROJECTID': 5096, 'PROJ_NAME': 'Alpha Corp G..."
1,1-5 Year Old Property,"17,5,20,21,10,44,23,46,47,29,19,1,6,9,30,41,43...",2870 sq.ft.,3.0,3+,4.0,1.0,DLF The Ultima,NaN,1700.0,Dealer,MVD AND ASSOCIATES,Kamal,"Explore dlf ultima, an upscale ready-To-Move h...",2023-11-28 00:00:00,North,"44,33,23,12,46,25,47,26,17,29,19,1,3,5,6,9,30,...",7,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'MetroStation', 'text': '1 Metro...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 81 Gurgaon,Sector 81,"{'LATITUDE': '28.3889069', 'LONGITUDE': '76.95...",266.631610,36000000,266.631610,36000000,Freehold,S,3.6 Cr,21176.0,Residential Apartment,4 BHK Flat in Sector 81 Gurgaon,T71585466,DLF The Ultima,"29th Sep, 2023","['READY TO MOVE', 'RESALE', 'RERA']",DLF The Ultima,2870.0,"['North Facing', ""st. xavier's within 500m"", '...",29.0,9.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Kamal', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 7182, 'PROJ_NAME': 'DLF The Ulti..."
2,1-5 Year Old Property,"32,17,2,5,20,21,44,23,45,24,46,47,28,29,30,39,...",1950 sq.ft.,2.0,2+,3.0,42000.0,Emaar MGF The Palm Drive,1920.00,1450.0,Dealer,1st Nest Realtors,Sandeep,A 3 bhk flat for rent in sector 66 gurgaon clo...,2023-11-26 00:00:00,West,"44,23,45,24,46,25,47,28,29,30,31,32,33,12,17,3...",7,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'MetroStation', 'text': '1 Metro...",{'LOCALITY_ID': 0},Furnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 66 Gurgaon,Sector 66,"{'LATITUDE': '28.401406', 'LONGITUDE': '77.050...",181.160850,85000,181.160850,85000,NaN,R,"85,000",43.0,Residential Apartment,3 BHK Flat in Sector 66 Gurgaon,D71549524,Emaar MGF The Palm Drive,"27th Sep, 2023",['FURNISHED'],Emaar MGF The Palm Drive,1950.0,"['3 Baths', 'Full Power Backup', 'huda city ce...",17.0,14.0,NaN,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '1', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Sandeep', 'CONTACT_COMPANY_N...","{'PROJECTID': 19, 'PROJ_NAME': 'Emaar MGF The ..."
3,1-5 Year Old Property,"2,5,20,21,23,1,6,9,40,30,41,33,12,25,26,3,31,1...",2802 sq.ft.,3.0,2+,3.0,1.0,Experion Windchants,2225.56,NaN,Dealer,GROW MORE,Kohli,Looking for a 3 bhk property for purchase in g...,2023-11-22 00:00:00,NaN,"33,23,12,25,26,1,2,3,5,6,9,40,30,41,31,20,21",14,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'Shopping', 'text': '1 Shopping'...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 112 Gurgaon,Sector 112,"{'LATITUDE': '28.518677', 'LONGITUDE': '77.015...",260.314206,38500000,260.314206,38500000,Freehold,S,3.85 Cr,13740.0,Residential Apartment,3 BHK Flat in Sector 112 Gurgaon,I71493958,Experion Windchants,"23rd Sep, 2023","['READY TO MOVE', 'RESALE', 'RERA']",Experion Windchants,2802.0,"['Gated Society', 'Overlooking Park/Garden', '...",28.0,8.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '1', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Kohli', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 4342, 'PROJ_NAME': 'Experion Win..."
4,1-5 Year Old Property,"2,20,21,44,23,46,28,1,6,9,40,30,41,12,25,26,3,31",2290 sq.ft.,4.0,3+,3.0,1.0,ATS Triumph,NaN,NaN,Dealer,GROW MORE,Kohli,This 4 bhk flat in sector 104 gurgaon is avail...,2023-11-21 00:00:00,North-West,"44,23,12,46,25,26,28,1,2,3,6,9,40,30,41,31,20,21",12,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'MetroStation', 'text': '1 Metro...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 104 Gurgaon,Sector 104,"{'LATITUDE': '28.47844', 'LONGITUDE': '76.9861...",212.747870,40000,212.747870,40000,NaN,R,"40,000",17.0,Residential Apartment,3 BHK Flat in Sector 104 Gurgaon,H71479412,ATS Triumph,"23rd Sep, 2023",[],ATS Triumph,2290.0,"['4 Baths', 'Full Power Backup', 'Gated Societ...",27.0,14.0,NaN,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '14', 'PROP_VIDEO_COUNT':...","{'CONTACT_NAME': 'Kohli', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 25860, 'PROJ_NAME': 'ATS Triumph..."

In [33]:
def split_area(row):
    row["AREA"] = row["AREA"].split(" ")[0]
    return row


df = df.apply(split_area, axis=1)
df.rename(columns={"AREA": "AREA_SQFT"}, inplace=True)
df.head()

,AGE,AMENITIES,AREA_SQFT,BALCONY_NUM,BATHROOM_NUM,BEDROOM_NUM,BROKERAGE,BUILDING_NAME,BUILTUP_SQFT,CARPET_SQFT,CLASS_LABEL,CONTACT_COMPANY_NAME,CONTACT_NAME,DESCRIPTION,EXPIRY_DATE,FACING,FEATURES,FLOOR_NUM,FORMATTED,FORMATTED_LANDMARK_DETAILS,FSL_Data,FURNISH,GROUP_NAME,LISTING,LOCALITY,LOCALITY_WO_CITY,MAP_DETAILS,MAX_AREA_SQFT,MAX_PRICE,MIN_AREA_SQFT,MIN_PRICE,OWNTYPE,PREFERENCE,PRICE,PRICE_PER_SQFT,PROPERTY_TYPE,PROP_HEADING,PROP_ID,PROP_NAME,REGISTER_DATE,SECONDARY_TAGS,SOCIETY_NAME,SUPERBUILTUP_SQFT,TOP_USPS,TOTAL_FLOOR,TOTAL_LANDMARK_COUNT,TRANSACT_TYPE,location,metadata,profile,xid
0,5-10 Year Old Property,"20,21,32,23,46,47,39,1,6,9,40,41,30,42,33,12,2...",3434,4.0,3+,4.0,263000.0,Alpha Corp GurgaonOne 84,NaN,3000.0,Dealer,propertyline,gaurav khosla,4 bhk flat for resale in alpha corp gurgaon one,2023-11-28 00:00:00,North,"33,23,12,46,25,47,39,1,3,6,9,40,41,30,20,42,21,32",14,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'Shopping', 'text': '4 Shoppings...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 84 Gurgaon,Sector 84,"{'LATITUDE': '28.4065341', 'LONGITUDE': '76.96...",319.028902,26300000,319.028902,26300000,Freehold,S,2.63 Cr,8766.0,Residential Apartment,4 BHK Flat in Sector 84 Gurgaon,O71585872,Alpha Corp GurgaonOne 84,"29th Sep, 2023","['READY TO MOVE', 'RESALE']",Alpha Corp GurgaonOne 84,3434.0,"['North Facing', 'Recently Renovated', 'Gated ...",26.0,10.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'gaurav khosla', 'CONTACT_COM...","{'PROJECTID': 5096, 'PROJ_NAME': 'Alpha Corp G..."
1,1-5 Year Old Property,"17,5,20,21,10,44,23,46,47,29,19,1,6,9,30,41,43...",2870,3.0,3+,4.0,1.0,DLF The Ultima,NaN,1700.0,Dealer,MVD AND ASSOCIATES,Kamal,"Explore dlf ultima, an upscale ready-To-Move h...",2023-11-28 00:00:00,North,"44,33,23,12,46,25,47,26,17,29,19,1,3,5,6,9,30,...",7,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'MetroStation', 'text': '1 Metro...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 81 Gurgaon,Sector 81,"{'LATITUDE': '28.3889069', 'LONGITUDE': '76.95...",266.631610,36000000,266.631610,36000000,Freehold,S,3.6 Cr,21176.0,Residential Apartment,4 BHK Flat in Sector 81 Gurgaon,T71585466,DLF The Ultima,"29th Sep, 2023","['READY TO MOVE', 'RESALE', 'RERA']",DLF The Ultima,2870.0,"['North Facing', ""st. xavier's within 500m"", '...",29.0,9.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Kamal', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 7182, 'PROJ_NAME': 'DLF The Ulti..."
2,1-5 Year Old Property,"32,17,2,5,20,21,44,23,45,24,46,47,28,29,30,39,...",1950,2.0,2+,3.0,42000.0,Emaar MGF The Palm Drive,1920.00,1450.0,Dealer,1st Nest Realtors,Sandeep,A 3 bhk flat for rent in sector 66 gurgaon clo...,2023-11-26 00:00:00,West,"44,23,45,24,46,25,47,28,29,30,31,32,33,12,17,3...",7,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'MetroStation', 'text': '1 Metro...",{'LOCALITY_ID': 0},Furnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 66 Gurgaon,Sector 66,"{'LATITUDE': '28.401406', 'LONGITUDE': '77.050...",181.160850,85000,181.160850,85000,NaN,R,"85,000",43.0,Residential Apartment,3 BHK Flat in Sector 66 Gurgaon,D71549524,Emaar MGF The Palm Drive,"27th Sep, 2023",['FURNISHED'],Emaar MGF The Palm Drive,1950.0,"['3 Baths', 'Full Power Backup', 'huda city ce...",17.0,14.0,NaN,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '1', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Sandeep', 'CONTACT_COMPANY_N...","{'PROJECTID': 19, 'PROJ_NAME': 'Emaar MGF The ..."
3,1-5 Year Old Property,"2,5,20,21,23,1,6,9,40,30,41,33,12,25,26,3,31,1...",2802,3.0,2+,3.0,1.0,Experion Windchants,2225.56,NaN,Dealer,GROW MORE,Kohli,Looking for a 3 bhk property for purchase in g...,2023-11-22 00:00:00,NaN,"33,23,12,25,26,1,2,3,5,6,9,40,30,41,31,20,21",14,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'Shopping', 'text': '1 Shopping'...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 112 Gurgaon,Sector 112,"{'LATITUDE': '28.518677', 'LONGITUDE': '77.015...",260.314206,38500000,260.314206,38500000,Freehold,S,3.85 Cr,13740.0,Residential Apartment,3 BHK Flat in Sector 112 Gurgaon,I71493958,Experion Windchants,"23rd Sep, 2023","['READY TO MOVE', 'RESALE', 'RERA']",Experion Windchants,2802.0,"['Gated Society', 'Overlooking Park/Garden', '...",28.0,8.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '1', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Kohli', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 4342, 'PROJ_NAME': 'Experion Win..."
4,1-5 Year Old Property,"2,20,21,44,23,46,28,1,6,9,40,30,41,12,25,26,3,31",2290,4.0,3+,3.0,1.0,ATS Triumph,NaN,NaN,Dealer,GROW MORE,Kohli,This 4 bhk flat in sector 104 gurgaon is avail...,2023-11-21 00:00:00,North-West,"44,23,12,46,25,26,28,1,2,3,6,9,40,30,41,31,20,21",12,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'MetroStation', 'text': '1 Metro...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 104 Gurgaon,Sector 104,"{'LATITUDE': '28.47844', 'LONGITUDE': '76.9861...",212.747870,40000,212.747870,40000,NaN,R,"40,000",17.0,Residential Apartment,3 BHK Flat in Sector 104 Gurgaon,H71479412,ATS Triumph,"23rd Sep, 2023",[],ATS Triumph,2290.0,"['4 Baths', 'Full Power Backup', 'Gated Societ...",27.0,14.0,NaN,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '14', 'PROP_VIDEO_COUNT':...","{'CONTACT_NAME': 'Kohli', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 25860, 'PROJ_NAME': 'ATS Triumph..."

In [34]:
df["AREA_SQFT"] = df["AREA_SQFT"].astype(float)

ValueError: could not convert string to float: '1195-1447'

In [35]:
# in this row, we see tha the area in sqft is actually a range so i'mma try and take car of that.
df.loc[df["AREA_SQFT"] == "1195-1447", :]

,AGE,AMENITIES,AREA_SQFT,BALCONY_NUM,BATHROOM_NUM,BEDROOM_NUM,BROKERAGE,BUILDING_NAME,BUILTUP_SQFT,CARPET_SQFT,CLASS_LABEL,CONTACT_COMPANY_NAME,CONTACT_NAME,DESCRIPTION,EXPIRY_DATE,FACING,FEATURES,FLOOR_NUM,FORMATTED,FORMATTED_LANDMARK_DETAILS,FSL_Data,FURNISH,GROUP_NAME,LISTING,LOCALITY,LOCALITY_WO_CITY,MAP_DETAILS,MAX_AREA_SQFT,MAX_PRICE,MIN_AREA_SQFT,MIN_PRICE,OWNTYPE,PREFERENCE,PRICE,PRICE_PER_SQFT,PROPERTY_TYPE,PROP_HEADING,PROP_ID,PROP_NAME,REGISTER_DATE,SECONDARY_TAGS,SOCIETY_NAME,SUPERBUILTUP_SQFT,TOP_USPS,TOTAL_FLOOR,TOTAL_LANDMARK_COUNT,TRANSACT_TYPE,location,metadata,profile,xid
972,Under Construction,NaN,1195-1447,NaN,NaN,3.0,NaN,Silverglades Hightown Residences,NaN,NaN,Dealer,Shri Krishna Associates,Sanjay Saini,Enjoy a blissful living experience in Silvergl...,2023-10-29 00:00:00,NaN,N,1,"{'AVAIL': {'AVAILABILITY': 1, 'SUB_AVAILABILIT...","[{'category': 'MetroStation', 'text': '1 Metro...",{'LOCALITY_ID': 0},NaN,SPID_GROUP_SEARCH_NORMAL,P,Sushant Lok Phase 1,Sushant Lok Phase 1,"{'LATITUDE': '28.47272', 'LONGITUDE': '77.0749...",134.430641,62966205,111.019085,52000425,Freehold,S,5.2 - 6.3 Cr,43515.0,Residential Apartment,3 BHK Flat in Sushant Lok Phase 1,H70722494,Silverglades Hightown Residences,"10th Aug, 2023","['UNDER CONSTRUCTION', 'NEW BOOKING', 'RERA']",Silverglades Hightown Residences,NaN,NaN,22.0,13.0,2.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '1', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Sanjay Saini', 'CONTACT_COMP...","{'PROJECTID': 370204, 'PROJ_NAME': 'Silverglad..."

##### _so i am just going to treat this row as a missing value and i would look into how i am going to input the value later on._

In [36]:
df.head()

,AGE,AMENITIES,AREA_SQFT,BALCONY_NUM,BATHROOM_NUM,BEDROOM_NUM,BROKERAGE,BUILDING_NAME,BUILTUP_SQFT,CARPET_SQFT,CLASS_LABEL,CONTACT_COMPANY_NAME,CONTACT_NAME,DESCRIPTION,EXPIRY_DATE,FACING,FEATURES,FLOOR_NUM,FORMATTED,FORMATTED_LANDMARK_DETAILS,FSL_Data,FURNISH,GROUP_NAME,LISTING,LOCALITY,LOCALITY_WO_CITY,MAP_DETAILS,MAX_AREA_SQFT,MAX_PRICE,MIN_AREA_SQFT,MIN_PRICE,OWNTYPE,PREFERENCE,PRICE,PRICE_PER_SQFT,PROPERTY_TYPE,PROP_HEADING,PROP_ID,PROP_NAME,REGISTER_DATE,SECONDARY_TAGS,SOCIETY_NAME,SUPERBUILTUP_SQFT,TOP_USPS,TOTAL_FLOOR,TOTAL_LANDMARK_COUNT,TRANSACT_TYPE,location,metadata,profile,xid
0,5-10 Year Old Property,"20,21,32,23,46,47,39,1,6,9,40,41,30,42,33,12,2...",3434,4.0,3+,4.0,263000.0,Alpha Corp GurgaonOne 84,NaN,3000.0,Dealer,propertyline,gaurav khosla,4 bhk flat for resale in alpha corp gurgaon one,2023-11-28 00:00:00,North,"33,23,12,46,25,47,39,1,3,6,9,40,41,30,20,42,21,32",14,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'Shopping', 'text': '4 Shoppings...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 84 Gurgaon,Sector 84,"{'LATITUDE': '28.4065341', 'LONGITUDE': '76.96...",319.028902,26300000,319.028902,26300000,Freehold,S,2.63 Cr,8766.0,Residential Apartment,4 BHK Flat in Sector 84 Gurgaon,O71585872,Alpha Corp GurgaonOne 84,"29th Sep, 2023","['READY TO MOVE', 'RESALE']",Alpha Corp GurgaonOne 84,3434.0,"['North Facing', 'Recently Renovated', 'Gated ...",26.0,10.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'gaurav khosla', 'CONTACT_COM...","{'PROJECTID': 5096, 'PROJ_NAME': 'Alpha Corp G..."
1,1-5 Year Old Property,"17,5,20,21,10,44,23,46,47,29,19,1,6,9,30,41,43...",2870,3.0,3+,4.0,1.0,DLF The Ultima,NaN,1700.0,Dealer,MVD AND ASSOCIATES,Kamal,"Explore dlf ultima, an upscale ready-To-Move h...",2023-11-28 00:00:00,North,"44,33,23,12,46,25,47,26,17,29,19,1,3,5,6,9,30,...",7,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'MetroStation', 'text': '1 Metro...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 81 Gurgaon,Sector 81,"{'LATITUDE': '28.3889069', 'LONGITUDE': '76.95...",266.631610,36000000,266.631610,36000000,Freehold,S,3.6 Cr,21176.0,Residential Apartment,4 BHK Flat in Sector 81 Gurgaon,T71585466,DLF The Ultima,"29th Sep, 2023","['READY TO MOVE', 'RESALE', 'RERA']",DLF The Ultima,2870.0,"['North Facing', ""st. xavier's within 500m"", '...",29.0,9.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Kamal', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 7182, 'PROJ_NAME': 'DLF The Ulti..."
2,1-5 Year Old Property,"32,17,2,5,20,21,44,23,45,24,46,47,28,29,30,39,...",1950,2.0,2+,3.0,42000.0,Emaar MGF The Palm Drive,1920.00,1450.0,Dealer,1st Nest Realtors,Sandeep,A 3 bhk flat for rent in sector 66 gurgaon clo...,2023-11-26 00:00:00,West,"44,23,45,24,46,25,47,28,29,30,31,32,33,12,17,3...",7,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'MetroStation', 'text': '1 Metro...",{'LOCALITY_ID': 0},Furnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 66 Gurgaon,Sector 66,"{'LATITUDE': '28.401406', 'LONGITUDE': '77.050...",181.160850,85000,181.160850,85000,NaN,R,"85,000",43.0,Residential Apartment,3 BHK Flat in Sector 66 Gurgaon,D71549524,Emaar MGF The Palm Drive,"27th Sep, 2023",['FURNISHED'],Emaar MGF The Palm Drive,1950.0,"['3 Baths', 'Full Power Backup', 'huda city ce...",17.0,14.0,NaN,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '1', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Sandeep', 'CONTACT_COMPANY_N...","{'PROJECTID': 19, 'PROJ_NAME': 'Emaar MGF The ..."
3,1-5 Year Old Property,"2,5,20,21,23,1,6,9,40,30,41,33,12,25,26,3,31,1...",2802,3.0,2+,3.0,1.0,Experion Windchants,2225.56,NaN,Dealer,GROW MORE,Kohli,Looking for a 3 bhk property for purchase in g...,2023-11-22 00:00:00,NaN,"33,23,12,25,26,1,2,3,5,6,9,40,30,41,31,20,21",14,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'Shopping', 'text': '1 Shopping'...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 112 Gurgaon,Sector 112,"{'LATITUDE': '28.518677', 'LONGITUDE': '77.015...",260.314206,38500000,260.314206,38500000,Freehold,S,3.85 Cr,13740.0,Residential Apartment,3 BHK Flat in Sector 112 Gurgaon,I71493958,Experion Windchants,"23rd Sep, 2023","['READY TO MOVE', 'RESALE', 'RERA']",Experion Windchants,2802.0,"['Gated Society', 'Overlooking Park/Garden', '...",28.0,8.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '1', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Kohli', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 4342, 'PROJ_NAME': 'Experion Win..."
4,1-5 Year Old Property,"2,20,21,44,23,46,28,1,6,9,40,30,41,12,25,26,3,31",2290,4.0,3+,3.0,1.0,ATS Triumph,NaN,NaN,Dealer,GROW MORE,Kohli,This 4 bhk flat in sector 104 gurgaon is avail...,2023-11-21 00:00:00,North-West,"44,23,12,46,25,26,28,1,2,3,6,9,40,30,41,31,20,21",12,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'MetroStation', 'text': '1 Metro...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 104 Gurgaon,Sector 104,"{'LATITUDE': '28.47844', 'LONGITUDE': '76.9861...",212.747870,40000,212.747870,40000,NaN,R,"40,000",17.0,Residential Apartment,3 BHK Flat in Sector 104 Gurgaon,H71479412,ATS Triumph,"23rd Sep, 2023",[],ATS Triumph,2290.0,"['4 Baths', 'Full Power Backup', 'Gated Societ...",27.0,14.0,NaN,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '14', 'PROP_VIDEO_COUNT':...","{'CONTACT_NAME': 'Kohli', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 25860, 'PROJ_NAME': 'ATS Triumph..."

In [37]:
df["BUILDING_NAME"].value_counts()

BUILDING_NAME
Emaar Digihomes                         134
Sobha City                               93
Shapoorji Pallonji Joyville Gurugram     88
Godrej Meridien                          87
Emaar Emerald Hills                      80
                                       ...
ganga realty sector 84                    1
DLF PRIVANA SECTOR 77                     1
SAPPHIRE RESIDENCY                        1
LUXURY APARTMENT                          1
cendana Residences  ss group              1
Name: count, Length: 916, dtype: int64

In [38]:
df.head(2)

,AGE,AMENITIES,AREA_SQFT,BALCONY_NUM,BATHROOM_NUM,BEDROOM_NUM,BROKERAGE,BUILDING_NAME,BUILTUP_SQFT,CARPET_SQFT,CLASS_LABEL,CONTACT_COMPANY_NAME,CONTACT_NAME,DESCRIPTION,EXPIRY_DATE,FACING,FEATURES,FLOOR_NUM,FORMATTED,FORMATTED_LANDMARK_DETAILS,FSL_Data,FURNISH,GROUP_NAME,LISTING,LOCALITY,LOCALITY_WO_CITY,MAP_DETAILS,MAX_AREA_SQFT,MAX_PRICE,MIN_AREA_SQFT,MIN_PRICE,OWNTYPE,PREFERENCE,PRICE,PRICE_PER_SQFT,PROPERTY_TYPE,PROP_HEADING,PROP_ID,PROP_NAME,REGISTER_DATE,SECONDARY_TAGS,SOCIETY_NAME,SUPERBUILTUP_SQFT,TOP_USPS,TOTAL_FLOOR,TOTAL_LANDMARK_COUNT,TRANSACT_TYPE,location,metadata,profile,xid
0,5-10 Year Old Property,"20,21,32,23,46,47,39,1,6,9,40,41,30,42,33,12,2...",3434,4.0,3+,4.0,263000.0,Alpha Corp GurgaonOne 84,NaN,3000.0,Dealer,propertyline,gaurav khosla,4 bhk flat for resale in alpha corp gurgaon one,2023-11-28 00:00:00,North,"33,23,12,46,25,47,39,1,3,6,9,40,41,30,20,42,21,32",14,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'Shopping', 'text': '4 Shoppings...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 84 Gurgaon,Sector 84,"{'LATITUDE': '28.4065341', 'LONGITUDE': '76.96...",319.028902,26300000,319.028902,26300000,Freehold,S,2.63 Cr,8766.0,Residential Apartment,4 BHK Flat in Sector 84 Gurgaon,O71585872,Alpha Corp GurgaonOne 84,"29th Sep, 2023","['READY TO MOVE', 'RESALE']",Alpha Corp GurgaonOne 84,3434.0,"['North Facing', 'Recently Renovated', 'Gated ...",26.0,10.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'gaurav khosla', 'CONTACT_COM...","{'PROJECTID': 5096, 'PROJ_NAME': 'Alpha Corp G..."
1,1-5 Year Old Property,"17,5,20,21,10,44,23,46,47,29,19,1,6,9,30,41,43...",2870,3.0,3+,4.0,1.0,DLF The Ultima,NaN,1700.0,Dealer,MVD AND ASSOCIATES,Kamal,"Explore dlf ultima, an upscale ready-To-Move h...",2023-11-28 00:00:00,North,"44,33,23,12,46,25,47,26,17,29,19,1,3,5,6,9,30,...",7,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'MetroStation', 'text': '1 Metro...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 81 Gurgaon,Sector 81,"{'LATITUDE': '28.3889069', 'LONGITUDE': '76.95...",266.631610,36000000,266.631610,36000000,Freehold,S,3.6 Cr,21176.0,Residential Apartment,4 BHK Flat in Sector 81 Gurgaon,T71585466,DLF The Ultima,"29th Sep, 2023","['READY TO MOVE', 'RESALE', 'RERA']",DLF The Ultima,2870.0,"['North Facing', ""st. xavier's within 500m"", '...",29.0,9.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Kamal', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 7182, 'PROJ_NAME': 'DLF The Ulti..."

In [39]:
json.loads(df["FORMATTED"][0].replace("'", '"'))

{'AVAIL': {'AVAILABILITY': 2,
  'SUB_AVAILABILITY': '2',
  'AVAILABILITY_DATE': ''},
 'AVG_PRICE': '26300000',
 'PRICE_SQFT': 8766,
 'LOGO': 'N',
 'FLOOR_NUMBER': '14',
 'PROP_TYPE_LABEL': 'Residential Apartment',
 'FURNISH_LABEL': 'Semifurnished',
 'FURNISHING_ATTRIBUTES': 'Light,Fan,Gey,Wtrpurfr,Mcrwv,Kit,Chmny,Dinngtbl',
 'RERA_TYPE': 'RERA',
 'PRICE_IN_WORDS': 'Rs. 2.63 Crore',
 'DESCRIPTION': '4-bhk-bedroom-residential-apartments-for-sale-in-alpha-corp-gurgaonone-84-sector-84-gurgaon-3434-sq-ft'}

#### _so for this formatted column, i think i am going to use to fill in values in other columns._

In [40]:
#  FORMATTED_LANDMARK_DETAILS -> Details of nearby landmarks.
df["FORMATTED_LANDMARK_DETAILS"][random.randint(0, 10703)]

"[{'category': 'MetroStation', 'text': '1 Metro Station', 'className': 'mstn', 'icon': 'https://static.99acres.com/universalapp/img/mstn.png'}, {'category': 'Shopping', 'text': '1 Shopping', 'className': 'shpng', 'icon': 'https://static.99acres.com/universalapp/img/shpng.png'}, {'category': 'Connectivity', 'text': '1 Connectivity', 'className': 'hw', 'icon': 'https://static.99acres.com/universalapp/img/hw.png'}, {'category': 'Education', 'text': '2 Educations', 'className': 'schl', 'icon': 'https://static.99acres.com/universalapp/img/schl.png'}, {'category': 'Airport', 'text': '1 Airport', 'className': 'aprt', 'icon': 'https://static.99acres.com/universalapp/img/aprt.png'}, {'category': 'OfficeComplex', 'text': '1 Office Complex', 'className': 'ofce', 'icon': 'https://static.99acres.com/universalapp/img/ofce.png'}, {'category': 'Hotel', 'text': '2 Hotelss', 'className': 'htl', 'icon': 'https://static.99acres.com/universalapp/img/htl.png'}, {'category': 'AmusementPark', 'text': '1 Amusement Park', 'className': 'amprk', 'icon': 'https://static.99acres.com/universalapp/img/amprk.png'}, {'category': 'GolfCourse', 'text': '1 Golf Course', 'className': 'golf', 'icon': 'https://static.99acres.com/universalapp/img/golf.png'}, {'category': 'Miscellaneous', 'text': '1 Miscellaneous', 'className': 'oldhme', 'icon': 'https://static.99acres.com/universalapp/img/oldhme.png'}]"

In [41]:
json.loads(
    df["FORMATTED_LANDMARK_DETAILS"][0].replace("'", '"'))

[{'category': 'Shopping',
  'text': '4 Shoppings',
  'className': 'shpng',
  'icon': 'https://static.99acres.com/universalapp/img/shpng.png'},
 {'category': 'Education',
  'text': '2 Educations',
  'className': 'schl',
  'icon': 'https://static.99acres.com/universalapp/img/schl.png'},
 {'category': 'Hospital',
  'text': '1 Hospital',
  'className': 'hsptl',
  'icon': 'https://static.99acres.com/universalapp/img/hsptl.png'},
 {'category': 'Bank',
  'text': '1 Banks',
  'className': 'bnk',
  'icon': 'https://static.99acres.com/universalapp/img/bnk.png'},
 {'category': 'Park',
  'text': '1 Park',
  'className': 'prk',
  'icon': 'https://static.99acres.com/universalapp/img/prk.png'},
 {'category': 'Miscellaneous',
  'text': '1 Miscellaneous',
  'className': 'oldhme',
  'icon': 'https://static.99acres.com/universalapp/img/oldhme.png'}]

In [42]:
from typing import List, Dict
landmarks_categories = []

# SO I WANNA CHECK TO MAKE SUERE THE FORMATTE LANDMARK DETAILS IN NOT A NULL VALUE
formatted_landmark_details_without_nan = df["FORMATTED_LANDMARK_DETAILS"].dropna(
)
for i, landmarks in formatted_landmark_details_without_nan.items():

    formatted_landmark_details: List[Dict] = json.loads(
        formatted_landmark_details_without_nan[i].replace("'", '"'))

    for j in range(len(formatted_landmark_details)):
        if formatted_landmark_details[j]["category"] not in landmarks_categories:
            landmarks_categories.append(
                formatted_landmark_details[j]["category"])

print(landmarks_categories)

['Shopping', 'Education', 'Hospital', 'Bank', 'Park', 'Miscellaneous', 'MetroStation', 'Connectivity', 'Airport', 'RailwayStation', 'OfficeComplex', 'Hotel', 'AmusementPark', 'GolfCourse', 'Stadium', 'Club', 'ReligiousPlace', 'ATM', 'Attraction', 'Pharmacy', 'Parking', 'SwimmingPool', 'Library', 'BusStop', 'BusDepot']

#### I want to try and create separate columns for all these landmarks with their values as numbers.

In [43]:
for landmarks in landmarks_categories:
    df[landmarks] = 0

formatted_landmark_details_without_nan = df["FORMATTED_LANDMARK_DETAILS"].dropna(
)
for i, landmarks in formatted_landmark_details_without_nan.items():

    formatted_landmark_details: List[Dict] = json.loads(
        formatted_landmark_details_without_nan[i].replace("'", '"'))

    for j in range(len(formatted_landmark_details)):
        no_of_lanmarks = formatted_landmark_details[j]["text"].split(" ")[0]
        df.loc[i, formatted_landmark_details[j]["category"]] = no_of_lanmarks
df.head()

C:\Users\Owner\AppData\Local\Temp\ipykernel_12924\3335609616.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '4' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[i, formatted_landmark_details[j]["category"]] = no_of_lanmarks
C:\Users\Owner\AppData\Local\Temp\ipykernel_12924\3335609616.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[i, formatted_landmark_details[j]["category"]] = no_of_lanmarks
C:\Users\Owner\AppData\Local\Temp\ipykernel_12924\3335609616.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[i, formatted_landmark_details[j]["category"]] = no_of_lanmarks
C:\Users\Owner\AppData\Local\Temp\ipykernel_12924\3335609616.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '3' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[i, formatted_landmark_details[j]["category"]] = no_of_lanmarks

,AGE,AMENITIES,AREA_SQFT,BALCONY_NUM,BATHROOM_NUM,BEDROOM_NUM,BROKERAGE,BUILDING_NAME,BUILTUP_SQFT,CARPET_SQFT,CLASS_LABEL,CONTACT_COMPANY_NAME,CONTACT_NAME,DESCRIPTION,EXPIRY_DATE,FACING,FEATURES,FLOOR_NUM,FORMATTED,FORMATTED_LANDMARK_DETAILS,FSL_Data,FURNISH,GROUP_NAME,LISTING,LOCALITY,LOCALITY_WO_CITY,MAP_DETAILS,MAX_AREA_SQFT,MAX_PRICE,MIN_AREA_SQFT,MIN_PRICE,OWNTYPE,PREFERENCE,PRICE,PRICE_PER_SQFT,PROPERTY_TYPE,PROP_HEADING,PROP_ID,PROP_NAME,REGISTER_DATE,SECONDARY_TAGS,SOCIETY_NAME,SUPERBUILTUP_SQFT,TOP_USPS,TOTAL_FLOOR,TOTAL_LANDMARK_COUNT,TRANSACT_TYPE,location,metadata,profile,xid,Shopping,Education,Hospital,Bank,Park,Miscellaneous,MetroStation,Connectivity,Airport,RailwayStation,OfficeComplex,Hotel,AmusementPark,GolfCourse,Stadium,Club,ReligiousPlace,ATM,Attraction,Pharmacy,Parking,SwimmingPool,Library,BusStop,BusDepot
0,5-10 Year Old Property,"20,21,32,23,46,47,39,1,6,9,40,41,30,42,33,12,2...",3434,4.0,3+,4.0,263000.0,Alpha Corp GurgaonOne 84,NaN,3000.0,Dealer,propertyline,gaurav khosla,4 bhk flat for resale in alpha corp gurgaon one,2023-11-28 00:00:00,North,"33,23,12,46,25,47,39,1,3,6,9,40,41,30,20,42,21,32",14,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'Shopping', 'text': '4 Shoppings...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 84 Gurgaon,Sector 84,"{'LATITUDE': '28.4065341', 'LONGITUDE': '76.96...",319.028902,26300000,319.028902,26300000,Freehold,S,2.63 Cr,8766.0,Residential Apartment,4 BHK Flat in Sector 84 Gurgaon,O71585872,Alpha Corp GurgaonOne 84,"29th Sep, 2023","['READY TO MOVE', 'RESALE']",Alpha Corp GurgaonOne 84,3434.0,"['North Facing', 'Recently Renovated', 'Gated ...",26.0,10.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'gaurav khosla', 'CONTACT_COM...","{'PROJECTID': 5096, 'PROJ_NAME': 'Alpha Corp G...",4,2,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1-5 Year Old Property,"17,5,20,21,10,44,23,46,47,29,19,1,6,9,30,41,43...",2870,3.0,3+,4.0,1.0,DLF The Ultima,NaN,1700.0,Dealer,MVD AND ASSOCIATES,Kamal,"Explore dlf ultima, an upscale ready-To-Move h...",2023-11-28 00:00:00,North,"44,33,23,12,46,25,47,26,17,29,19,1,3,5,6,9,30,...",7,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'MetroStation', 'text': '1 Metro...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 81 Gurgaon,Sector 81,"{'LATITUDE': '28.3889069', 'LONGITUDE': '76.95...",266.631610,36000000,266.631610,36000000,Freehold,S,3.6 Cr,21176.0,Residential Apartment,4 BHK Flat in Sector 81 Gurgaon,T71585466,DLF The Ultima,"29th Sep, 2023","['READY TO MOVE', 'RESALE', 'RERA']",DLF The Ultima,2870.0,"['North Facing', ""st. xavier's within 500m"", '...",29.0,9.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Kamal', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 7182, 'PROJ_NAME': 'DLF The Ulti...",1,2,1,0,0,0,1,2,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1-5 Year Old Property,"32,17,2,5,20,21,44,23,45,24,46,47,28,29,30,39,...",1950,2.0,2+,3.0,42000.0,Emaar MGF The Palm Drive,1920.00,1450.0,Dealer,1st Nest Realtors,Sandeep,A 3 bhk flat for rent in sector 66 gurgaon clo...,2023-11-26 00:00:00,West,"44,23,45,24,46,25,47,28,29,30,31,32,33,12,17,3...",7,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'MetroStation', 'text': '1 Metro...",{'LOCALITY_ID': 0},Furnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 66 Gurgaon,Sector 66,"{'LATITUDE': '28.401406', 'LONGITUDE': '77.050...",181.160850,85000,181.160850,85000,NaN,R,"85,000",43.0,Residential Apartment,3 BHK Flat in Sector 66 Gurgaon,D71549524,Emaar MGF The Palm Drive,"27th Sep, 2023",['FURNISHED'],Emaar MGF The Palm Drive,1950.0,"['3 Baths', 'Full Power Backup', 'huda city ce...",17.0,14.0,NaN,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '1', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Sandeep', 'CONTACT_COMPANY_N...","{'PROJECTID': 19, 'PROJ_NAME': 'Emaar MGF The ...",1,2,1,0,0,0,1,2,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0
3,1-5 Year Old Property,"2,5,20,21,23,1,6,9,40,30,41,33,12,25,26,3,31,1...",2802,3.0,2+,3.0,1.0,Experion Windchants,2225.56,NaN,Dealer,GROW MORE,Kohli,Looking for a 3 bhk property for purchase in g...,2023-11-22 00:00:00,NaN,"33,23,12,25,26,1,2,3,5,6,9,40,30,41,31,20,21",14,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'Shopping', 'text': '1 Shopping'...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 112 Gurgaon,Sector 112,"{'LATITUDE': '28.518677', 'LONGITUDE': '77.015...",260.314206,38500000,260.314206,38500000,Freehold,S,3.85 Cr,13740.0,Residential Apartment,3 BHK Flat in Sector 112 Gurgaon,I71493958,Experion Windchants,"23rd Sep, 2023","['READY TO MOVE', 'RESALE', 'RERA']",Experion Windchants,2802.0,"['Gated Society', 'Overlooking Park/Garden', '...",28.0,8.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '1', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Kohli', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 4342, 'PROJ_NAME': 'Experion Win...",1,2,2,0,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1-5 Year Old Property,"2,20,21,44,23,46,28,1,6,9,40,30,41,12,25,26,3,31",2290,4.0,3+,3.0,1.0,ATS Triumph,NaN,NaN,Dealer,GROW MORE,Kohli,This 4 bhk flat in sector 104 gurgaon is avail...,2023-11-21 00:00:00,North-West,"44,23,12,46,25,26,28,1,2,3,6,9,40,30,41,31,20,21",12,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'MetroStation', 'text': '1 Metro...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 104 Gurgaon,Sector 104,"{'LATITUDE': '28.47844', 'LONGITUDE': '76.9861...",212.747870,40000,212.747870,40000,NaN,R,"40,000",17.0,Residential Apartment,3 BHK Flat in Sector 104 Gurgaon,H71479412,ATS Triumph,"23rd Sep, 2023",[],ATS Triumph,2290.0,"['4 Baths', 'Full Power Backup', 'Gated Societ...",27.0,14.0,NaN,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '14', 'PROP_VIDEO_COUNT':...","{'CONTACT_NAME': 'Kohli', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 25860, 'PROJ_NAME': 'ATS Triumph...",1,3,1,0,0,0,1,2,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0

In [44]:
# df.drop(columns=["FORMATTED_LANDMARK_DETAILS"], inplace=True)

In [45]:
# i want to see if the sum of all the landmarks would be equal to the value in the total number of landmarks columns
df["TEMP_TOTAL_LANDMARK_COUNT"] = 0
for landmarks in landmarks_categories:
    df["TEMP_TOTAL_LANDMARK_COUNT"] += df[landmarks].astype(int)
(df["TEMP_TOTAL_LANDMARK_COUNT"] == df["TOTAL_LANDMARK_COUNT"]).all()

False

In [46]:
(df["TEMP_TOTAL_LANDMARK_COUNT"] == df["TOTAL_LANDMARK_COUNT"]).sum()

7182

In [47]:
columns_to_display = ["TOTAL_LANDMARK_COUNT", "FORMATTED_LANDMARK_DETAILS", 'Shopping', 'Education', 'Hospital', 'Bank', 'Park', 'Miscellaneous', 'MetroStation', 'Connectivity', 'Airport', 'RailwayStation', 'OfficeComplex',
                      'Hotel', 'AmusementPark', 'GolfCourse', 'Stadium', 'Club', 'ReligiousPlace', 'ATM', 'Attraction', 'Pharmacy', 'Parking', 'SwimmingPool', 'Library', 'BusStop', 'BusDepot', "TEMP_TOTAL_LANDMARK_COUNT"]

df_landmarks_unequal = df.loc[df["TEMP_TOTAL_LANDMARK_COUNT"] !=
                              df["TOTAL_LANDMARK_COUNT"], columns_to_display]
df_landmarks_unequal.head()

,TOTAL_LANDMARK_COUNT,FORMATTED_LANDMARK_DETAILS,Shopping,Education,Hospital,Bank,Park,Miscellaneous,MetroStation,Connectivity,Airport,RailwayStation,OfficeComplex,Hotel,AmusementPark,GolfCourse,Stadium,Club,ReligiousPlace,ATM,Attraction,Pharmacy,Parking,SwimmingPool,Library,BusStop,BusDepot,TEMP_TOTAL_LANDMARK_COUNT
17,10.0,"[{'category': 'Shopping', 'text': '1 Shopping'...",1,0,4,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,6
24,47.0,"[{'category': 'ReligiousPlace', 'text': '1 Rel...",0,0,20,0,0,0,0,0,0,0,2,0,0,0,0,0,1,2,1,3,0,0,0,0,0,29
29,45.0,"[{'category': 'ReligiousPlace', 'text': '2 Rel...",0,0,8,0,0,2,0,0,0,0,1,0,0,0,0,0,2,4,2,2,1,1,0,0,0,23
33,49.0,"[{'category': 'MetroStation', 'text': '1 Metro...",0,0,6,0,0,1,1,0,0,0,0,0,0,0,0,0,0,8,0,2,0,0,1,0,0,19
38,45.0,"[{'category': 'ReligiousPlace', 'text': '2 Rel...",0,0,13,0,0,2,0,0,0,0,1,0,0,0,0,0,2,3,2,2,1,1,0,0,0,27

In [48]:
df_landmarks_unequal["FORMATTED_LANDMARK_DETAILS"].iloc[2]

"[{'category': 'ReligiousPlace', 'text': '2 Religious Places', 'className': 'rlgs', 'icon': 'https://static.99acres.com/universalapp/img/rlgs.png'}, {'category': 'ATM', 'text': '4 ATMs', 'className': 'atm', 'icon': 'https://static.99acres.com/universalapp/img/atm_blue.png'}, {'category': 'Hospital', 'text': '8 Hospitals', 'className': 'hsptl', 'icon': 'https://static.99acres.com/universalapp/img/hsptl.png'}, {'category': 'Attraction', 'text': '2 Attractions', 'className': 'cultrl', 'icon': 'https://static.99acres.com/universalapp/img/cultrl.png'}, {'category': 'Pharmacy', 'text': '2 Pharmacys', 'className': 'phmcy', 'icon': 'https://static.99acres.com/universalapp/img/phmcy.png'}, {'category': 'OfficeComplex', 'text': '1 Office Complex', 'className': 'ofce', 'icon': 'https://static.99acres.com/universalapp/img/ofce.png'}, {'category': 'Parking', 'text': '1 Parking', 'className': 'prkng', 'icon': 'https://static.99acres.com/universalapp/img/prkng.png'}, {'category': 'Miscellaneous', 'text': '2 Miscellaneouss', 'className': 'oldhme', 'icon': 'https://static.99acres.com/universalapp/img/oldhme.png'}, {'category': 'SwimmingPool', 'text': '1 Swimming Pool', 'className': 'swmng', 'icon': 'https://static.99acres.com/universalapp/img/swmng.png'}]"

#### sometimes, we have large differences between the calculated number of landmarks and the one originally in the dataset.

In [49]:
df.head(2)

,AGE,AMENITIES,AREA_SQFT,BALCONY_NUM,BATHROOM_NUM,BEDROOM_NUM,BROKERAGE,BUILDING_NAME,BUILTUP_SQFT,CARPET_SQFT,CLASS_LABEL,CONTACT_COMPANY_NAME,CONTACT_NAME,DESCRIPTION,EXPIRY_DATE,FACING,FEATURES,FLOOR_NUM,FORMATTED,FORMATTED_LANDMARK_DETAILS,FSL_Data,FURNISH,GROUP_NAME,LISTING,LOCALITY,LOCALITY_WO_CITY,MAP_DETAILS,MAX_AREA_SQFT,MAX_PRICE,MIN_AREA_SQFT,MIN_PRICE,OWNTYPE,PREFERENCE,PRICE,PRICE_PER_SQFT,PROPERTY_TYPE,PROP_HEADING,PROP_ID,PROP_NAME,REGISTER_DATE,SECONDARY_TAGS,SOCIETY_NAME,SUPERBUILTUP_SQFT,TOP_USPS,TOTAL_FLOOR,TOTAL_LANDMARK_COUNT,TRANSACT_TYPE,location,metadata,profile,xid,Shopping,Education,Hospital,Bank,Park,Miscellaneous,MetroStation,Connectivity,Airport,RailwayStation,OfficeComplex,Hotel,AmusementPark,GolfCourse,Stadium,Club,ReligiousPlace,ATM,Attraction,Pharmacy,Parking,SwimmingPool,Library,BusStop,BusDepot,TEMP_TOTAL_LANDMARK_COUNT
0,5-10 Year Old Property,"20,21,32,23,46,47,39,1,6,9,40,41,30,42,33,12,2...",3434,4.0,3+,4.0,263000.0,Alpha Corp GurgaonOne 84,NaN,3000.0,Dealer,propertyline,gaurav khosla,4 bhk flat for resale in alpha corp gurgaon one,2023-11-28 00:00:00,North,"33,23,12,46,25,47,39,1,3,6,9,40,41,30,20,42,21,32",14,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'Shopping', 'text': '4 Shoppings...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 84 Gurgaon,Sector 84,"{'LATITUDE': '28.4065341', 'LONGITUDE': '76.96...",319.028902,26300000,319.028902,26300000,Freehold,S,2.63 Cr,8766.0,Residential Apartment,4 BHK Flat in Sector 84 Gurgaon,O71585872,Alpha Corp GurgaonOne 84,"29th Sep, 2023","['READY TO MOVE', 'RESALE']",Alpha Corp GurgaonOne 84,3434.0,"['North Facing', 'Recently Renovated', 'Gated ...",26.0,10.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'gaurav khosla', 'CONTACT_COM...","{'PROJECTID': 5096, 'PROJ_NAME': 'Alpha Corp G...",4,2,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,10
1,1-5 Year Old Property,"17,5,20,21,10,44,23,46,47,29,19,1,6,9,30,41,43...",2870,3.0,3+,4.0,1.0,DLF The Ultima,NaN,1700.0,Dealer,MVD AND ASSOCIATES,Kamal,"Explore dlf ultima, an upscale ready-To-Move h...",2023-11-28 00:00:00,North,"44,33,23,12,46,25,47,26,17,29,19,1,3,5,6,9,30,...",7,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'MetroStation', 'text': '1 Metro...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 81 Gurgaon,Sector 81,"{'LATITUDE': '28.3889069', 'LONGITUDE': '76.95...",266.631610,36000000,266.631610,36000000,Freehold,S,3.6 Cr,21176.0,Residential Apartment,4 BHK Flat in Sector 81 Gurgaon,T71585466,DLF The Ultima,"29th Sep, 2023","['READY TO MOVE', 'RESALE', 'RERA']",DLF The Ultima,2870.0,"['North Facing', ""st. xavier's within 500m"", '...",29.0,9.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Kamal', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 7182, 'PROJ_NAME': 'DLF The Ulti...",1,2,1,0,0,0,1,2,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,9

In [50]:
df["FSL_Data"].value_counts()

FSL_Data
{'LOCALITY_ID': 0}                       10670
{'LOCALITY_ID': 10360, 'TYPE': 'FSL'}        2
{'LOCALITY_ID': 0, 'TYPE': None}             2
{'LOCALITY_ID': 7780, 'TYPE': 'FSL'}         2
{'LOCALITY_ID': 7795, 'TYPE': 'FSL'}         2
{'LOCALITY_ID': 7872, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 13972, 'TYPE': 'FSL'}        1
{'LOCALITY_ID': 2484, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 427, 'TYPE': 'FSL'}          1
{'LOCALITY_ID': 8091, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 7506, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 4783, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 6124, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 9694, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 8879, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 8877, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 2467, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 7495, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 8089, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 9490, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 4849, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 2483, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 10358, 'TYPE': 'FSL'}        1
{'LOCALITY_ID': 2463, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 7886, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 7875, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 12574, 'TYPE': 'FSL'}        1
{'LOCALITY_ID': 7505, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 7494, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 7807, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 9674, 'TYPE': 'FSL'}         1
Name: count, dtype: int64

#### _I dont know what this fsl means at the moment so, i'd get back to that._

In [51]:
df["GROUP_NAME"].value_counts()

GROUP_NAME
SPID_CONF_GROUPING          8767
SPID_GROUP_SEARCH_NORMAL    1937
Name: count, dtype: int64

In [52]:
df["LISTING"].value_counts()

LISTING
R    10118
P      586
Name: count, dtype: int64

In [53]:
# MESSAGE TO MY tommorrow self. So, when you check the description column, sometimes, they indicated the number of bedrooms in the apartment and sometmes, this value was different
# from the one in the BEDR9OOM_NUM columns. So, what i am thinking is that the number of bedrooms on the description might be more accurate because i don't think they would want to lie
# but the value in the bedrrom_num can be wrong due to some data iputataion mistake that could have happened

In [54]:
df.head(2)

,AGE,AMENITIES,AREA_SQFT,BALCONY_NUM,BATHROOM_NUM,BEDROOM_NUM,BROKERAGE,BUILDING_NAME,BUILTUP_SQFT,CARPET_SQFT,CLASS_LABEL,CONTACT_COMPANY_NAME,CONTACT_NAME,DESCRIPTION,EXPIRY_DATE,FACING,FEATURES,FLOOR_NUM,FORMATTED,FORMATTED_LANDMARK_DETAILS,FSL_Data,FURNISH,GROUP_NAME,LISTING,LOCALITY,LOCALITY_WO_CITY,MAP_DETAILS,MAX_AREA_SQFT,MAX_PRICE,MIN_AREA_SQFT,MIN_PRICE,OWNTYPE,PREFERENCE,PRICE,PRICE_PER_SQFT,PROPERTY_TYPE,PROP_HEADING,PROP_ID,PROP_NAME,REGISTER_DATE,SECONDARY_TAGS,SOCIETY_NAME,SUPERBUILTUP_SQFT,TOP_USPS,TOTAL_FLOOR,TOTAL_LANDMARK_COUNT,TRANSACT_TYPE,location,metadata,profile,xid,Shopping,Education,Hospital,Bank,Park,Miscellaneous,MetroStation,Connectivity,Airport,RailwayStation,OfficeComplex,Hotel,AmusementPark,GolfCourse,Stadium,Club,ReligiousPlace,ATM,Attraction,Pharmacy,Parking,SwimmingPool,Library,BusStop,BusDepot,TEMP_TOTAL_LANDMARK_COUNT
0,5-10 Year Old Property,"20,21,32,23,46,47,39,1,6,9,40,41,30,42,33,12,2...",3434,4.0,3+,4.0,263000.0,Alpha Corp GurgaonOne 84,NaN,3000.0,Dealer,propertyline,gaurav khosla,4 bhk flat for resale in alpha corp gurgaon one,2023-11-28 00:00:00,North,"33,23,12,46,25,47,39,1,3,6,9,40,41,30,20,42,21,32",14,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'Shopping', 'text': '4 Shoppings...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 84 Gurgaon,Sector 84,"{'LATITUDE': '28.4065341', 'LONGITUDE': '76.96...",319.028902,26300000,319.028902,26300000,Freehold,S,2.63 Cr,8766.0,Residential Apartment,4 BHK Flat in Sector 84 Gurgaon,O71585872,Alpha Corp GurgaonOne 84,"29th Sep, 2023","['READY TO MOVE', 'RESALE']",Alpha Corp GurgaonOne 84,3434.0,"['North Facing', 'Recently Renovated', 'Gated ...",26.0,10.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'gaurav khosla', 'CONTACT_COM...","{'PROJECTID': 5096, 'PROJ_NAME': 'Alpha Corp G...",4,2,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,10
1,1-5 Year Old Property,"17,5,20,21,10,44,23,46,47,29,19,1,6,9,30,41,43...",2870,3.0,3+,4.0,1.0,DLF The Ultima,NaN,1700.0,Dealer,MVD AND ASSOCIATES,Kamal,"Explore dlf ultima, an upscale ready-To-Move h...",2023-11-28 00:00:00,North,"44,33,23,12,46,25,47,26,17,29,19,1,3,5,6,9,30,...",7,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'MetroStation', 'text': '1 Metro...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 81 Gurgaon,Sector 81,"{'LATITUDE': '28.3889069', 'LONGITUDE': '76.95...",266.631610,36000000,266.631610,36000000,Freehold,S,3.6 Cr,21176.0,Residential Apartment,4 BHK Flat in Sector 81 Gurgaon,T71585466,DLF The Ultima,"29th Sep, 2023","['READY TO MOVE', 'RESALE', 'RERA']",DLF The Ultima,2870.0,"['North Facing', ""st. xavier's within 500m"", '...",29.0,9.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Kamal', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 7182, 'PROJ_NAME': 'DLF The Ulti...",1,2,1,0,0,0,1,2,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,9

some of the things i need to find out is what is the difference between maxprice, price and minprice and price persqft
also, what is the difference between max area sqft, area sqft and min area sqft

In [55]:
# changing the data types of the columns
for landmark in landmarks_categories:
    df[landmark] = df[landmark].astype(float)
df['TEMP_TOTAL_LANDMARK_COUNT'] = df['TEMP_TOTAL_LANDMARK_COUNT'].astype(float)

df.head(2)

,AGE,AMENITIES,AREA_SQFT,BALCONY_NUM,BATHROOM_NUM,BEDROOM_NUM,BROKERAGE,BUILDING_NAME,BUILTUP_SQFT,CARPET_SQFT,CLASS_LABEL,CONTACT_COMPANY_NAME,CONTACT_NAME,DESCRIPTION,EXPIRY_DATE,FACING,FEATURES,FLOOR_NUM,FORMATTED,FORMATTED_LANDMARK_DETAILS,FSL_Data,FURNISH,GROUP_NAME,LISTING,LOCALITY,LOCALITY_WO_CITY,MAP_DETAILS,MAX_AREA_SQFT,MAX_PRICE,MIN_AREA_SQFT,MIN_PRICE,OWNTYPE,PREFERENCE,PRICE,PRICE_PER_SQFT,PROPERTY_TYPE,PROP_HEADING,PROP_ID,PROP_NAME,REGISTER_DATE,SECONDARY_TAGS,SOCIETY_NAME,SUPERBUILTUP_SQFT,TOP_USPS,TOTAL_FLOOR,TOTAL_LANDMARK_COUNT,TRANSACT_TYPE,location,metadata,profile,xid,Shopping,Education,Hospital,Bank,Park,Miscellaneous,MetroStation,Connectivity,Airport,RailwayStation,OfficeComplex,Hotel,AmusementPark,GolfCourse,Stadium,Club,ReligiousPlace,ATM,Attraction,Pharmacy,Parking,SwimmingPool,Library,BusStop,BusDepot,TEMP_TOTAL_LANDMARK_COUNT
0,5-10 Year Old Property,"20,21,32,23,46,47,39,1,6,9,40,41,30,42,33,12,2...",3434,4.0,3+,4.0,263000.0,Alpha Corp GurgaonOne 84,NaN,3000.0,Dealer,propertyline,gaurav khosla,4 bhk flat for resale in alpha corp gurgaon one,2023-11-28 00:00:00,North,"33,23,12,46,25,47,39,1,3,6,9,40,41,30,20,42,21,32",14,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'Shopping', 'text': '4 Shoppings...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 84 Gurgaon,Sector 84,"{'LATITUDE': '28.4065341', 'LONGITUDE': '76.96...",319.028902,26300000,319.028902,26300000,Freehold,S,2.63 Cr,8766.0,Residential Apartment,4 BHK Flat in Sector 84 Gurgaon,O71585872,Alpha Corp GurgaonOne 84,"29th Sep, 2023","['READY TO MOVE', 'RESALE']",Alpha Corp GurgaonOne 84,3434.0,"['North Facing', 'Recently Renovated', 'Gated ...",26.0,10.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'gaurav khosla', 'CONTACT_COM...","{'PROJECTID': 5096, 'PROJ_NAME': 'Alpha Corp G...",4.0,2.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0
1,1-5 Year Old Property,"17,5,20,21,10,44,23,46,47,29,19,1,6,9,30,41,43...",2870,3.0,3+,4.0,1.0,DLF The Ultima,NaN,1700.0,Dealer,MVD AND ASSOCIATES,Kamal,"Explore dlf ultima, an upscale ready-To-Move h...",2023-11-28 00:00:00,North,"44,33,23,12,46,25,47,26,17,29,19,1,3,5,6,9,30,...",7,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'MetroStation', 'text': '1 Metro...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 81 Gurgaon,Sector 81,"{'LATITUDE': '28.3889069', 'LONGITUDE': '76.95...",266.631610,36000000,266.631610,36000000,Freehold,S,3.6 Cr,21176.0,Residential Apartment,4 BHK Flat in Sector 81 Gurgaon,T71585466,DLF The Ultima,"29th Sep, 2023","['READY TO MOVE', 'RESALE', 'RERA']",DLF The Ultima,2870.0,"['North Facing', ""st. xavier's within 500m"", '...",29.0,9.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Kamal', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 7182, 'PROJ_NAME': 'DLF The Ulti...",1.0,2.0,1.0,0.0,0.0,0.0,1.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0

In [56]:
df['MAX_PRICE'] = df["MAX_PRICE"].astype(float)
df["MIN_PRICE"] = df["MIN_PRICE"].astype(float)

In [57]:
df_price = df.loc[:, ["MIN_PRICE", "MAX_PRICE", "PRICE", "PRICE_PER_SQFT"]]
df_sqft = df.loc[:, ["AREA_SQFT", "MAX_AREA_SQFT",
                     "MIN_AREA_SQFT", "BUILTUP_SQFT", "CARPET_SQFT"]]

df_price

        MIN_PRICE   MAX_PRICE    PRICE  PRICE_PER_SQFT
0      26300000.0  26300000.0  2.63 Cr          8766.0
1      36000000.0  36000000.0   3.6 Cr         21176.0
2         85000.0     85000.0   85,000            43.0
3      38500000.0  38500000.0  3.85 Cr         13740.0
4         40000.0     40000.0   40,000            17.0
...           ...         ...      ...             ...
10699  25000000.0  25000000.0   2.5 Cr         11887.0
10700  13500000.0  13500000.0  1.35 Cr          9100.0
10701  12900000.0  12900000.0  1.29 Cr          8896.0
10702  13000000.0  13000000.0   1.3 Cr          8965.0
10703  48000000.0  48000000.0   4.8 Cr         15000.0

[10704 rows x 4 columns]

In [58]:
(df_price["MIN_PRICE"] == df_price["MAX_PRICE"]).all()

False

In [59]:
print(
    f'There is a total of {len(df_price)} rows in the dataframe. Comparing the max price and min price columns, only {(df_price["MIN_PRICE"] != df_price["MAX_PRICE"]).sum()} aren\'t the same')

There is a total of 10704 rows in the dataframe. Comparing the max price and min price columns, only 5 aren't the same

In [60]:
df_price.loc[df["MAX_PRICE"] != df["MIN_PRICE"], :]

       MIN_PRICE   MAX_PRICE            PRICE  PRICE_PER_SQFT
972   52000425.0  62966205.0    5.2  - 6.3 Cr         43515.0
1077  53883477.0  63282840.0  5.39  - 6.33 Cr         31021.0
1078  38000725.0  42560812.0   3.8  - 4.26 Cr         31021.0
1621  13000121.0  13076400.0   1.3  - 1.31 Cr         10897.0
1623  13000121.0  13076400.0   1.3  - 1.31 Cr         10897.0

In [61]:
df_sqft

      AREA_SQFT  MAX_AREA_SQFT  MIN_AREA_SQFT  BUILTUP_SQFT  CARPET_SQFT
0          3434     319.028902     319.028902           NaN       3000.0
1          2870     266.631610     266.631610           NaN       1700.0
2          1950     181.160850     181.160850       1920.00       1450.0
3          2802     260.314206     260.314206       2225.56          NaN
4          2290     212.747870     212.747870           NaN          NaN
...         ...            ...            ...           ...          ...
10699      2103     195.375009     195.375009           NaN          NaN
10700      1450     134.709350     134.709350       1450.00          NaN
10701      1450     134.709350     134.709350           NaN          NaN
10702      1450     134.709350     134.709350           NaN          NaN
10703      3200     297.289600     297.289600           NaN          NaN

[10704 rows x 5 columns]

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10704 entries, 0 to 10703
Data columns (total 77 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   AGE                         10519 non-null  object
 1   AMENITIES                   10620 non-null  object
 2   AREA_SQFT                   10704 non-null  object
 3   BALCONY_NUM                 10501 non-null  float64
 4   BATHROOM_NUM                10169 non-null  object
 5   BEDROOM_NUM                 10511 non-null  float64
 6   BROKERAGE                   10623 non-null  float64
 7   BUILDING_NAME               9135 non-null   object
 8   BUILTUP_SQFT                2733 non-null   float64
 9   CARPET_SQFT                 6539 non-null   float64
 10  CLASS_LABEL                 10704 non-null  object
 11  CONTACT_COMPANY_NAME        10699 non-null  object
 12  CONTACT_NAME                10660 non-null  object
 13  DESCRIPTION                 10704 non-null  object
 14  EXPIRY_DATE                 10704 non-null  object
 15  FACING                      9511 non-null   object
 16  FEATURES                    10704 non-null  object
 17  FLOOR_NUM                   9804 non-null   object
 18  FORMATTED                   10704 non-null  object
 19  FORMATTED_LANDMARK_DETAILS  10638 non-null  object
 20  FSL_Data                    10704 non-null  object
 21  FURNISH                     10198 non-null  object
 22  GROUP_NAME                  10704 non-null  object
 23  LISTING                     10704 non-null  object
 24  LOCALITY                    10704 non-null  object
 25  LOCALITY_WO_CITY            10704 non-null  object
 26  MAP_DETAILS                 10704 non-null  object
 27  MAX_AREA_SQFT               10704 non-null  float64
 28  MAX_PRICE                   10704 non-null  float64
 29  MIN_AREA_SQFT               10704 non-null  float64
 30  MIN_PRICE                   10704 non-null  float64
 31  OWNTYPE                     10155 non-null  object
 32  PREFERENCE                  10704 non-null  object
 33  PRICE                       10704 non-null  object
 34  PRICE_PER_SQFT              10704 non-null  float64
 35  PROPERTY_TYPE               10704 non-null  object
 36  PROP_HEADING                10704 non-null  object
 37  PROP_ID                     10704 non-null  object
 38  PROP_NAME                   9135 non-null   object
 39  REGISTER_DATE               10704 non-null  object
 40  SECONDARY_TAGS              10704 non-null  object
 41  SOCIETY_NAME                9135 non-null   object
 42  SUPERBUILTUP_SQFT           6712 non-null   float64
 43  TOP_USPS                    8179 non-null   object
 44  TOTAL_FLOOR                 10697 non-null  float64
 45  TOTAL_LANDMARK_COUNT        10638 non-null  float64
 46  TRANSACT_TYPE               10152 non-null  float64
 47  location                    10704 non-null  object
 48  metadata                    10704 non-null  object
 49  profile                     10704 non-null  object
 50  xid                         10704 non-null  object
 51  Shopping                    10704 non-null  float64
 52  Education                   10704 non-null  float64
 53  Hospital                    10704 non-null  float64
 54  Bank                        10704 non-null  float64
 55  Park                        10704 non-null  float64
 56  Miscellaneous               10704 non-null  float64
 57  MetroStation                10704 non-null  float64
 58  Connectivity                10704 non-null  float64
 59  Airport                     10704 non-null  float64
 60  RailwayStation              10704 non-null  float64
 61  OfficeComplex               10704 non-null  float64
 62  Hotel                       10704 non-null  float64
 63  AmusementPark               10704 non-null  float64
 64  GolfCourse                  10704 non-null  float64
 65  Stadium                     10704 non-null  float64
 66  Club                        10704 non-null  float64
 67  ReligiousPlace              10704 non-null  float64
 68  ATM                         10704 non-null  float64
 69  Attraction                  10704 non-null  float64
 70  Pharmacy                    10704 non-null  float64
 71  Parking                     10704 non-null  float64
 72  SwimmingPool                10704 non-null  float64
 73  Library                     10704 non-null  float64
 74  BusStop                     10704 non-null  float64
 75  BusDepot                    10704 non-null  float64
 76  TEMP_TOTAL_LANDMARK_COUNT   10704 non-null  float64
dtypes: float64(40), object(37)
memory usage: 6.3+ MB

In [63]:
df.head(3)

,AGE,AMENITIES,AREA_SQFT,BALCONY_NUM,BATHROOM_NUM,BEDROOM_NUM,BROKERAGE,BUILDING_NAME,BUILTUP_SQFT,CARPET_SQFT,CLASS_LABEL,CONTACT_COMPANY_NAME,CONTACT_NAME,DESCRIPTION,EXPIRY_DATE,FACING,FEATURES,FLOOR_NUM,FORMATTED,FORMATTED_LANDMARK_DETAILS,FSL_Data,FURNISH,GROUP_NAME,LISTING,LOCALITY,LOCALITY_WO_CITY,MAP_DETAILS,MAX_AREA_SQFT,MAX_PRICE,MIN_AREA_SQFT,MIN_PRICE,OWNTYPE,PREFERENCE,PRICE,PRICE_PER_SQFT,PROPERTY_TYPE,PROP_HEADING,PROP_ID,PROP_NAME,REGISTER_DATE,SECONDARY_TAGS,SOCIETY_NAME,SUPERBUILTUP_SQFT,TOP_USPS,TOTAL_FLOOR,TOTAL_LANDMARK_COUNT,TRANSACT_TYPE,location,metadata,profile,xid,Shopping,Education,Hospital,Bank,Park,Miscellaneous,MetroStation,Connectivity,Airport,RailwayStation,OfficeComplex,Hotel,AmusementPark,GolfCourse,Stadium,Club,ReligiousPlace,ATM,Attraction,Pharmacy,Parking,SwimmingPool,Library,BusStop,BusDepot,TEMP_TOTAL_LANDMARK_COUNT
0,5-10 Year Old Property,"20,21,32,23,46,47,39,1,6,9,40,41,30,42,33,12,2...",3434,4.0,3+,4.0,263000.0,Alpha Corp GurgaonOne 84,NaN,3000.0,Dealer,propertyline,gaurav khosla,4 bhk flat for resale in alpha corp gurgaon one,2023-11-28 00:00:00,North,"33,23,12,46,25,47,39,1,3,6,9,40,41,30,20,42,21,32",14,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'Shopping', 'text': '4 Shoppings...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 84 Gurgaon,Sector 84,"{'LATITUDE': '28.4065341', 'LONGITUDE': '76.96...",319.028902,26300000.0,319.028902,26300000.0,Freehold,S,2.63 Cr,8766.0,Residential Apartment,4 BHK Flat in Sector 84 Gurgaon,O71585872,Alpha Corp GurgaonOne 84,"29th Sep, 2023","['READY TO MOVE', 'RESALE']",Alpha Corp GurgaonOne 84,3434.0,"['North Facing', 'Recently Renovated', 'Gated ...",26.0,10.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'gaurav khosla', 'CONTACT_COM...","{'PROJECTID': 5096, 'PROJ_NAME': 'Alpha Corp G...",4.0,2.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0
1,1-5 Year Old Property,"17,5,20,21,10,44,23,46,47,29,19,1,6,9,30,41,43...",2870,3.0,3+,4.0,1.0,DLF The Ultima,NaN,1700.0,Dealer,MVD AND ASSOCIATES,Kamal,"Explore dlf ultima, an upscale ready-To-Move h...",2023-11-28 00:00:00,North,"44,33,23,12,46,25,47,26,17,29,19,1,3,5,6,9,30,...",7,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'MetroStation', 'text': '1 Metro...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 81 Gurgaon,Sector 81,"{'LATITUDE': '28.3889069', 'LONGITUDE': '76.95...",266.631610,36000000.0,266.631610,36000000.0,Freehold,S,3.6 Cr,21176.0,Residential Apartment,4 BHK Flat in Sector 81 Gurgaon,T71585466,DLF The Ultima,"29th Sep, 2023","['READY TO MOVE', 'RESALE', 'RERA']",DLF The Ultima,2870.0,"['North Facing', ""st. xavier's within 500m"", '...",29.0,9.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Kamal', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 7182, 'PROJ_NAME': 'DLF The Ulti...",1.0,2.0,1.0,0.0,0.0,0.0,1.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0
2,1-5 Year Old Property,"32,17,2,5,20,21,44,23,45,24,46,47,28,29,30,39,...",1950,2.0,2+,3.0,42000.0,Emaar MGF The Palm Drive,1920.0,1450.0,Dealer,1st Nest Realtors,Sandeep,A 3 bhk flat for rent in sector 66 gurgaon clo...,2023-11-26 00:00:00,West,"44,23,45,24,46,25,47,28,29,30,31,32,33,12,17,3...",7,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'MetroStation', 'text': '1 Metro...",{'LOCALITY_ID': 0},Furnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 66 Gurgaon,Sector 66,"{'LATITUDE': '28.401406', 'LONGITUDE': '77.050...",181.160850,85000.0,181.160850,85000.0,NaN,R,"85,000",43.0,Residential Apartment,3 BHK Flat in Sector 66 Gurgaon,D71549524,Emaar MGF The Palm Drive,"27th Sep, 2023",['FURNISHED'],Emaar MGF The Palm Drive,1950.0,"['3 Baths', 'Full Power Backup', 'huda city ce...",17.0,14.0,NaN,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '1', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Sandeep', 'CONTACT_COMPANY_N...","{'PROJECTID': 19, 'PROJ_NAME': 'Emaar MGF The ...",1.0,2.0,1.0,0.0,0.0,0.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0

In [64]:
contains_gurgaon = []
contains_gurgaon_indices = []
not_contains_gurgaon_indices = []
not_contains_gurgaon = []
for i, values in df["LOCALITY"].items():
    if "gurgaon" in values.lower():
        contains_gurgaon.append(values)
        contains_gurgaon_indices.append(i)
    else:
        not_contains_gurgaon.append(values)
        not_contains_gurgaon_indices.append(i)

contains_gurgaon = pd.Series(contains_gurgaon)
not_contains_gurgaon = pd.Series(not_contains_gurgaon)
print(f"The number of houses in Gurgaon is {len(contains_gurgaon)}")
print(f"The number of houses not in Gurgaon is {len(not_contains_gurgaon)}")

The number of houses in Gurgaon is 7955
The number of houses not in Gurgaon is 2749

In [65]:
not_contains_gurgaon.value_counts()

DLF Phase 2                     269
Sohna                           240
DLF Phase 1                     233
Sector-33 Sohna                 220
Sushant Lok Phase 1             192
                               ...
Westerlies                        1
sector 28 , Golf course road      1
Southern Peripheral Road          1
Rajiv Chowk                       1
Sector 1A IMT Manesar             1
Name: count, Length: 116, dtype: int64

In [66]:
# i wnt to see the locality_wo_city column for the rows that don't contain gurgaon
df.iloc[not_contains_gurgaon_indices, :].head()
# so from what i am seeing for localities not gurgaon, the locality columns is the same as locality_wo_city coluns but lemme check sha

,AGE,AMENITIES,AREA_SQFT,BALCONY_NUM,BATHROOM_NUM,BEDROOM_NUM,BROKERAGE,BUILDING_NAME,BUILTUP_SQFT,CARPET_SQFT,CLASS_LABEL,CONTACT_COMPANY_NAME,CONTACT_NAME,DESCRIPTION,EXPIRY_DATE,FACING,FEATURES,FLOOR_NUM,FORMATTED,FORMATTED_LANDMARK_DETAILS,FSL_Data,FURNISH,GROUP_NAME,LISTING,LOCALITY,LOCALITY_WO_CITY,MAP_DETAILS,MAX_AREA_SQFT,MAX_PRICE,MIN_AREA_SQFT,MIN_PRICE,OWNTYPE,PREFERENCE,PRICE,PRICE_PER_SQFT,PROPERTY_TYPE,PROP_HEADING,PROP_ID,PROP_NAME,REGISTER_DATE,SECONDARY_TAGS,SOCIETY_NAME,SUPERBUILTUP_SQFT,TOP_USPS,TOTAL_FLOOR,TOTAL_LANDMARK_COUNT,TRANSACT_TYPE,location,metadata,profile,xid,Shopping,Education,Hospital,Bank,Park,Miscellaneous,MetroStation,Connectivity,Airport,RailwayStation,OfficeComplex,Hotel,AmusementPark,GolfCourse,Stadium,Club,ReligiousPlace,ATM,Attraction,Pharmacy,Parking,SwimmingPool,Library,BusStop,BusDepot,TEMP_TOTAL_LANDMARK_COUNT
29,0-1 Year Old Property,"5,21,45,46,19,40,41,42,101,102",1935,2.0,2+,3.0,1.0,NaN,NaN,NaN,Dealer,OPTUS HOUSING,Optus Housing,215 sq.Yd builder floor in sushant lok -3bhk o...,2023-11-09 00:00:00,East,"45,46,5,19,40,41,42,21",4,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'ReligiousPlace', 'text': '2 Rel...",{'LOCALITY_ID': 0},NaN,SPID_GROUP_SEARCH_NORMAL,R,Block B Sushant Lok Phase - 3,Block B Sushant Lok Phase - 3,"{'LATITUDE': '28.42093', 'LONGITUDE': '77.0811...",179.767305,20000000.0,179.767305,20000000.0,Freehold,S,2 Cr,93023.0,Independent/Builder Floor,3 BHK Independent Builder Floor in Block B Sus...,J71280660,NaN,"10th Sep, 2023","['READY TO MOVE', 'RESALE']",NaN,1935.0,NaN,4.0,45.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '19', 'PROP_VIDEO_COUNT':...","{'CONTACT_NAME': 'Optus Housing', 'CONTACT_COM...","{'PROJECTID': 0, 'BUILDERID': 0}",0.0,0.0,8.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,4.0,2.0,2.0,1.0,1.0,0.0,0.0,0.0,23.0
33,0-1 Year Old Property,"5,8,10,44,23,45,46,47,39,28,19,6,9,40,42,101,1...",5000,2.0,2+,4.0,1.0,NaN,NaN,NaN,Dealer,The Soni Landbase,Team The Soni Landbase,Looking to buy an independent house in gurgaon...,2023-11-07 00:00:00,East,"44,23,45,46,47,39,28,19,5,6,8,9,40,42,10",NaN,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'MetroStation', 'text': '1 Metro...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,South City 1,South City 1,"{'LATITUDE': '28.460089', 'LONGITUDE': '77.066...",464.515000,180000000.0,464.515000,180000000.0,Freehold,S,18 Cr,36000.0,Independent House/Villa,4 Bedroom House in South City 1,U71262472,NaN,"08th Sep, 2023","['READY TO MOVE', 'RESALE']",NaN,NaN,"['East Facing', 'Private Garden', 'Fresh Const...",1.0,49.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '11', 'PROP_VIDEO_COUNT':...","{'CONTACT_NAME': 'Team The Soni Landbase', 'CO...","{'PROJECTID': 0, 'BUILDERID': 0}",0.0,0.0,6.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,2.0,0.0,0.0,1.0,0.0,0.0,19.0
80,5-10 Year Old Property,"5,17,20,21,23,24,6,19,101,102,103",2305,3.0,3+,4.0,1.0,DLF Belvedere Towers,2210.0,2110.0,Dealer,Garden Estate Agency,Akhilesh Choudhary,Very reasonable price for sale 4 bedroom plus ...,2023-10-20 00:00:00,East,"23,24,5,17,6,19,20,21",1,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'MetroStation', 'text': '5 Metro...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,DLF Phase 2,DLF Phase 2,"{'LATITUDE': '28.4889627', 'LONGITUDE': '77.08...",214.141415,33000000.0,214.141415,33000000.0,Freehold,S,3.3 Cr,14316.0,Residential Apartment,4 BHK Flat in DLF Phase 2,E70933318,DLF Belvedere Towers,"21st Aug, 2023","['READY TO MOVE', 'RESALE']",DLF Belvedere Towers,2305.0,"['East Facing', 'DPS within 1km', 'Cyber Hub ...",19.0,44.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '8', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Akhilesh Choudhary', 'CONTAC...","{'PROJECTID': 37158, 'PROJ_NAME': 'DLF Belvede...",0.0,0.0,9.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,3.0,6.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,29.0
84,NaN,"5,23,24",2088,NaN,NaN,NaN,1.0,NaN,NaN,NaN,Dealer,Crossroad Consultant INC,Vishal,Plot for sale in sushant lok-3 sec-57 gurgaon ...,2023-10-16 00:00:00,North-East,"23,24,5",NaN,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'ReligiousPlace', 'text': '2 Rel...",{'LOCALITY_ID': 0},NaN,SPID_GROUP_SEARCH_NORMAL,R,Block B Sushant Lok Phase - 3,Block B Sushant Lok Phase - 3,"{'LATITUDE': '28.42093', 'LONGITUDE': '77.0811...",193.981464,37000000.0,193.981464,37000000.0,Freehold,S,3.7 Cr,159482.0,Residential Land,Residential land / Plot in Block B Sushant Lok...,F70849506,NaN,"17th Aug, 2023","['CORNER PROPERTY', 'NORTH-EAST FACING', 'HSII...",NaN,NaN,"['North-East Facing', 'Corner Property', 'Over...",3.0,45.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '0', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Vishal', 'CONTACT_COMPANY_NA...","{'PROJECTID': 0, 'BUILDERID': 0}",0.0,0.0,8.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,4.0,2.0,2.0,1.0,1.0,0.0,0.0,0.0,23.0
88,0-1 Year Old Property,"17,5,20,32,10,21,23,45,24,46,19,6,9,40,41,30,4...",2890,3.0,3+,4.0,1.0,NaN,2678.0,2500.0,Dealer,Crossroad Consultant INC,Vishal,4 bhk luxury builder floor for sale in south c...,2023-10-08 00:00:00,North-East,"23,45,24,46,17,19,5,6,9,40,41,30,42,20,32,10,21",1,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'ATM', 'text': '2 ATMs', 'classN...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,South City 2,South City 2,"{'LATITUDE': '28.418353', 'LONGITUDE': '77.053...",268.489670,34000000.0,268.489670,34000000.0,Freehold,S,3.4 Cr,11764.0,Independent/Builder Floor,4 BHK Independent Builder Floor in South City 2,A70706254,NaN,"09th Aug, 2023","['READY TO MOVE', 'RESALE']",NaN,2890.0,"['North-East Facing', 'Fresh Construction', 'G...",4.0,45.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '12', 'PROP_VIDEO_COUNT':...","{'CONTACT_NAME': 'Vishal', 'CONTACT_COMPANY_NA...","{'PROJECTID': 0, 'BUILDERID': 0}",0.0,0.0,15.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,3.0,1.0,1.0,0.0,0.0,0.0,26.0

In [67]:
(df.loc[not_contains_gurgaon_indices, "LOCALITY"] ==
 df.loc[not_contains_gurgaon_indices, "LOCALITY_WO_CITY"]).all()

True

##### _so i WAs correct. I am going to try and drop the locality_wo_city column since locality column already contains all the information in locality_wo_city and maybe create another column city_

In [68]:
df["CITY"] = 0
df.loc[contains_gurgaon_indices, "CITY"] = "Gurgaon"
df.loc[not_contains_gurgaon_indices, "CITY"] = "Not Gurgaon"
df.head(n=2)

C:\Users\Owner\AppData\Local\Temp\ipykernel_12924\3490129260.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Gurgaon' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[contains_gurgaon_indices, "CITY"] = "Gurgaon"

,AGE,AMENITIES,AREA_SQFT,BALCONY_NUM,BATHROOM_NUM,BEDROOM_NUM,BROKERAGE,BUILDING_NAME,BUILTUP_SQFT,CARPET_SQFT,CLASS_LABEL,CONTACT_COMPANY_NAME,CONTACT_NAME,DESCRIPTION,EXPIRY_DATE,FACING,FEATURES,FLOOR_NUM,FORMATTED,FORMATTED_LANDMARK_DETAILS,FSL_Data,FURNISH,GROUP_NAME,LISTING,LOCALITY,LOCALITY_WO_CITY,MAP_DETAILS,MAX_AREA_SQFT,MAX_PRICE,MIN_AREA_SQFT,MIN_PRICE,OWNTYPE,PREFERENCE,PRICE,PRICE_PER_SQFT,PROPERTY_TYPE,PROP_HEADING,PROP_ID,PROP_NAME,REGISTER_DATE,SECONDARY_TAGS,SOCIETY_NAME,SUPERBUILTUP_SQFT,TOP_USPS,TOTAL_FLOOR,TOTAL_LANDMARK_COUNT,TRANSACT_TYPE,location,metadata,profile,xid,Shopping,Education,Hospital,Bank,Park,Miscellaneous,MetroStation,Connectivity,Airport,RailwayStation,OfficeComplex,Hotel,AmusementPark,GolfCourse,Stadium,Club,ReligiousPlace,ATM,Attraction,Pharmacy,Parking,SwimmingPool,Library,BusStop,BusDepot,TEMP_TOTAL_LANDMARK_COUNT,CITY
0,5-10 Year Old Property,"20,21,32,23,46,47,39,1,6,9,40,41,30,42,33,12,2...",3434,4.0,3+,4.0,263000.0,Alpha Corp GurgaonOne 84,NaN,3000.0,Dealer,propertyline,gaurav khosla,4 bhk flat for resale in alpha corp gurgaon one,2023-11-28 00:00:00,North,"33,23,12,46,25,47,39,1,3,6,9,40,41,30,20,42,21,32",14,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'Shopping', 'text': '4 Shoppings...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 84 Gurgaon,Sector 84,"{'LATITUDE': '28.4065341', 'LONGITUDE': '76.96...",319.028902,26300000.0,319.028902,26300000.0,Freehold,S,2.63 Cr,8766.0,Residential Apartment,4 BHK Flat in Sector 84 Gurgaon,O71585872,Alpha Corp GurgaonOne 84,"29th Sep, 2023","['READY TO MOVE', 'RESALE']",Alpha Corp GurgaonOne 84,3434.0,"['North Facing', 'Recently Renovated', 'Gated ...",26.0,10.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'gaurav khosla', 'CONTACT_COM...","{'PROJECTID': 5096, 'PROJ_NAME': 'Alpha Corp G...",4.0,2.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,Gurgaon
1,1-5 Year Old Property,"17,5,20,21,10,44,23,46,47,29,19,1,6,9,30,41,43...",2870,3.0,3+,4.0,1.0,DLF The Ultima,NaN,1700.0,Dealer,MVD AND ASSOCIATES,Kamal,"Explore dlf ultima, an upscale ready-To-Move h...",2023-11-28 00:00:00,North,"44,33,23,12,46,25,47,26,17,29,19,1,3,5,6,9,30,...",7,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'MetroStation', 'text': '1 Metro...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 81 Gurgaon,Sector 81,"{'LATITUDE': '28.3889069', 'LONGITUDE': '76.95...",266.631610,36000000.0,266.631610,36000000.0,Freehold,S,3.6 Cr,21176.0,Residential Apartment,4 BHK Flat in Sector 81 Gurgaon,T71585466,DLF The Ultima,"29th Sep, 2023","['READY TO MOVE', 'RESALE', 'RERA']",DLF The Ultima,2870.0,"['North Facing', ""st. xavier's within 500m"", '...",29.0,9.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Kamal', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 7182, 'PROJ_NAME': 'DLF The Ulti...",1.0,2.0,1.0,0.0,0.0,0.0,1.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,Gurgaon

In [69]:
df.drop(columns=["LOCALITY_WO_CITY"], inplace=True)

In [70]:
df["MAP_DETAILS"].value_counts()

MAP_DETAILS
{'LATITUDE': '28.40356', 'LONGITUDE': '77.085012', 'ZOOM_LEVEL': '14', 'SOURCE': 'BUILDING', 'MAP_ACCURACY': '0', 'MAPPED': 'Y'}                 104
{'LATITUDE': '28.4889627', 'LONGITUDE': '77.0866646', 'ZOOM_LEVEL': '12', 'SOURCE': 'LOCALITY', 'MAP_ACCURACY': '0', 'MAPPED': 'Y'}               95
{'LATITUDE': '28.4754909', 'LONGITUDE': '77.1032095', 'ZOOM_LEVEL': '12', 'SOURCE': 'LOCALITY', 'MAP_ACCURACY': '0', 'MAPPED': 'Y'}               77
{'LATITUDE': '28.516331087497', 'LONGITUDE': '76.995685046165', 'ZOOM_LEVEL': '14', 'SOURCE': 'BUILDING', 'MAP_ACCURACY': '0', 'MAPPED': 'Y'}     74
{'LATITUDE': '28.509518516781', 'LONGITUDE': '76.988676053722', 'ZOOM_LEVEL': '14', 'SOURCE': 'BUILDING', 'MAP_ACCURACY': '0', 'MAPPED': 'Y'}     73
                                                                                                                                                ...
{'LATITUDE': '28.386231', 'LONGITUDE': '77.0289318', 'ZOOM_LEVEL': '6', 'SOURCE': 'BUILDING', 'MAP_ACCURACY': '0', 'MAPPED': 'Y'}                  1
{'LATITUDE': '28.4879652', 'LONGITUDE': '77.1100492', 'ZOOM_LEVEL': '14', 'SOURCE': 'BUILDING', 'MAP_ACCURACY': '0', 'MAPPED': 'Y'}                1
{'LATITUDE': '28.4768552', 'LONGITUDE': '77.0765604', 'ZOOM_LEVEL': '14', 'SOURCE': 'BUILDING', 'MAP_ACCURACY': '0', 'MAPPED': 'Y'}                1
{'LATITUDE': '28.4027801', 'LONGITUDE': '77.0360875', 'ZOOM_LEVEL': '14', 'SOURCE': 'VERIFIED', 'MAP_ACCURACY': '0', 'MAPPED': 'Y'}                1
{'LATITUDE': '28.3990776', 'LONGITUDE': '77.1020169', 'ZOOM_LEVEL': '6', 'SOURCE': 'BUILDING', 'MAP_ACCURACY': '0', 'MAPPED': 'Y'}                 1
Name: count, Length: 1982, dtype: int64

In [71]:
json.loads(df["MAP_DETAILS"][0].replace("'", '"'))

{'LATITUDE': '28.4065341',
 'LONGITUDE': '76.9627918',
 'ZOOM_LEVEL': '14',
 'SOURCE': 'BUILDING',
 'MAP_ACCURACY': '0',
 'MAPPED': 'Y'}

In [72]:
# now i need to separate the map details into like separate stuff
mapping_map_details_coluns = {
    "MD_lATITUDE": "Map details longitude"
}


def split_map_details(row):
    map_details_dict = json.loads(row["MAP_DETAILS"].replace("'", '"'))
    for keys in map_details_dict:
        row[f"MD_{keys}"] = map_details_dict[keys]
    return row

In [73]:
df_temp = df
df = df.apply(split_map_details, axis=1)
df.drop(columns=["MAP_DETAILS"], inplace=True)
df.head()

,AGE,AMENITIES,AREA_SQFT,BALCONY_NUM,BATHROOM_NUM,BEDROOM_NUM,BROKERAGE,BUILDING_NAME,BUILTUP_SQFT,CARPET_SQFT,CLASS_LABEL,CONTACT_COMPANY_NAME,CONTACT_NAME,DESCRIPTION,EXPIRY_DATE,FACING,FEATURES,FLOOR_NUM,FORMATTED,FORMATTED_LANDMARK_DETAILS,FSL_Data,FURNISH,GROUP_NAME,LISTING,LOCALITY,MAX_AREA_SQFT,MAX_PRICE,MIN_AREA_SQFT,MIN_PRICE,OWNTYPE,PREFERENCE,PRICE,PRICE_PER_SQFT,PROPERTY_TYPE,PROP_HEADING,PROP_ID,PROP_NAME,REGISTER_DATE,SECONDARY_TAGS,SOCIETY_NAME,SUPERBUILTUP_SQFT,TOP_USPS,TOTAL_FLOOR,TOTAL_LANDMARK_COUNT,TRANSACT_TYPE,location,metadata,profile,xid,Shopping,Education,Hospital,Bank,Park,Miscellaneous,MetroStation,Connectivity,Airport,RailwayStation,OfficeComplex,Hotel,AmusementPark,GolfCourse,Stadium,Club,ReligiousPlace,ATM,Attraction,Pharmacy,Parking,SwimmingPool,Library,BusStop,BusDepot,TEMP_TOTAL_LANDMARK_COUNT,CITY,MD_LATITUDE,MD_LONGITUDE,MD_ZOOM_LEVEL,MD_SOURCE,MD_MAP_ACCURACY,MD_MAPPED
0,5-10 Year Old Property,"20,21,32,23,46,47,39,1,6,9,40,41,30,42,33,12,2...",3434,4.0,3+,4.0,263000.0,Alpha Corp GurgaonOne 84,NaN,3000.0,Dealer,propertyline,gaurav khosla,4 bhk flat for resale in alpha corp gurgaon one,2023-11-28 00:00:00,North,"33,23,12,46,25,47,39,1,3,6,9,40,41,30,20,42,21,32",14,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'Shopping', 'text': '4 Shoppings...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 84 Gurgaon,319.028902,26300000.0,319.028902,26300000.0,Freehold,S,2.63 Cr,8766.0,Residential Apartment,4 BHK Flat in Sector 84 Gurgaon,O71585872,Alpha Corp GurgaonOne 84,"29th Sep, 2023","['READY TO MOVE', 'RESALE']",Alpha Corp GurgaonOne 84,3434.0,"['North Facing', 'Recently Renovated', 'Gated ...",26.0,10.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'gaurav khosla', 'CONTACT_COM...","{'PROJECTID': 5096, 'PROJ_NAME': 'Alpha Corp G...",4.0,2.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,Gurgaon,28.4065341,76.9627918,14,BUILDING,0,Y
1,1-5 Year Old Property,"17,5,20,21,10,44,23,46,47,29,19,1,6,9,30,41,43...",2870,3.0,3+,4.0,1.0,DLF The Ultima,NaN,1700.0,Dealer,MVD AND ASSOCIATES,Kamal,"Explore dlf ultima, an upscale ready-To-Move h...",2023-11-28 00:00:00,North,"44,33,23,12,46,25,47,26,17,29,19,1,3,5,6,9,30,...",7,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'MetroStation', 'text': '1 Metro...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 81 Gurgaon,266.631610,36000000.0,266.631610,36000000.0,Freehold,S,3.6 Cr,21176.0,Residential Apartment,4 BHK Flat in Sector 81 Gurgaon,T71585466,DLF The Ultima,"29th Sep, 2023","['READY TO MOVE', 'RESALE', 'RERA']",DLF The Ultima,2870.0,"['North Facing', ""st. xavier's within 500m"", '...",29.0,9.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Kamal', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 7182, 'PROJ_NAME': 'DLF The Ulti...",1.0,2.0,1.0,0.0,0.0,0.0,1.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,Gurgaon,28.3889069,76.9513279,14,BUILDING,0,Y
2,1-5 Year Old Property,"32,17,2,5,20,21,44,23,45,24,46,47,28,29,30,39,...",1950,2.0,2+,3.0,42000.0,Emaar MGF The Palm Drive,1920.00,1450.0,Dealer,1st Nest Realtors,Sandeep,A 3 bhk flat for rent in sector 66 gurgaon clo...,2023-11-26 00:00:00,West,"44,23,45,24,46,25,47,28,29,30,31,32,33,12,17,3...",7,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'MetroStation', 'text': '1 Metro...",{'LOCALITY_ID': 0},Furnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 66 Gurgaon,181.160850,85000.0,181.160850,85000.0,NaN,R,"85,000",43.0,Residential Apartment,3 BHK Flat in Sector 66 Gurgaon,D71549524,Emaar MGF The Palm Drive,"27th Sep, 2023",['FURNISHED'],Emaar MGF The Palm Drive,1950.0,"['3 Baths', 'Full Power Backup', 'huda city ce...",17.0,14.0,NaN,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '1', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Sandeep', 'CONTACT_COMPANY_N...","{'PROJECTID': 19, 'PROJ_NAME': 'Emaar MGF The ...",1.0,2.0,1.0,0.0,0.0,0.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0,Gurgaon,28.401406,77.050549,14,BUILDING,0,Y
3,1-5 Year Old Property,"2,5,20,21,23,1,6,9,40,30,41,33,12,25,26,3,31,1...",2802,3.0,2+,3.0,1.0,Experion Windchants,2225.56,NaN,Dealer,GROW MORE,Kohli,Looking for a 3 bhk property for purchase in g...,2023-11-22 00:00:00,NaN,"33,23,12,25,26,1,2,3,5,6,9,40,30,41,31,20,21",14,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'Shopping', 'text': '1 Shopping'...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 112 Gurgaon,260.314206,38500000.0,260.314206,38500000.0,Freehold,S,3.85 Cr,13740.0,Residential Apartment,3 BHK Flat in Sector 112 Gurgaon,I71493958,Experion Windchants,"23rd Sep, 2023","['READY TO MOVE', 'RESALE', 'RERA']",Experion Windchants,2802.0,"['Gated Society', 'Overlooking Park/Garden', '...",28.0,8.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '1', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Kohli', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 4342, 'PROJ_NAME': 'Experion Win...",1.0,2.0,2.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,Gurgaon,28.518677,77.015115,14,BUILDING,0,Y
4,1-5 Year Old Property,"2,20,21,44,23,46,28,1,6,9,40,30,41,12,25,26,3,31",2290,4.0,3+,3.0,1.0,ATS Triumph,NaN,NaN,Dealer,GROW MORE,Kohli,This 4 bhk flat in sector 104 gurgaon is avail...,2023-11-21 00:00:00,North-West,"44,23,12,46,25,26,28,1,2,3,6,9,40,30,41,31,20,21",12,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'MetroStation', 'text': '1 Metro...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 104 Gurgaon,212.747870,40000.0,212.747870,40000.0,NaN,R,"40,000",17.0,Residential Apartment,3 BHK Flat in Sector 104 Gurgaon,H71479412,ATS Triumph,"23rd Sep, 2023",[],ATS Triumph,2290.0,"['4 Baths', 'Full Power Backup', 'Gated Societ...",27.0,14.0,NaN,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '14', 'PROP_VIDEO_COUNT':...","{'CONTACT_NAME': 'Kohli', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 25860, 'PROJ_NAME': 'ATS Triumph...",1.0,3.0,1.0,0.0,0.0,0.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0,Gurgaon,28.47844,76.98611,14,BUILDING,0,Y

In [74]:
# I WANT TO CHECK IF THEY ARE ALL NOT THE SAME
print(df["MD_ZOOM_LEVEL"].value_counts())
print(df["MD_SOURCE"].value_counts())
print(df["MD_MAPPED"].value_counts())

MD_ZOOM_LEVEL
14    6671
6     2390
12    1147
11     342
16     154
Name: count, dtype: int64
MD_SOURCE
BUILDING      8904
LOCALITY      1133
VERIFIED       639
CITY            25
99locality       2
USER_MOVES       1
Name: count, dtype: int64
MD_MAPPED
Y    10701
N        3
Name: count, dtype: int64

### _Now I want to make sure lal of my number columns are actually in their correct datatype. But before that i should also know what all of these columns mean very well because some are looking like gibberish to me._

In [75]:
df.head(2)

,AGE,AMENITIES,AREA_SQFT,BALCONY_NUM,BATHROOM_NUM,BEDROOM_NUM,BROKERAGE,BUILDING_NAME,BUILTUP_SQFT,CARPET_SQFT,CLASS_LABEL,CONTACT_COMPANY_NAME,CONTACT_NAME,DESCRIPTION,EXPIRY_DATE,FACING,FEATURES,FLOOR_NUM,FORMATTED,FORMATTED_LANDMARK_DETAILS,FSL_Data,FURNISH,GROUP_NAME,LISTING,LOCALITY,MAX_AREA_SQFT,MAX_PRICE,MIN_AREA_SQFT,MIN_PRICE,OWNTYPE,PREFERENCE,PRICE,PRICE_PER_SQFT,PROPERTY_TYPE,PROP_HEADING,PROP_ID,PROP_NAME,REGISTER_DATE,SECONDARY_TAGS,SOCIETY_NAME,SUPERBUILTUP_SQFT,TOP_USPS,TOTAL_FLOOR,TOTAL_LANDMARK_COUNT,TRANSACT_TYPE,location,metadata,profile,xid,Shopping,Education,Hospital,Bank,Park,Miscellaneous,MetroStation,Connectivity,Airport,RailwayStation,OfficeComplex,Hotel,AmusementPark,GolfCourse,Stadium,Club,ReligiousPlace,ATM,Attraction,Pharmacy,Parking,SwimmingPool,Library,BusStop,BusDepot,TEMP_TOTAL_LANDMARK_COUNT,CITY,MD_LATITUDE,MD_LONGITUDE,MD_ZOOM_LEVEL,MD_SOURCE,MD_MAP_ACCURACY,MD_MAPPED
0,5-10 Year Old Property,"20,21,32,23,46,47,39,1,6,9,40,41,30,42,33,12,2...",3434,4.0,3+,4.0,263000.0,Alpha Corp GurgaonOne 84,NaN,3000.0,Dealer,propertyline,gaurav khosla,4 bhk flat for resale in alpha corp gurgaon one,2023-11-28 00:00:00,North,"33,23,12,46,25,47,39,1,3,6,9,40,41,30,20,42,21,32",14,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'Shopping', 'text': '4 Shoppings...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 84 Gurgaon,319.028902,26300000.0,319.028902,26300000.0,Freehold,S,2.63 Cr,8766.0,Residential Apartment,4 BHK Flat in Sector 84 Gurgaon,O71585872,Alpha Corp GurgaonOne 84,"29th Sep, 2023","['READY TO MOVE', 'RESALE']",Alpha Corp GurgaonOne 84,3434.0,"['North Facing', 'Recently Renovated', 'Gated ...",26.0,10.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'gaurav khosla', 'CONTACT_COM...","{'PROJECTID': 5096, 'PROJ_NAME': 'Alpha Corp G...",4.0,2.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,Gurgaon,28.4065341,76.9627918,14,BUILDING,0,Y
1,1-5 Year Old Property,"17,5,20,21,10,44,23,46,47,29,19,1,6,9,30,41,43...",2870,3.0,3+,4.0,1.0,DLF The Ultima,NaN,1700.0,Dealer,MVD AND ASSOCIATES,Kamal,"Explore dlf ultima, an upscale ready-To-Move h...",2023-11-28 00:00:00,North,"44,33,23,12,46,25,47,26,17,29,19,1,3,5,6,9,30,...",7,"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'MetroStation', 'text': '1 Metro...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 81 Gurgaon,266.631610,36000000.0,266.631610,36000000.0,Freehold,S,3.6 Cr,21176.0,Residential Apartment,4 BHK Flat in Sector 81 Gurgaon,T71585466,DLF The Ultima,"29th Sep, 2023","['READY TO MOVE', 'RESALE', 'RERA']",DLF The Ultima,2870.0,"['North Facing', ""st. xavier's within 500m"", '...",29.0,9.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Kamal', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 7182, 'PROJ_NAME': 'DLF The Ulti...",1.0,2.0,1.0,0.0,0.0,0.0,1.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,Gurgaon,28.3889069,76.9513279,14,BUILDING,0,Y

In [76]:
df["FSL_Data"].value_counts()

FSL_Data
{'LOCALITY_ID': 0}                       10670
{'LOCALITY_ID': 10360, 'TYPE': 'FSL'}        2
{'LOCALITY_ID': 0, 'TYPE': None}             2
{'LOCALITY_ID': 7780, 'TYPE': 'FSL'}         2
{'LOCALITY_ID': 7795, 'TYPE': 'FSL'}         2
{'LOCALITY_ID': 7872, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 13972, 'TYPE': 'FSL'}        1
{'LOCALITY_ID': 2484, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 427, 'TYPE': 'FSL'}          1
{'LOCALITY_ID': 8091, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 7506, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 4783, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 6124, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 9694, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 8879, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 8877, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 2467, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 7495, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 8089, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 9490, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 4849, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 2483, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 10358, 'TYPE': 'FSL'}        1
{'LOCALITY_ID': 2463, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 7886, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 7875, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 12574, 'TYPE': 'FSL'}        1
{'LOCALITY_ID': 7505, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 7494, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 7807, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 9674, 'TYPE': 'FSL'}         1
Name: count, dtype: int64

In [77]:
df["BROKERAGE"].value_counts()

BROKERAGE
1.0          6950
0.0          1990
2.0            74
50.0           66
150000.0       41
             ...
118000.0        1
1850000.0       1
102500.0        1
102000.0        1
2200000.0       1
Name: count, Length: 341, dtype: int64

In [78]:
meant_to_be_number_columns = ["AREA_SQFT", "BALCONY_NUM", "BEDROOM_NUM", "BROKERAGE", "BUILTUP_SQFT", "CARPET_SQFT", "FLOOR_NUM", "MAX_AREA_SQFT",
                              "MIN_AREA_SQFT", "MAX_PRICE", "MIN_PRICE", "PRICE", "PRICE_PER_SQFT", "SUPERBUILTUP_SQFT", "TOTAL_FLOOR", "TOTAL_LANDMARK_COUNT", "TRANSACT_TYPE"]
df.loc[:, meant_to_be_number_columns]

,AREA_SQFT,BALCONY_NUM,BEDROOM_NUM,BROKERAGE,BUILTUP_SQFT,CARPET_SQFT,FLOOR_NUM,MAX_AREA_SQFT,MIN_AREA_SQFT,MAX_PRICE,MIN_PRICE,PRICE,PRICE_PER_SQFT,SUPERBUILTUP_SQFT,TOTAL_FLOOR,TOTAL_LANDMARK_COUNT,TRANSACT_TYPE
0,3434,4.0,4.0,263000.0,NaN,3000.0,14,319.028902,319.028902,26300000.0,26300000.0,2.63 Cr,8766.0,3434.0,26.0,10.0,1.0
1,2870,3.0,4.0,1.0,NaN,1700.0,7,266.631610,266.631610,36000000.0,36000000.0,3.6 Cr,21176.0,2870.0,29.0,9.0,1.0
2,1950,2.0,3.0,42000.0,1920.00,1450.0,7,181.160850,181.160850,85000.0,85000.0,"85,000",43.0,1950.0,17.0,14.0,NaN
3,2802,3.0,3.0,1.0,2225.56,NaN,14,260.314206,260.314206,38500000.0,38500000.0,3.85 Cr,13740.0,2802.0,28.0,8.0,1.0
4,2290,4.0,3.0,1.0,NaN,NaN,12,212.747870,212.747870,40000.0,40000.0,"40,000",17.0,2290.0,27.0,14.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10699,2103,3.0,3.0,0.0,NaN,NaN,16,195.375009,195.375009,25000000.0,25000000.0,2.5 Cr,11887.0,2103.0,29.0,9.0,1.0
10700,1450,4.0,3.0,0.0,1450.00,NaN,18,134.709350,134.709350,13500000.0,13500000.0,1.35 Cr,9100.0,NaN,33.0,11.0,1.0
10701,1450,4.0,3.0,0.0,NaN,NaN,10,134.709350,134.709350,12900000.0,12900000.0,1.29 Cr,8896.0,1450.0,33.0,11.0,1.0
10702,1450,4.0,3.0,0.0,NaN,NaN,10,134.709350,134.709350,13000000.0,13000000.0,1.3 Cr,8965.0,1450.0,33.0,11.0,1.0
10703,3200,3.0,3.0,1.0,NaN,NaN,1,297.289600,297.289600,48000000.0,48000000.0,4.8 Cr,15000.0,3200.0,4.0,12.0,1.0

#### Lemme start with the price columns price.

In [79]:
import math


def format_price_well(row):
    try:
        row["PRICE"] = row["PRICE"].replace(",", "")
        row["PRICE"] = float(row["PRICE"])
    except ValueError:
        row["PRICE"] = float(row["PRICE"].split(" ")[0]) * 10000000
    except AttributeError:
        return row
    return row

In [80]:
index_of_interest = []
for i, value in df["PRICE"].items():
    if "Price" in value:
        index_of_interest.append(i)
index_of_interest

[196,
 813,
 1974,
 2647,
 2683,
 2701,
 4430,
 4555,
 4862,
 4863,
 4864,
 4865,
 5392,
 5932,
 5933,
 5939,
 5940,
 5941,
 6164,
 8561,
 9581,
 9758]

In [81]:
df.loc[index_of_interest, meant_to_be_number_columns].head()

,AREA_SQFT,BALCONY_NUM,BEDROOM_NUM,BROKERAGE,BUILTUP_SQFT,CARPET_SQFT,FLOOR_NUM,MAX_AREA_SQFT,MIN_AREA_SQFT,MAX_PRICE,MIN_PRICE,PRICE,PRICE_PER_SQFT,SUPERBUILTUP_SQFT,TOTAL_FLOOR,TOTAL_LANDMARK_COUNT,TRANSACT_TYPE
196,2295,NaN,NaN,0.0,NaN,NaN,NaN,213.212385,213.212385,0.0,0.0,Price on Request,0.0,NaN,4.0,11.0,1.0
813,5000,4.0,4.0,20000.0,4500.0,4200.0,NaN,464.515000,464.515000,40000.0,40000.0,Price on Request,9.0,NaN,15.0,5.0,1.0
1974,1672,2.0,3.0,172000.0,NaN,1600.0,2,155.333816,155.333816,17221600.0,17221600.0,Price on Request,10763.0,1672.0,4.0,11.0,1.0
2647,4518,4.0,5.0,1.0,NaN,NaN,NaN,419.735754,419.735754,110000000.0,110000000.0,Price on Request,199203.0,NaN,3.0,46.0,1.0
2683,7400,4.0,4.0,1.0,NaN,NaN,25,687.482200,687.482200,0.0,0.0,Price on Request,0.0,7400.0,38.0,15.0,1.0

#### _I think i am just going to replace those values that have price on request with NaN. And then I also don't thnk i should even consider the other price columsn for these datapoints._

In [82]:
df["PRICE"] = df["PRICE"].replace({"Price on Request": np.nan})
df["PRICE"].loc[index_of_interest]

196     NaN
813     NaN
1974    NaN
2647    NaN
2683    NaN
2701    NaN
4430    NaN
4555    NaN
4862    NaN
4863    NaN
4864    NaN
4865    NaN
5392    NaN
5932    NaN
5933    NaN
5939    NaN
5940    NaN
5941    NaN
6164    NaN
8561    NaN
9581    NaN
9758    NaN
Name: PRICE, dtype: object

In [83]:
df = df.apply(format_price_well, axis=1)
df.loc[index_of_interest, meant_to_be_number_columns]

,AREA_SQFT,BALCONY_NUM,BEDROOM_NUM,BROKERAGE,BUILTUP_SQFT,CARPET_SQFT,FLOOR_NUM,MAX_AREA_SQFT,MIN_AREA_SQFT,MAX_PRICE,MIN_PRICE,PRICE,PRICE_PER_SQFT,SUPERBUILTUP_SQFT,TOTAL_FLOOR,TOTAL_LANDMARK_COUNT,TRANSACT_TYPE
196,2295,NaN,NaN,0.0,NaN,NaN,NaN,213.212385,213.212385,0.0,0.0,NaN,0.0,NaN,4.0,11.0,1.0
813,5000,4.0,4.0,20000.0,4500.0,4200.00,NaN,464.515000,464.515000,40000.0,40000.0,NaN,9.0,NaN,15.0,5.0,1.0
1974,1672,2.0,3.0,172000.0,NaN,1600.00,2,155.333816,155.333816,17221600.0,17221600.0,NaN,10763.0,1672.0,4.0,11.0,1.0
2647,4518,4.0,5.0,1.0,NaN,NaN,NaN,419.735754,419.735754,110000000.0,110000000.0,NaN,199203.0,NaN,3.0,46.0,1.0
2683,7400,4.0,4.0,1.0,NaN,NaN,25,687.482200,687.482200,0.0,0.0,NaN,0.0,7400.0,38.0,15.0,1.0
2701,7430,3.0,4.0,1.0,NaN,NaN,15,690.269290,690.269290,0.0,0.0,NaN,0.0,7430.0,38.0,15.0,1.0
4430,4680,4.0,5.0,1.0,NaN,NaN,NaN,434.786040,434.786040,105000000.0,105000000.0,NaN,201923.0,NaN,4.0,46.0,1.0
4555,950,2.0,2.0,1.0,NaN,597.53,9,88.257850,88.257850,400000.0,400000.0,NaN,669.0,950.0,10.0,10.0,1.0
4862,9500,3.0,5.0,1.0,NaN,NaN,25,882.578500,882.578500,0.0,0.0,NaN,0.0,9500.0,38.0,15.0,1.0
4863,13000,4.0,5.0,1.0,NaN,NaN,38,1207.739000,1207.739000,0.0,0.0,NaN,0.0,13000.0,38.0,15.0,1.0
4864,10000,4.0,5.0,1.0,NaN,NaN,16,929.030000,929.030000,0.0,0.0,NaN,0.0,10000.0,17.0,12.0,1.0
4865,4022,4.0,4.0,1.0,NaN,NaN,16,373.655866,373.655866,0.0,0.0,NaN,0.0,4022.0,38.0,14.0,1.0
5392,4500,4.0,6.0,1.0,NaN,NaN,NaN,418.063500,418.063500,200000000.0,200000000.0,NaN,400000.0,NaN,4.0,46.0,1.0
5932,7000,4.0,4.0,1.0,NaN,NaN,7,650.321000,650.321000,110000000.0,110000000.0,NaN,15714.0,7000.0,11.0,50.0,1.0
5933,11000,4.0,6.0,1.0,NaN,NaN,12,1021.933000,1021.933000,0.0,0.0,NaN,0.0,11000.0,38.0,15.0,1.0
5939,15000,4.0,7.0,NaN,NaN,NaN,11,1393.545000,1393.545000,0.0,0.0,NaN,0.0,15000.0,12.0,15.0,1.0
5940,3950,4.0,4.0,0.0,NaN,NaN,16,366.966850,366.966850,0.0,0.0,NaN,0.0,3950.0,39.0,10.0,1.0
5941,6400,4.0,4.0,1.0,NaN,NaN,16,594.579200,594.579200,0.0,0.0,NaN,0.0,6400.0,25.0,15.0,1.0
6164,6750,3.0,4.0,1.0,6700.0,5800.00,5,627.095250,627.095250,110000000.0,110000000.0,NaN,12858.0,6750.0,12.0,15.0,1.0
8561,2600,1.0,4.0,1.0,NaN,NaN,3,241.547800,241.547800,0.0,0.0,NaN,0.0,2600.0,33.0,14.0,1.0
9581,4500,1.0,12.0,1.0,NaN,NaN,NaN,418.063500,418.063500,150000000.0,150000000.0,NaN,300000.0,NaN,3.0,47.0,1.0
9758,1500,2.0,2.0,0.0,NaN,1500.00,2,139.354500,139.354500,45000.0,45000.0,NaN,30.0,NaN,2.0,49.0,1.0

In [84]:
df.loc[:, meant_to_be_number_columns].head()

,AREA_SQFT,BALCONY_NUM,BEDROOM_NUM,BROKERAGE,BUILTUP_SQFT,CARPET_SQFT,FLOOR_NUM,MAX_AREA_SQFT,MIN_AREA_SQFT,MAX_PRICE,MIN_PRICE,PRICE,PRICE_PER_SQFT,SUPERBUILTUP_SQFT,TOTAL_FLOOR,TOTAL_LANDMARK_COUNT,TRANSACT_TYPE
0,3434,4.0,4.0,263000.0,NaN,3000.0,14,319.028902,319.028902,26300000.0,26300000.0,26300000.0,8766.0,3434.0,26.0,10.0,1.0
1,2870,3.0,4.0,1.0,NaN,1700.0,7,266.631610,266.631610,36000000.0,36000000.0,36000000.0,21176.0,2870.0,29.0,9.0,1.0
2,1950,2.0,3.0,42000.0,1920.00,1450.0,7,181.160850,181.160850,85000.0,85000.0,85000.0,43.0,1950.0,17.0,14.0,NaN
3,2802,3.0,3.0,1.0,2225.56,NaN,14,260.314206,260.314206,38500000.0,38500000.0,38500000.0,13740.0,2802.0,28.0,8.0,1.0
4,2290,4.0,3.0,1.0,NaN,NaN,12,212.747870,212.747870,40000.0,40000.0,40000.0,17.0,2290.0,27.0,14.0,NaN

In [85]:
df[meant_to_be_number_columns].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10704 entries, 0 to 10703
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   AREA_SQFT             10704 non-null  object
 1   BALCONY_NUM           10501 non-null  float64
 2   BEDROOM_NUM           10511 non-null  float64
 3   BROKERAGE             10623 non-null  float64
 4   BUILTUP_SQFT          2733 non-null   float64
 5   CARPET_SQFT           6539 non-null   float64
 6   FLOOR_NUM             9804 non-null   object
 7   MAX_AREA_SQFT         10704 non-null  float64
 8   MIN_AREA_SQFT         10704 non-null  float64
 9   MAX_PRICE             10704 non-null  float64
 10  MIN_PRICE             10704 non-null  float64
 11  PRICE                 10682 non-null  float64
 12  PRICE_PER_SQFT        10704 non-null  float64
 13  SUPERBUILTUP_SQFT     6712 non-null   float64
 14  TOTAL_FLOOR           10697 non-null  float64
 15  TOTAL_LANDMARK_COUNT  10638 non-null  float64
 16  TRANSACT_TYPE         10152 non-null  float64
dtypes: float64(15), object(2)
memory usage: 1.4+ MB

In [86]:
df["AREA_SQFT"] = df["AREA_SQFT"].astype(float)
# df["FLOOR_NUM"] = df["FLOOR_NUM"].astype(float)

ValueError: could not convert string to float: '1195-1447'

In [87]:
index_of_interest_area_sqft = []
for i, value in df["AREA_SQFT"].items():
    # checking to see fi the value is a range
    if "-" in value:
        index_of_interest_area_sqft.append(i)
df.loc[index_of_interest_area_sqft, meant_to_be_number_columns]

,AREA_SQFT,BALCONY_NUM,BEDROOM_NUM,BROKERAGE,BUILTUP_SQFT,CARPET_SQFT,FLOOR_NUM,MAX_AREA_SQFT,MIN_AREA_SQFT,MAX_PRICE,MIN_PRICE,PRICE,PRICE_PER_SQFT,SUPERBUILTUP_SQFT,TOTAL_FLOOR,TOTAL_LANDMARK_COUNT,TRANSACT_TYPE
972,1195-1447,NaN,3.0,NaN,NaN,NaN,1,134.430641,111.019085,62966205.0,52000425.0,52000000.0,43515.0,NaN,22.0,13.0,2.0
1077,1737-2040,NaN,4.0,NaN,NaN,NaN,1,189.522120,161.372511,63282840.0,53883477.0,53900000.0,31021.0,NaN,4.0,8.0,2.0
1078,1225-1372,NaN,3.0,NaN,NaN,NaN,1,127.462916,113.806175,42560812.0,38000725.0,38000000.0,31021.0,NaN,4.0,8.0,2.0
1621,1193-1200,NaN,2.0,NaN,NaN,NaN,1,111.483600,110.833279,13076400.0,13000121.0,13000000.0,10897.0,NaN,4.0,12.0,2.0
1623,1193-1200,NaN,2.0,NaN,NaN,NaN,1,111.483600,110.833279,13076400.0,13000121.0,13000000.0,10897.0,NaN,4.0,12.0,2.0

#### _I am just going to drop these ones. But in future, you can look into what you could do about this rows._

In [88]:
df.drop(index=index_of_interest_area_sqft, inplace=True)
df.loc[:, meant_to_be_number_columns]

,AREA_SQFT,BALCONY_NUM,BEDROOM_NUM,BROKERAGE,BUILTUP_SQFT,CARPET_SQFT,FLOOR_NUM,MAX_AREA_SQFT,MIN_AREA_SQFT,MAX_PRICE,MIN_PRICE,PRICE,PRICE_PER_SQFT,SUPERBUILTUP_SQFT,TOTAL_FLOOR,TOTAL_LANDMARK_COUNT,TRANSACT_TYPE
0,3434,4.0,4.0,263000.0,NaN,3000.0,14,319.028902,319.028902,26300000.0,26300000.0,26300000.0,8766.0,3434.0,26.0,10.0,1.0
1,2870,3.0,4.0,1.0,NaN,1700.0,7,266.631610,266.631610,36000000.0,36000000.0,36000000.0,21176.0,2870.0,29.0,9.0,1.0
2,1950,2.0,3.0,42000.0,1920.00,1450.0,7,181.160850,181.160850,85000.0,85000.0,85000.0,43.0,1950.0,17.0,14.0,NaN
3,2802,3.0,3.0,1.0,2225.56,NaN,14,260.314206,260.314206,38500000.0,38500000.0,38500000.0,13740.0,2802.0,28.0,8.0,1.0
4,2290,4.0,3.0,1.0,NaN,NaN,12,212.747870,212.747870,40000.0,40000.0,40000.0,17.0,2290.0,27.0,14.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10699,2103,3.0,3.0,0.0,NaN,NaN,16,195.375009,195.375009,25000000.0,25000000.0,25000000.0,11887.0,2103.0,29.0,9.0,1.0
10700,1450,4.0,3.0,0.0,1450.00,NaN,18,134.709350,134.709350,13500000.0,13500000.0,13500000.0,9100.0,NaN,33.0,11.0,1.0
10701,1450,4.0,3.0,0.0,NaN,NaN,10,134.709350,134.709350,12900000.0,12900000.0,12900000.0,8896.0,1450.0,33.0,11.0,1.0
10702,1450,4.0,3.0,0.0,NaN,NaN,10,134.709350,134.709350,13000000.0,13000000.0,13000000.0,8965.0,1450.0,33.0,11.0,1.0
10703,3200,3.0,3.0,1.0,NaN,NaN,1,297.289600,297.289600,48000000.0,48000000.0,48000000.0,15000.0,3200.0,4.0,12.0,1.0

In [89]:
index_of_interest_floor_num = []
for i, x in df["FLOOR_NUM"].items():
    try:
        int(x)
    except ValueError:
        index_of_interest_floor_num.append(i)

df.loc[index_of_interest_floor_num, meant_to_be_number_columns]

,AREA_SQFT,BALCONY_NUM,BEDROOM_NUM,BROKERAGE,BUILTUP_SQFT,CARPET_SQFT,FLOOR_NUM,MAX_AREA_SQFT,MIN_AREA_SQFT,MAX_PRICE,MIN_PRICE,PRICE,PRICE_PER_SQFT,SUPERBUILTUP_SQFT,TOTAL_FLOOR,TOTAL_LANDMARK_COUNT,TRANSACT_TYPE
8,1629,NaN,NaN,1.0,NaN,NaN,NaN,151.338987,151.338987,21700000.0,21700000.0,21700000.0,119889.0,NaN,3.0,9.0,1.0
9,2727,3.0,3.0,1.0,NaN,NaN,G,253.346481,253.346481,22000000.0,22000000.0,22000000.0,72607.0,2727.0,3.0,11.0,1.0
10,2340,NaN,NaN,1.0,NaN,NaN,NaN,217.393020,217.393020,41600000.0,41600000.0,41600000.0,160000.0,NaN,2.0,10.0,1.0
13,1950,2.0,3.0,35000.0,1920.0,1450.0,G,181.160850,181.160850,70000.0,70000.0,70000.0,35.0,1950.0,17.0,14.0,NaN
15,1935,NaN,NaN,1.0,NaN,NaN,NaN,179.767305,179.767305,25800000.0,25800000.0,25800000.0,120000.0,NaN,3.0,9.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10682,3240,4.0,5.0,1100000.0,3249.0,2970.0,NaN,301.005720,301.005720,110000000.0,110000000.0,110000000.0,333333.0,NaN,3.0,46.0,1.0
10683,3177,4.0,4.0,0.0,NaN,3177.0,G,295.152831,295.152831,23000000.0,23000000.0,23000000.0,65155.0,NaN,4.0,8.0,1.0
10684,2052,4.0,3.0,1.0,NaN,2052.0,G,190.636956,190.636956,13500000.0,13500000.0,13500000.0,6578.0,NaN,20.0,11.0,1.0
10687,1554,4.0,4.0,0.0,NaN,1554.0,NaN,144.371262,144.371262,22000000.0,22000000.0,22000000.0,14157.0,NaN,4.0,8.0,1.0
10690,1735,4.0,3.0,0.0,NaN,NaN,G,161.186705,161.186705,13100000.0,13100000.0,13100000.0,7550.0,1735.0,10.0,13.0,1.0

In [90]:
df.loc[index_of_interest_floor_num,
       meant_to_be_number_columns]["FLOOR_NUM"].value_counts()
# B -> Basement
# G -> Ground
# L -> Lower Ground
# M -> Multi-Storied

FLOOR_NUM
G    395
L     27
B      4
Name: count, dtype: int64

In [91]:
df["FLOOR_NUM"].unique()

array(['14', '7', '12', '4', nan, 'G', '39', '16', '1', '10', '2', '33',
       '8', '5', '9', '6', '3', '11', '25', '18', '30', '13', '29', '15',
       '28', '19', '48', '38', '36', '37', '20', '17', '45', '24', '22',
       '21', '23', '27', 'L', '35', '26', '32', '34', '40', '0', '31',
       'B', '42'], dtype=object)

#### _I think i am just going to leave this one as like a categoical variable._

In [92]:
df.rename(columns={"MAX_PRICE": "MAX_PRICE(INR)",
          "MIN_PRICE": "MIN_PRICE(INR)", "PRICE": "PRICE(INR)", "PRICE_PER_SQFT": "PRICE_PER_SQFT(INR)"}, inplace=True)

In [93]:
meant_to_be_number_columns = ['AREA_SQFT', 'BALCONY_NUM', 'BEDROOM_NUM', 'BROKERAGE', 'BUILTUP_SQFT', 'CARPET_SQFT', 'FLOOR_NUM', 'MAX_AREA_SQFT',
                              'MIN_AREA_SQFT', 'MAX_PRICE(INR)', 'MIN_PRICE(INR)', 'PRICE(INR)', 'PRICE_PER_SQFT(INR)', 'SUPERBUILTUP_SQFT', 'TOTAL_FLOOR', 'TOTAL_LANDMARK_COUNT', 'TRANSACT_TYPE']
df.loc[:, meant_to_be_number_columns]

,AREA_SQFT,BALCONY_NUM,BEDROOM_NUM,BROKERAGE,BUILTUP_SQFT,CARPET_SQFT,FLOOR_NUM,MAX_AREA_SQFT,MIN_AREA_SQFT,MAX_PRICE(INR),MIN_PRICE(INR),PRICE(INR),PRICE_PER_SQFT(INR),SUPERBUILTUP_SQFT,TOTAL_FLOOR,TOTAL_LANDMARK_COUNT,TRANSACT_TYPE
0,3434,4.0,4.0,263000.0,NaN,3000.0,14,319.028902,319.028902,26300000.0,26300000.0,26300000.0,8766.0,3434.0,26.0,10.0,1.0
1,2870,3.0,4.0,1.0,NaN,1700.0,7,266.631610,266.631610,36000000.0,36000000.0,36000000.0,21176.0,2870.0,29.0,9.0,1.0
2,1950,2.0,3.0,42000.0,1920.00,1450.0,7,181.160850,181.160850,85000.0,85000.0,85000.0,43.0,1950.0,17.0,14.0,NaN
3,2802,3.0,3.0,1.0,2225.56,NaN,14,260.314206,260.314206,38500000.0,38500000.0,38500000.0,13740.0,2802.0,28.0,8.0,1.0
4,2290,4.0,3.0,1.0,NaN,NaN,12,212.747870,212.747870,40000.0,40000.0,40000.0,17.0,2290.0,27.0,14.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10699,2103,3.0,3.0,0.0,NaN,NaN,16,195.375009,195.375009,25000000.0,25000000.0,25000000.0,11887.0,2103.0,29.0,9.0,1.0
10700,1450,4.0,3.0,0.0,1450.00,NaN,18,134.709350,134.709350,13500000.0,13500000.0,13500000.0,9100.0,NaN,33.0,11.0,1.0
10701,1450,4.0,3.0,0.0,NaN,NaN,10,134.709350,134.709350,12900000.0,12900000.0,12900000.0,8896.0,1450.0,33.0,11.0,1.0
10702,1450,4.0,3.0,0.0,NaN,NaN,10,134.709350,134.709350,13000000.0,13000000.0,13000000.0,8965.0,1450.0,33.0,11.0,1.0
10703,3200,3.0,3.0,1.0,NaN,NaN,1,297.289600,297.289600,48000000.0,48000000.0,48000000.0,15000.0,3200.0,4.0,12.0,1.0

In [94]:
not_numerical_columns = [
    x for x in df.columns if x not in meant_to_be_number_columns][:-33]
df.loc[:, not_numerical_columns].head()

,AGE,AMENITIES,BATHROOM_NUM,BUILDING_NAME,CLASS_LABEL,CONTACT_COMPANY_NAME,CONTACT_NAME,DESCRIPTION,EXPIRY_DATE,FACING,FEATURES,FORMATTED,FORMATTED_LANDMARK_DETAILS,FSL_Data,FURNISH,GROUP_NAME,LISTING,LOCALITY,OWNTYPE,PREFERENCE,PROPERTY_TYPE,PROP_HEADING,PROP_ID,PROP_NAME,REGISTER_DATE,SECONDARY_TAGS,SOCIETY_NAME,TOP_USPS,location,metadata,profile,xid
0,5-10 Year Old Property,"20,21,32,23,46,47,39,1,6,9,40,41,30,42,33,12,2...",3+,Alpha Corp GurgaonOne 84,Dealer,propertyline,gaurav khosla,4 bhk flat for resale in alpha corp gurgaon one,2023-11-28 00:00:00,North,"33,23,12,46,25,47,39,1,3,6,9,40,41,30,20,42,21,32","{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'Shopping', 'text': '4 Shoppings...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 84 Gurgaon,Freehold,S,Residential Apartment,4 BHK Flat in Sector 84 Gurgaon,O71585872,Alpha Corp GurgaonOne 84,"29th Sep, 2023","['READY TO MOVE', 'RESALE']",Alpha Corp GurgaonOne 84,"['North Facing', 'Recently Renovated', 'Gated ...","{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'gaurav khosla', 'CONTACT_COM...","{'PROJECTID': 5096, 'PROJ_NAME': 'Alpha Corp G..."
1,1-5 Year Old Property,"17,5,20,21,10,44,23,46,47,29,19,1,6,9,30,41,43...",3+,DLF The Ultima,Dealer,MVD AND ASSOCIATES,Kamal,"Explore dlf ultima, an upscale ready-To-Move h...",2023-11-28 00:00:00,North,"44,33,23,12,46,25,47,26,17,29,19,1,3,5,6,9,30,...","{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'MetroStation', 'text': '1 Metro...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 81 Gurgaon,Freehold,S,Residential Apartment,4 BHK Flat in Sector 81 Gurgaon,T71585466,DLF The Ultima,"29th Sep, 2023","['READY TO MOVE', 'RESALE', 'RERA']",DLF The Ultima,"['North Facing', ""st. xavier's within 500m"", '...","{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Kamal', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 7182, 'PROJ_NAME': 'DLF The Ulti..."
2,1-5 Year Old Property,"32,17,2,5,20,21,44,23,45,24,46,47,28,29,30,39,...",2+,Emaar MGF The Palm Drive,Dealer,1st Nest Realtors,Sandeep,A 3 bhk flat for rent in sector 66 gurgaon clo...,2023-11-26 00:00:00,West,"44,23,45,24,46,25,47,28,29,30,31,32,33,12,17,3...","{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'MetroStation', 'text': '1 Metro...",{'LOCALITY_ID': 0},Furnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 66 Gurgaon,NaN,R,Residential Apartment,3 BHK Flat in Sector 66 Gurgaon,D71549524,Emaar MGF The Palm Drive,"27th Sep, 2023",['FURNISHED'],Emaar MGF The Palm Drive,"['3 Baths', 'Full Power Backup', 'huda city ce...","{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '1', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Sandeep', 'CONTACT_COMPANY_N...","{'PROJECTID': 19, 'PROJ_NAME': 'Emaar MGF The ..."
3,1-5 Year Old Property,"2,5,20,21,23,1,6,9,40,30,41,33,12,25,26,3,31,1...",2+,Experion Windchants,Dealer,GROW MORE,Kohli,Looking for a 3 bhk property for purchase in g...,2023-11-22 00:00:00,NaN,"33,23,12,25,26,1,2,3,5,6,9,40,30,41,31,20,21","{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'Shopping', 'text': '1 Shopping'...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 112 Gurgaon,Freehold,S,Residential Apartment,3 BHK Flat in Sector 112 Gurgaon,I71493958,Experion Windchants,"23rd Sep, 2023","['READY TO MOVE', 'RESALE', 'RERA']",Experion Windchants,"['Gated Society', 'Overlooking Park/Garden', '...","{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '1', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Kohli', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 4342, 'PROJ_NAME': 'Experion Win..."
4,1-5 Year Old Property,"2,20,21,44,23,46,28,1,6,9,40,30,41,12,25,26,3,31",3+,ATS Triumph,Dealer,GROW MORE,Kohli,This 4 bhk flat in sector 104 gurgaon is avail...,2023-11-21 00:00:00,North-West,"44,23,12,46,25,26,28,1,2,3,6,9,40,30,41,31,20,21","{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'MetroStation', 'text': '1 Metro...",{'LOCALITY_ID': 0},Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 104 Gurgaon,NaN,R,Residential Apartment,3 BHK Flat in Sector 104 Gurgaon,H71479412,ATS Triumph,"23rd Sep, 2023",[],ATS Triumph,"['4 Baths', 'Full Power Backup', 'Gated Societ...","{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '14', 'PROP_VIDEO_COUNT':...","{'CONTACT_NAME': 'Kohli', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 25860, 'PROJ_NAME': 'ATS Triumph..."

In [95]:
not_number_columns_that_are_still_good_for_now = [
    "AGE", "BUILDING_NAME", "BATHRROOM_NUM", "CLASS_LABEL", "CONTACT_COMPANY_NAME", "CONTACT_NAME", "EXPIRY_DATE", "FACING", "FURNISH", "GROUP_NAME", "LISTING", "OWNTYPE", "PREFERENCE", "PROPERTY_TYPE", "PROP_NAME", "PROP_ID", "REGISTER_DATE", "SOCIETY_NAME"]
other_not_number_columns_to_focus_on = [
    x for x in not_numerical_columns if x not in not_number_columns_that_are_still_good_for_now]
df.loc[:, other_not_number_columns_to_focus_on].head(n=2)

,AMENITIES,BATHROOM_NUM,DESCRIPTION,FEATURES,FORMATTED,FORMATTED_LANDMARK_DETAILS,FSL_Data,LOCALITY,PROP_HEADING,SECONDARY_TAGS,TOP_USPS,location,metadata,profile,xid
0,"20,21,32,23,46,47,39,1,6,9,40,41,30,42,33,12,2...",3+,4 bhk flat for resale in alpha corp gurgaon one,"33,23,12,46,25,47,39,1,3,6,9,40,41,30,20,42,21,32","{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'Shopping', 'text': '4 Shoppings...",{'LOCALITY_ID': 0},Sector 84 Gurgaon,4 BHK Flat in Sector 84 Gurgaon,"['READY TO MOVE', 'RESALE']","['North Facing', 'Recently Renovated', 'Gated ...","{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'gaurav khosla', 'CONTACT_COM...","{'PROJECTID': 5096, 'PROJ_NAME': 'Alpha Corp G..."
1,"17,5,20,21,10,44,23,46,47,29,19,1,6,9,30,41,43...",3+,"Explore dlf ultima, an upscale ready-To-Move h...","44,33,23,12,46,25,47,26,17,29,19,1,3,5,6,9,30,...","{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILIT...","[{'category': 'MetroStation', 'text': '1 Metro...",{'LOCALITY_ID': 0},Sector 81 Gurgaon,4 BHK Flat in Sector 81 Gurgaon,"['READY TO MOVE', 'RESALE', 'RERA']","['North Facing', ""st. xavier's within 500m"", '...","{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Kamal', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 7182, 'PROJ_NAME': 'DLF The Ulti..."

#### _Lemme focus on each column alphabetically._

In [96]:
# so from this, i think the formatted basically contains like the column values but in a dictionary. So, i'mma drop it
df["FORMATTED"][0]

"{'AVAIL': {'AVAILABILITY': 2, 'SUB_AVAILABILITY': '2', 'AVAILABILITY_DATE': ''}, 'AVG_PRICE': '26300000', 'PRICE_SQFT': 8766, 'LOGO': 'N', 'FLOOR_NUMBER': '14', 'PROP_TYPE_LABEL': 'Residential Apartment', 'FURNISH_LABEL': 'Semifurnished', 'FURNISHING_ATTRIBUTES': 'Light,Fan,Gey,Wtrpurfr,Mcrwv,Kit,Chmny,Dinngtbl', 'RERA_TYPE': 'RERA', 'PRICE_IN_WORDS': 'Rs. 2.63 Crore', 'DESCRIPTION': '4-bhk-bedroom-residential-apartments-for-sale-in-alpha-corp-gurgaonone-84-sector-84-gurgaon-3434-sq-ft'}"

In [97]:
df_temp2 = df
df.drop(columns={"FORMATTED", "FORMATTED_LANDMARK_DETAILS"}, inplace=True)
other_not_number_columns_to_focus_on = ['AMENITIES', 'BATHROOM_NUM', 'DESCRIPTION', 'FEATURES', 'FSL_Data',
                                        'LOCALITY', 'PROP_HEADING', 'SECONDARY_TAGS', 'TOP_USPS', 'location', 'metadata', 'profile', 'xid']
df.loc[:, other_not_number_columns_to_focus_on].head(2)

,AMENITIES,BATHROOM_NUM,DESCRIPTION,FEATURES,FSL_Data,LOCALITY,PROP_HEADING,SECONDARY_TAGS,TOP_USPS,location,metadata,profile,xid
0,"20,21,32,23,46,47,39,1,6,9,40,41,30,42,33,12,2...",3+,4 bhk flat for resale in alpha corp gurgaon one,"33,23,12,46,25,47,39,1,3,6,9,40,41,30,20,42,21,32",{'LOCALITY_ID': 0},Sector 84 Gurgaon,4 BHK Flat in Sector 84 Gurgaon,"['READY TO MOVE', 'RESALE']","['North Facing', 'Recently Renovated', 'Gated ...","{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'gaurav khosla', 'CONTACT_COM...","{'PROJECTID': 5096, 'PROJ_NAME': 'Alpha Corp G..."
1,"17,5,20,21,10,44,23,46,47,29,19,1,6,9,30,41,43...",3+,"Explore dlf ultima, an upscale ready-To-Move h...","44,33,23,12,46,25,47,26,17,29,19,1,3,5,6,9,30,...",{'LOCALITY_ID': 0},Sector 81 Gurgaon,4 BHK Flat in Sector 81 Gurgaon,"['READY TO MOVE', 'RESALE', 'RERA']","['North Facing', ""st. xavier's within 500m"", '...","{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Kamal', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 7182, 'PROJ_NAME': 'DLF The Ulti..."

In [98]:
df["DESCRIPTION"][7889]

'Whiteland the aspen in sector 76, one of the under-Construction housing societies in gurgaon. There are apartments for sale in whiteland the aspen. This society will have all basic facilities and amenities to suit homebuyers needs and requirements. Brought to you by whiteland corporation, whiteland the aspen is scheduled for possession in jan, 2026.Whiteland presents the aspen located at sector 76 spr gurgaon, an exclusive residential project offering spacious and luxurious 3 & 4 bhk apartments in sector 76'

In [102]:
df["FSL_Data"].value_counts()

FSL_Data
{'LOCALITY_ID': 0}                       10665
{'LOCALITY_ID': 10360, 'TYPE': 'FSL'}        2
{'LOCALITY_ID': 0, 'TYPE': None}             2
{'LOCALITY_ID': 7780, 'TYPE': 'FSL'}         2
{'LOCALITY_ID': 7795, 'TYPE': 'FSL'}         2
{'LOCALITY_ID': 7872, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 13972, 'TYPE': 'FSL'}        1
{'LOCALITY_ID': 2484, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 427, 'TYPE': 'FSL'}          1
{'LOCALITY_ID': 8091, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 7506, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 4783, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 6124, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 9694, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 8879, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 8877, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 2467, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 7495, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 8089, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 9490, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 4849, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 2483, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 10358, 'TYPE': 'FSL'}        1
{'LOCALITY_ID': 2463, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 7886, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 7875, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 12574, 'TYPE': 'FSL'}        1
{'LOCALITY_ID': 7505, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 7494, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 7807, 'TYPE': 'FSL'}         1
{'LOCALITY_ID': 9674, 'TYPE': 'FSL'}         1
Name: count, dtype: int64

In [103]:
df["FSL_Data"].isna().sum()

0

In [114]:
from json import JSONDecodeError
df.rename(columns={"FSL_Data": "FSL_DATA"}, inplace=True)


def split_fsl_data(row):
    try:
        row_fsl_data: dict = json.loads(row["FSL_DATA"].replace("'", '"'))
        row["FSL_DATA_LOCALITY_ID"] = row_fsl_data.get("LOCALITY_ID", np.nan)
        row["FSL_DATA_TYPE"] = row_fsl_data.get("TYPE", np.nan)
    except JSONDecodeError:
        row["FSL_DATA_TYPE"] = "None"
    return row

In [119]:
df = df.apply(split_fsl_data, axis=1)
df.drop(columns=["FSL_DATA"], inplace=True)
other_not_number_columns_to_focus_on = ['AMENITIES', 'BATHROOM_NUM', 'DESCRIPTION', 'FEATURES', 'FSL_DATA_LOCALITY_ID',
                                        'FSL_DATA_TYPE', 'LOCALITY', 'PROP_HEADING', 'SECONDARY_TAGS', 'TOP_USPS', 'location', 'metadata', 'profile', 'xid']
df.loc[:, other_not_number_columns_to_focus_on].head(3)

,AMENITIES,BATHROOM_NUM,DESCRIPTION,FEATURES,FSL_DATA_LOCALITY_ID,FSL_DATA_TYPE,LOCALITY,PROP_HEADING,SECONDARY_TAGS,TOP_USPS,location,metadata,profile,xid
0,"20,21,32,23,46,47,39,1,6,9,40,41,30,42,33,12,2...",3+,4 bhk flat for resale in alpha corp gurgaon one,"33,23,12,46,25,47,39,1,3,6,9,40,41,30,20,42,21,32",0.0,NaN,Sector 84 Gurgaon,4 BHK Flat in Sector 84 Gurgaon,"['READY TO MOVE', 'RESALE']","['North Facing', 'Recently Renovated', 'Gated ...","{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'gaurav khosla', 'CONTACT_COM...","{'PROJECTID': 5096, 'PROJ_NAME': 'Alpha Corp G..."
1,"17,5,20,21,10,44,23,46,47,29,19,1,6,9,30,41,43...",3+,"Explore dlf ultima, an upscale ready-To-Move h...","44,33,23,12,46,25,47,26,17,29,19,1,3,5,6,9,30,...",0.0,NaN,Sector 81 Gurgaon,4 BHK Flat in Sector 81 Gurgaon,"['READY TO MOVE', 'RESALE', 'RERA']","['North Facing', ""st. xavier's within 500m"", '...","{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Kamal', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 7182, 'PROJ_NAME': 'DLF The Ulti..."
2,"32,17,2,5,20,21,44,23,45,24,46,47,28,29,30,39,...",2+,A 3 bhk flat for rent in sector 66 gurgaon clo...,"44,23,45,24,46,25,47,28,29,30,31,32,33,12,17,3...",0.0,NaN,Sector 66 Gurgaon,3 BHK Flat in Sector 66 Gurgaon,['FURNISHED'],"['3 Baths', 'Full Power Backup', 'huda city ce...","{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '1', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Sandeep', 'CONTACT_COMPANY_N...","{'PROJECTID': 19, 'PROJ_NAME': 'Emaar MGF The ..."

In [124]:
print(df["LOCALITY"].nunique())
df["LOCALITY"].value_counts()

231

LOCALITY
Sector 65 Gurgaon                      358
Sector 102 Gurgaon                     288
Sector 48 Gurgaon                      275
Sector 54 Gurgaon                      273
DLF Phase 2                            269
                                      ...
Laxman Vihar                             1
Udyog Vihar Industrial Area Phase 6      1
Rattan Garden                            1
Subhash Nagar                            1
Sector 1A IMT Manesar                    1
Name: count, Length: 231, dtype: int64

In [128]:
df["PROP_HEADING"].value_counts()

PROP_HEADING
3 BHK Flat in Sector 102 Gurgaon                                   151
3 BHK Flat in Sector 65 Gurgaon                                    135
4 BHK Flat in Sector 54 Gurgaon                                    131
2 BHK Flat in Sohna                                                130
4 BHK Independent Builder Floor in DLF Phase 2                     124
                                                                  ...
5 BHK Independent Builder Floor in Sushant Lok Phase 1               1
3 BHK Independent Builder Floor in sector 28 , Golf course road      1
2 Bedroom House in Sector 106 Gurgaon                                1
5 BHK Independent Builder Floor in Suncity                           1
3 BHK Flat in Sector 1A IMT Manesar                                  1
Name: count, Length: 1024, dtype: int64

In [133]:
# i want to check which rows doesn't start with the  number of bedrooms in the house because from waht i am seing above, everything starts witha a number.
for i, values in df["PROP_HEADING"].items():
    try:
        int(values[0])
    except ValueError:
        print(f"line no: {i}, value: {values}")

line no: 8, value: Residential land / Plot in Sector 108 Gurgaon
line no: 10, value: Residential land / Plot in Sector 99 Gurgaon
line no: 15, value: Residential land / Plot in Sector 108 Gurgaon
line no: 83, value: Residential land / Plot in Sector 108 Gurgaon
line no: 84, value: Residential land / Plot in Block B Sushant Lok Phase - 3
line no: 108, value: Residential land / Plot in Sector-33 Sohna
line no: 118, value: Residential land / Plot in South City 2
line no: 129, value: Residential land / Plot in Sohna
line no: 138, value: Residential land / Plot in Sohna
line no: 147, value: Residential land / Plot in Sector-35 Sohna
line no: 151, value: Residential land / Plot in Sector-35 Sohna
line no: 169, value: Residential land / Plot in Sector 88A Gurgaon
line no: 170, value: Residential land / Plot in Sector 99A Gurgaon
line no: 182, value: Residential land / Plot in Sector 99A Gurgaon
line no: 194, value: Residential land / Plot in Sector 88 Gurgaon
line no: 196, value: Residential land / Plot in Sector 89 Gurgaon
line no: 197, value: Residential land / Plot in Sector 67 Gurgaon
line no: 209, value: Residential land / Plot in Nirvana Country
line no: 211, value: Residential land / Plot in machroli
line no: 224, value: Residential land / Plot in Sector 67 Gurgaon
line no: 235, value: Residential land / Plot in New Palam Vihar Phase 2
line no: 240, value: Residential land / Plot in Sector 65 Gurgaon
line no: 241, value: Residential land / Plot in New Palam Vihar
line no: 244, value: Residential land / Plot in Sohna
line no: 245, value: Residential land / Plot in Sohna
line no: 367, value: Residential land / Plot in Sector 57 Gurgaon
line no: 374, value: Residential land / Plot in Sector 99 Gurgaon
line no: 447, value: Residential land / Plot in Sector 31 Gurgaon
line no: 463, value: Residential land / Plot in Sector 46 Gurgaon
line no: 467, value: Residential land / Plot in Sector 99A Gurgaon
line no: 468, value: Residential land / Plot in Sector 99A Gurgaon
line no: 541, value: Residential land / Plot in Sector-33 Sohna
line no: 543, value: Residential land / Plot in Sector-33 Sohna
line no: 544, value: Residential land / Plot in Sector-33 Sohna
line no: 553, value: Residential land / Plot in Sector 26 Gurgaon
line no: 561, value: Residential land / Plot in Sector 83 Gurgaon
line no: 565, value: Residential land / Plot in Sector 43 Gurgaon
line no: 623, value: Residential land / Plot in Sector 27 Gurgaon
line no: 624, value: Residential land / Plot in Sector 27 Gurgaon
line no: 667, value: Residential land / Plot in Sector 108 Gurgaon
line no: 714, value: Residential land / Plot in Sector 102 Gurgaon
line no: 715, value: Residential land / Plot in Sector 102 Gurgaon
line no: 727, value: Residential land / Plot in Sector 114 Gurgaon
line no: 731, value: Residential land / Plot in Sector 54 Gurgaon
line no: 736, value: Residential land / Plot in C Block Sushant Lok Phase 1
line no: 746, value: Residential land / Plot in Sector 102 Gurgaon
line no: 753, value: Residential land / Plot in C Block Sushant Lok Phase 1
line no: 775, value: Residential land / Plot in Sector 83 Gurgaon
line no: 777, value: Residential land / Plot in New Palam Vihar Phase 1
line no: 801, value: Flat in Sector 104 Gurgaon
line no: 802, value: Residential land / Plot in Sector 63 Gurgaon
line no: 846, value: Residential land / Plot in Sector 63A Gurgaon
line no: 847, value: Residential land / Plot in Sector 54 Gurgaon
line no: 852, value: Residential land / Plot in Sector 99 Gurgaon
line no: 858, value: Residential land / Plot in Sector 37C Gurgaon
line no: 882, value: Independent Builder Floor in Rosewood
line no: 883, value: Residential land / Plot in Sector 54 Gurgaon
line no: 884, value: Residential land / Plot in Sector 54 Gurgaon
line no: 885, value: Residential land / Plot in Sector 54 Gurgaon
line no: 915, value: Residential land / Plot in Sector 93 Gurgaon
line no: 916, value: Residential land / Plot in Sector 95 Gurgaon
line no: 926, value: Residential land / Plot in Sector 55 Gurgaon
line no: 927, value: Residential land / Plot in Sector 43 Gurgaon
line no: 933, value: Residential land / Plot in Sector 27 Gurgaon
line no: 965, value: Residential land / Plot in Sector 49 Gurgaon
line no: 977, value: Residential land / Plot in Sector-33 Sohna
line no: 999, value: Residential land / Plot in Palam Vihar
line no: 1000, value: Residential land / Plot in Palam Vihar
line no: 1005, value: Residential land / Plot in Sector 4 Gurgaon
line no: 1024, value: Residential land / Plot in Sector 112 Gurgaon
line no: 1072, value: Residential land / Plot in Sohna
line no: 1073, value: Residential land / Plot in Sector-35 Sohna
line no: 1075, value: Residential land / Plot in Sector 26 Gurgaon
line no: 1079, value: Residential land / Plot in Sector 67 Gurgaon
line no: 1083, value: Residential land / Plot in Sector 67 Gurgaon
line no: 1084, value: Residential land / Plot in C Block Sushant Lok Phase 1
line no: 1107, value: Residential land / Plot in Sector 95 Gurgaon
line no: 1110, value: Residential land / Plot in Sector 95 Gurgaon
line no: 1120, value: Residential land / Plot in C Block Sushant Lok Phase 1
line no: 1173, value: Residential land / Plot in Maruti Kunj
line no: 1174, value: Residential land / Plot in DLF Phase 4
line no: 1215, value: Residential land / Plot in Uppals Southend
line no: 1282, value: Residential land / Plot in Sector 99A Gurgaon
line no: 1286, value: Residential land / Plot in Sector 34 Gurgaon
line no: 1290, value: Residential land / Plot in South City 1
line no: 1295, value: Residential land / Plot in Sector 73 Gurgaon
line no: 1320, value: Residential land / Plot in Sohna
line no: 1449, value: Residential land / Plot in Sector 73 Gurgaon
line no: 1453, value: Residential land / Plot in Sector 60 Gurgaon
line no: 1469, value: Flat in Sector 43 Gurgaon
line no: 1494, value: Residential land / Plot in Sector 3 Gurgaon
line no: 1543, value: Residential land / Plot in Sohna Road
line no: 1548, value: Residential land / Plot in Sohna Road
line no: 1550, value: Residential land / Plot in Sector 49 Gurgaon
line no: 1553, value: Residential land / Plot in DLF Phase 3
line no: 1558, value: Residential land / Plot in Sector 65 Gurgaon
line no: 1575, value: Residential land / Plot in Sector 78 Gurgaon
line no: 1577, value: Residential land / Plot in Sector 95 Gurgaon
line no: 1583, value: Residential land / Plot in Sector 108 Gurgaon
line no: 1604, value: Residential land / Plot in Sector 102 Gurgaon
line no: 1609, value: Residential land / Plot in Sector 99 Gurgaon
line no: 1612, value: Residential land / Plot in South City 1
line no: 1685, value: Residential land / Plot in Nirvana Country
line no: 1704, value: Residential land / Plot in Sector 45 Gurgaon
line no: 1736, value: Residential land / Plot in New Palam Vihar
line no: 1737, value: Residential land / Plot in New Palam Vihar
line no: 1738, value: Residential land / Plot in New Palam Vihar
line no: 1740, value: Residential land / Plot in New Palam Vihar
line no: 1741, value: Residential land / Plot in Block T New Palam Vihar Phase 2
line no: 1747, value: Residential land / Plot in Sector 109 Gurgaon
line no: 1748, value: Residential land / Plot in Sector 110 Gurgaon
line no: 1749, value: Residential land / Plot in New Palam Vihar
line no: 1762, value: Residential land / Plot in New Palam Vihar
line no: 1774, value: Residential land / Plot in Sector 99A Gurgaon
line no: 1775, value: Residential land / Plot in Sector 99A Gurgaon
line no: 1776, value: Residential land / Plot in Sector 99A Gurgaon
line no: 1807, value: Residential land / Plot in Sushant Lok Phase 3
line no: 1808, value: Residential land / Plot in Sector 67 Gurgaon
line no: 1809, value: Residential land / Plot in Sushant Lok Phase 3
line no: 1813, value: Residential land / Plot in Sector 108 Gurgaon
line no: 1826, value: Residential land / Plot in Sector 83 Gurgaon
line no: 1827, value: Residential land / Plot in Sector 73 Gurgaon
line no: 1831, value: Residential land / Plot in Sector 28 Gurgaon
line no: 1832, value: Residential land / Plot in DLF Phase 2
line no: 1853, value: Residential land / Plot in Malibu Town
line no: 1859, value: Residential land / Plot in Sector 50 Gurgaon
line no: 1863, value: Residential land / Plot in Malibu Town
line no: 1866, value: Residential land / Plot in Sector 73 Gurgaon
line no: 1896, value: Residential land / Plot in Sector 102 Gurgaon
line no: 1898, value: Residential land / Plot in Sector 102 Gurgaon
line no: 1899, value: Residential land / Plot in Sector 102 Gurgaon
line no: 1900, value: Residential land / Plot in Sector 102 Gurgaon
line no: 1901, value: Residential land / Plot in Sector 102 Gurgaon
line no: 1902, value: Residential land / Plot in Sector 102 Gurgaon
line no: 1903, value: Residential land / Plot in Sector 102 Gurgaon
line no: 1905, value: Residential land / Plot in Sector 102 Gurgaon
line no: 1906, value: Residential land / Plot in Sector 102 Gurgaon
line no: 1907, value: Residential land / Plot in Sector 102 Gurgaon
line no: 1909, value: Residential land / Plot in Sector 102 Gurgaon
line no: 1910, value: Residential land / Plot in Sector 102 Gurgaon
line no: 1911, value: Residential land / Plot in Sector 99 Gurgaon
line no: 1912, value: Residential land / Plot in Sector 99 Gurgaon
line no: 1913, value: Residential land / Plot in Sector 99 Gurgaon
line no: 1914, value: Residential land / Plot in Sector 99 Gurgaon
line no: 1915, value: Residential land / Plot in Sector 99 Gurgaon
line no: 1916, value: Residential land / Plot in Sector 99 Gurgaon
line no: 1917, value: Residential land / Plot in Sector 99 Gurgaon
line no: 1918, value: Residential land / Plot in Sector 108 Gurgaon
line no: 1919, value: Residential land / Plot in Sector 108 Gurgaon
line no: 1920, value: Residential land / Plot in Sector 108 Gurgaon
line no: 1921, value: Residential land / Plot in Sector 108 Gurgaon
line no: 1922, value: Residential land / Plot in Sector 108 Gurgaon
line no: 1923, value: Residential land / Plot in Sector 108 Gurgaon
line no: 1924, value: Residential land / Plot in Sector 108 Gurgaon
line no: 1925, value: Residential land / Plot in Sector 108 Gurgaon
line no: 1926, value: Residential land / Plot in Sector 108 Gurgaon
line no: 1927, value: Residential land / Plot in Sector 108 Gurgaon
line no: 1929, value: Residential land / Plot in Sector 73 Gurgaon
line no: 2049, value: Residential land / Plot in Palam Vihar
line no: 2089, value: Residential land / Plot in Sector 5 Gurgaon
line no: 2469, value: Residential land / Plot in Sector 92 Gurgaon
line no: 3822, value: Residential land / Plot in Palam Vihar
line no: 4486, value: Residential land / Plot in Sector 73 Gurgaon
line no: 4672, value: Residential land / Plot in Rajiv Chowk
line no: 4673, value: Residential land / Plot in Sector 59 Gurgaon
line no: 4983, value: Flat in Sector 70A Gurgaon
line no: 5048, value: Residential land / Plot in Maruti Kunj
line no: 5199, value: Residential land / Plot in Sohna
line no: 5389, value: Residential land / Plot in South City 1
line no: 5572, value: Flat in Sector 104 Gurgaon
line no: 5576, value: Flat in Sector 70A Gurgaon
line no: 5609, value: Independent Builder Floor in Sector 57 Gurgaon
line no: 6522, value: Independent Builder Floor in DLF Phase 2
line no: 6798, value: Residential land / Plot in Sector 102 Gurgaon
line no: 7286, value: Residential land / Plot in Sector 93 Gurgaon
line no: 7475, value: Residential land / Plot in Sushant Lok Phase 1
line no: 7476, value: Residential land / Plot in Sector 42 Gurgaon
line no: 7500, value: Residential land / Plot in Sector 57 Gurgaon
line no: 7729, value: Residential land / Plot in Malibu Town
line no: 7887, value: Residential land / Plot in DLF Phase 1
line no: 7913, value: Residential land / Plot in Sector 93 Gurgaon
line no: 7915, value: Residential land / Plot in Sector 95A Gurgaon
line no: 8336, value: Flat in Sector 70 Gurgaon
line no: 8580, value: Independent Builder Floor in DLF Phase 1
line no: 8817, value: Residential land / Plot in Subhash Chowk
line no: 8819, value: Residential land / Plot in Subhash Chowk
line no: 8967, value: Residential land / Plot in Sector 92 Gurgaon
line no: 8977, value: Residential land / Plot in Sector 59 Gurgaon
line no: 9354, value: Residential land / Plot in Ansal Plaza
line no: 9355, value: Residential land / Plot in Sector 23 Gurgaon
line no: 9445, value: Residential land / Plot in Badshahpur
line no: 9570, value: Residential land / Plot in Sushant Lok Phase 1
line no: 9655, value: Residential land / Plot in Palam Vihar

##### _uhm the answer to my qustion is no and so, i am going to be dropping this column and maybe later come back to it or i think i would actually leave it for now in case of missing values that can be in the dataset._

In [134]:
df.loc[:, other_not_number_columns_to_focus_on].head(2)

,AMENITIES,BATHROOM_NUM,DESCRIPTION,FEATURES,FSL_DATA_LOCALITY_ID,FSL_DATA_TYPE,LOCALITY,PROP_HEADING,SECONDARY_TAGS,TOP_USPS,location,metadata,profile,xid
0,"20,21,32,23,46,47,39,1,6,9,40,41,30,42,33,12,2...",3+,4 bhk flat for resale in alpha corp gurgaon one,"33,23,12,46,25,47,39,1,3,6,9,40,41,30,20,42,21,32",0.0,NaN,Sector 84 Gurgaon,4 BHK Flat in Sector 84 Gurgaon,"['READY TO MOVE', 'RESALE']","['North Facing', 'Recently Renovated', 'Gated ...","{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'gaurav khosla', 'CONTACT_COM...","{'PROJECTID': 5096, 'PROJ_NAME': 'Alpha Corp G..."
1,"17,5,20,21,10,44,23,46,47,29,19,1,6,9,30,41,43...",3+,"Explore dlf ultima, an upscale ready-To-Move h...","44,33,23,12,46,25,47,26,17,29,19,1,3,5,6,9,30,...",0.0,NaN,Sector 81 Gurgaon,4 BHK Flat in Sector 81 Gurgaon,"['READY TO MOVE', 'RESALE', 'RERA']","['North Facing', ""st. xavier's within 500m"", '...","{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'PROP_PHOTO_COUNT': '4', 'PROP_VIDEO_COUNT': ...","{'CONTACT_NAME': 'Kamal', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 7182, 'PROJ_NAME': 'DLF The Ulti..."

In [136]:
df["SECONDARY_TAGS"].unique()

array(["['READY TO MOVE', 'RESALE']",
       "['READY TO MOVE', 'RESALE', 'RERA']", "['FURNISHED']", '[]',
       "['HUDA APPROVED', 'IN GATED COMMUNITY', 'READY TO MOVE', 'RESALE', 'RERA']",
       "['HUDA APPROVED', 'IN GATED COMMUNITY', 'READY TO MOVE', 'RESALE']",
       "['UNDER CONSTRUCTION', 'RESALE', 'RERA']",
       "['UNDER CONSTRUCTION', 'RESALE']",
       "['FURNISHED', 'FOR SINGLE MEN', 'FOR SINGLE WOMEN']",
       "['FOR SINGLE MEN', 'FOR SINGLE WOMEN']",
       "['CORNER PROPERTY', 'NORTH-EAST FACING', 'HSIIDC APPROVED', 'IN GATED COMMUNITY', 'READY TO MOVE', 'RESALE', 'RERA']",
       "['CORNER PROPERTY', 'NORTH-EAST FACING', 'HSIIDC APPROVED', 'READY TO MOVE', 'RESALE']",
       "['CORNER PROPERTY', 'NORTH FACING', 'IN GATED COMMUNITY', 'READY TO MOVE', 'RESALE']",
       "['HHB APPROVED', 'IN GATED COMMUNITY', 'READY TO MOVE', 'RESALE']",
       "['CORNER PROPERTY', 'NORTH-EAST FACING', 'AUTHORITY APPROVED', 'IN GATED COMMUNITY', 'READY TO MOVE', 'RESALE']",
       "['CORNER PROPERTY', 'NORTH FACING', 'AUTHORITY APPROVED', 'IN GATED COMMUNITY', 'UNDER CONSTRUCTION', 'RESALE', 'RERA']",
       "['CORNER PROPERTY', 'EAST FACING', 'IN GATED COMMUNITY', 'UNDER CONSTRUCTION', 'RESALE', 'RERA']",
       "['CORNER PROPERTY', 'HUDA APPROVED', 'IN GATED COMMUNITY', 'UNDER CONSTRUCTION', 'RESALE', 'RERA']",
       "['CORNER PROPERTY', 'NORTH-EAST FACING', 'HUDA APPROVED', 'IN GATED COMMUNITY', 'UNDER CONSTRUCTION', 'RESALE', 'RERA']",
       "['EAST FACING', 'HUDA APPROVED', 'IN GATED COMMUNITY', 'UNDER CONSTRUCTION', 'RESALE', 'RERA']",
       "['EAST FACING', 'HUDA APPROVED', 'IN GATED COMMUNITY', 'READY TO MOVE', 'RESALE', 'RERA']",
       "['NORTH-EAST FACING', 'HUDA APPROVED', 'IN GATED COMMUNITY', 'UNDER CONSTRUCTION', 'RESALE']",
       "['NORTH-EAST FACING', 'AUTHORITY APPROVED', 'IN GATED COMMUNITY', 'READY TO MOVE', 'RESALE', 'RERA']",
       "['NORTH-EAST FACING', 'HHB APPROVED', 'IN GATED COMMUNITY', 'READY TO MOVE', 'RESALE']",
       "['NORTH-EAST FACING', 'READY TO MOVE', 'RESALE']",
       "['NORTH FACING', 'IN GATED COMMUNITY', 'READY TO MOVE', 'RESALE', 'RERA']",
       "['CORNER PROPERTY', 'EAST FACING', 'READY TO MOVE', 'RESALE']",
       "['CORNER PROPERTY', 'NORTH FACING', 'HUDA APPROVED', 'IN GATED COMMUNITY', 'READY TO MOVE', 'RESALE', 'RERA']",
       "['CORNER PROPERTY', 'NORTH-EAST FACING', 'READY TO MOVE', 'RESALE']",
       "['FOR SINGLE WOMEN']",
       "['NORTH-EAST FACING', 'HUDA APPROVED', 'READY TO MOVE', 'RESALE']",
       "['NORTH-EAST FACING', 'AUTHORITY APPROVED', 'IN GATED COMMUNITY', 'READY TO MOVE', 'RESALE']",
       "['CORNER PROPERTY', 'NORTH-EAST FACING', 'HUDA APPROVED', 'READY TO MOVE', 'RESALE']",
       "['CORNER PROPERTY', 'HUDA APPROVED', 'IN GATED COMMUNITY', 'READY TO MOVE', 'RESALE', 'RERA']",
       "['FURNISHED', 'FOR SINGLE WOMEN']",
       "['AUTHORITY APPROVED', 'IN GATED COMMUNITY', 'READY TO MOVE', 'RESALE', 'RERA']",
       "['HHB APPROVED', 'READY TO MOVE', 'RESALE']",
       "['HHB APPROVED', 'IN GATED COMMUNITY', 'READY TO MOVE', 'RESALE', 'RERA']",
       "['CORNER PROPERTY', 'EAST FACING', 'HUDA APPROVED', 'IN GATED COMMUNITY', 'READY TO MOVE', 'RESALE']",
       "['CORNER PROPERTY', 'EAST FACING', 'HUDA APPROVED', 'READY TO MOVE', 'RESALE']",
       "['HUDA APPROVED', 'READY TO MOVE', 'RESALE']",
       "['CORNER PROPERTY', 'NORTH FACING', 'HUDA APPROVED', 'IN GATED COMMUNITY', 'READY TO MOVE', 'RESALE']",
       "['CORNER PROPERTY', 'NORTH-EAST FACING', 'AUTHORITY APPROVED', 'IN GATED COMMUNITY', 'READY TO MOVE', 'RESALE', 'RERA']",
       "['CORNER PROPERTY', 'NORTH-EAST FACING', 'HHB APPROVED', 'IN GATED COMMUNITY', 'UNDER CONSTRUCTION', 'RESALE', 'RERA']",
       "['NORTH-EAST FACING', 'HUDA APPROVED', 'IN GATED COMMUNITY', 'READY TO MOVE', 'RESALE']",
       "['CORNER PROPERTY', 'NORTH FACING', 'AUTHORITY APPROVED', 'IN GATED COMMUNITY', 'READY TO MOVE', 'RESALE']",
       "['CORNER PROPERTY', 'NORTH-EAST FACING', 'HHB APPROVED', 'IN GATED COMMUNITY', 'READY TO MOVE', 'RESALE']",
       "['NORTH-EAST FACING', 'HUDA APPROVED', 'IN GATED COMMUNITY', 'READY TO MOVE', 'RESALE', 'RERA']",
       "['CORNER PROPERTY', 'HUDA APPROVED', 'IN GATED COMMUNITY', 'READY TO MOVE', 'RESALE']",
       "['EAST FACING', 'IN GATED COMMUNITY', 'READY TO MOVE', 'RESALE', 'RERA']",
       "['CORNER PROPERTY', 'EAST FACING', 'HUDA APPROVED', 'IN GATED COMMUNITY', 'READY TO MOVE', 'RESALE', 'RERA']",
       "['NORTH FACING', 'HUDA APPROVED', 'IN GATED COMMUNITY', 'READY TO MOVE', 'RESALE']",
       "['EAST FACING', 'HUDA APPROVED', 'IN GATED COMMUNITY', 'READY TO MOVE', 'RESALE']",
       "['EAST FACING', 'HUDA APPROVED', 'READY TO MOVE', 'RESALE']",
       "['UNDER CONSTRUCTION', 'NEW BOOKING', 'RERA']",
       "['READY TO MOVE', 'NEW BOOKING', 'RERA']",
       "['EAST FACING', 'IN GATED COMMUNITY', 'READY TO MOVE', 'RESALE']",
       "['CORNER PROPERTY', 'READY TO MOVE', 'RESALE']",
       "['CORNER PROPERTY', 'IN GATED COMMUNITY', 'READY TO MOVE', 'RESALE']",
       "['CORNER PROPERTY', 'NORTH-EAST FACING', 'HUDA APPROVED', 'IN GATED COMMUNITY', 'READY TO MOVE', 'RESALE']",
       "['FOR SINGLE MEN']",
       "['CORNER PROPERTY', 'HUDA APPROVED', 'IN GATED COMMUNITY', 'UNDER CONSTRUCTION', 'RESALE']",
       "['NORTH-EAST FACING', 'HHB APPROVED', 'IN GATED COMMUNITY', 'UNDER CONSTRUCTION', 'RESALE', 'RERA']",
       "['EAST FACING', 'HHB APPROVED', 'UNDER CONSTRUCTION', 'RESALE', 'RERA']",
       "['CORNER PROPERTY', 'NORTH-EAST FACING', 'HUDA APPROVED', 'IN GATED COMMUNITY', 'UNDER CONSTRUCTION', 'RESALE']",
       "['CORNER PROPERTY', 'EAST FACING', 'HHB APPROVED', 'IN GATED COMMUNITY', 'READY TO MOVE', 'RESALE']",
       "['HUDA APPROVED', 'IN GATED COMMUNITY', 'UNDER CONSTRUCTION', 'RESALE', 'RERA']",
       "['IN GATED COMMUNITY', 'READY TO MOVE', 'RESALE']",
       "['CORNER PROPERTY', 'NORTH FACING', 'AUTHORITY APPROVED', 'IN GATED COMMUNITY', 'READY TO MOVE', 'RESALE', 'RERA']",
       "['EAST FACING', 'HUDA APPROVED', 'READY TO MOVE', 'RESALE', 'RERA']",
       "['CORNER PROPERTY', 'EAST FACING', 'AUTHORITY APPROVED', 'IN GATED COMMUNITY', 'UNDER CONSTRUCTION', 'RESALE', 'RERA']",
       "['CORNER PROPERTY', 'EAST FACING', 'IN GATED COMMUNITY', 'UNDER CONSTRUCTION', 'RESALE']",
       "['CORNER PROPERTY', 'NORTH FACING', 'IN GATED COMMUNITY', 'READY TO MOVE', 'RESALE', 'RERA']",
       "['NORTH FACING', 'IN GATED COMMUNITY', 'READY TO MOVE', 'RESALE']",
       "['CORNER PROPERTY', 'EAST FACING', 'IN GATED COMMUNITY', 'READY TO MOVE', 'RESALE']",
       "['NORTH-EAST FACING', 'HHB APPROVED', 'READY TO MOVE', 'RESALE']",
       "['NORTH FACING', 'READY TO MOVE', 'RESALE']",
       "['HUDA APPROVED', 'UNDER CONSTRUCTION', 'RESALE', 'RERA']",
       "['CORNER PROPERTY', 'EAST FACING', 'AUTHORITY APPROVED', 'IN GATED COMMUNITY', 'READY TO MOVE', 'RESALE', 'RERA']",
       "['NORTH FACING', 'HSIIDC APPROVED', 'IN GATED COMMUNITY', 'READY TO MOVE', 'RESALE']",
       "['NORTH-EAST FACING', 'IN GATED COMMUNITY', 'READY TO MOVE', 'RESALE']",
       "['IN GATED COMMUNITY', 'UNDER CONSTRUCTION', 'RESALE']",
       "['NORTH-EAST FACING', 'HSIIDC APPROVED', 'IN GATED COMMUNITY', 'UNDER CONSTRUCTION', 'RESALE']",
       "['CORNER PROPERTY', 'NORTH-EAST FACING', 'IN GATED COMMUNITY', 'READY TO MOVE', 'RESALE']",
       "['NORTH FACING', 'AUTHORITY APPROVED', 'IN GATED COMMUNITY', 'READY TO MOVE', 'RESALE']",
       "['READY TO MOVE']"], dtype=object)

#### i think i would just use like a word cloud for this column later.

In [138]:
df["location"][0]

"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDING_ID': '10532', 'BUILDING_NAME': 'Alpha Corp GurgaonOne 84', 'SOCIETY_NAME': 'Alpha Corp GurgaonOne 84', 'LOCALITY_ID': '7580', 'LOCALITY_NAME': 'Sector 84 Gurgaon'}"

#### _I think i am also going to leave this column alone in case i might need to do some data inputting. In case of missing vavlues in the future._

In [163]:
# so i actually want to drop this column but for some reason, i am not going to do that and i am just going to separate them into different columns
print(df["metadata"][9])


def split_metadata(row):
    # i am changing prop to property because that is what i am guessing it is
    # try:
    metadata_dict = json.loads(row["metadata"].replace(
        "'", '"').replace('None', "null"))
    row["METADATA_PROPERTY_PHOTO_COUNT"] = metadata_dict["PROP_PHOTO_COUNT"]
    row["METADATA_PROPERTY_VIDEO_COUNT"] = metadata_dict["PROP_VIDEO_COUNT"]
    # except JSONDecodeError:
    return row

{'PROP_PHOTO_COUNT': '15', 'PROP_VIDEO_COUNT': '0'}

In [164]:
df_temp3 = df
df = df.apply(split_metadata, axis=1).drop(columns=["metadata"])

In [166]:
other_not_number_columns_to_focus_on = ['AMENITIES', 'BATHROOM_NUM', 'DESCRIPTION', 'FEATURES', 'FSL_DATA_LOCALITY_ID', 'FSL_DATA_TYPE', 'LOCALITY',
                                        "METADATA_PROPERTY_PHOTO_COUNT", "METADATA_PROPERTY_VIDEO_COUNT", 'PROP_HEADING', 'SECONDARY_TAGS', 'TOP_USPS', 'location', 'profile', 'xid']
df.loc[:2, other_not_number_columns_to_focus_on]

,AMENITIES,BATHROOM_NUM,DESCRIPTION,FEATURES,FSL_DATA_LOCALITY_ID,FSL_DATA_TYPE,LOCALITY,METADATA_PROPERTY_PHOTO_COUNT,METADATA_PROPERTY_VIDEO_COUNT,PROP_HEADING,SECONDARY_TAGS,TOP_USPS,location,profile,xid
0,"20,21,32,23,46,47,39,1,6,9,40,41,30,42,33,12,2...",3+,4 bhk flat for resale in alpha corp gurgaon one,"33,23,12,46,25,47,39,1,3,6,9,40,41,30,20,42,21,32",0.0,NaN,Sector 84 Gurgaon,4,0,4 BHK Flat in Sector 84 Gurgaon,"['READY TO MOVE', 'RESALE']","['North Facing', 'Recently Renovated', 'Gated ...","{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'CONTACT_NAME': 'gaurav khosla', 'CONTACT_COM...","{'PROJECTID': 5096, 'PROJ_NAME': 'Alpha Corp G..."
1,"17,5,20,21,10,44,23,46,47,29,19,1,6,9,30,41,43...",3+,"Explore dlf ultima, an upscale ready-To-Move h...","44,33,23,12,46,25,47,26,17,29,19,1,3,5,6,9,30,...",0.0,NaN,Sector 81 Gurgaon,4,0,4 BHK Flat in Sector 81 Gurgaon,"['READY TO MOVE', 'RESALE', 'RERA']","['North Facing', ""st. xavier's within 500m"", '...","{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'CONTACT_NAME': 'Kamal', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 7182, 'PROJ_NAME': 'DLF The Ulti..."
2,"32,17,2,5,20,21,44,23,45,24,46,47,28,29,30,39,...",2+,A 3 bhk flat for rent in sector 66 gurgaon clo...,"44,23,45,24,46,25,47,28,29,30,31,32,33,12,17,3...",0.0,NaN,Sector 66 Gurgaon,1,0,3 BHK Flat in Sector 66 Gurgaon,['FURNISHED'],"['3 Baths', 'Full Power Backup', 'huda city ce...","{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'CONTACT_NAME': 'Sandeep', 'CONTACT_COMPANY_N...","{'PROJECTID': 19, 'PROJ_NAME': 'Emaar MGF The ..."

In [172]:
df["TOP_USPS"][random.randint(0, 10000)]

"['North-East Facing', 'Private Garden', 'Recently Renovated', 'Gated Society']"

In [187]:
df["TOP_USPS"].isnull().sum()

2520

In [196]:
import ast
all_uniques_selling_poitns = []

for x in df["TOP_USPS"][~df["TOP_USPS"].isnull()]:
    if x is not float('nan'):
        list_top_usps: list = ast.literal_eval(x)
        for y in list_top_usps:
            all_uniques_selling_poitns.append(y)
all_uniques_selling_poitns = set(all_uniques_selling_poitns)
print(
    f"The total number of unique selling points is: {len(all_uniques_selling_poitns)} and they are {all_uniques_selling_poitns}")

The total number of unique selling points is: 3289 and they are {'signature hospital  within 500m', 'park  within 1km', 'sector 55 - 56 Rapid metro within 2km', 'park hospital within 1km', 'IGI Nearby', 'St. Xavier school  within 250m', 'sector 55-56 Nearby', 'sector 56 rapid metro  within 3km', 'Eros City Centre within 250m', 'New Galaxy public Nearby', 'dlf phase-1 market  Nearby', 'Max Hospital within 1.5km', 'Gyananada School within 500m', 'PARAS HOSPITAL within 3km', 'Huda city Center Nearby', 'global hrealthcare multispecia within 1.5km', 'DPS International within 500m', 'RPS INTERNATIONAL  Nearby', 'World Mark mall Nearby', 'IFFCO CHOWK Nearby', 'ARTEMIS  within 3km', 'presidium within 250m', 'Narayana  School Nearby', 'Alpine Convent  Nearby', 'Aarvy Healthcare Hospital Nearby', 'dps school within 1.5km', 'The Pine Crest School  within 500m', 'school within 2km', 'Medanta, Aarvy  Nearby', 'St Xavier School Nearby', 'artemis within 250m', 'AIPL Joy Street within 500m', 'Park Hospital sector 49 Nearby', 'Manipal Hospital Palam Vihar within 3km', 'ST XAVIERS SCHOOL within 1km', 'siddheshwar within 2km', 'SECTOR 55 & 56 within 3km', 'Nirvana Courtyrad  Nearby', 'max hospital within 1km', 'Galleria Market within 1.5km', "ST XAVIER'S HIGH SCHOOL Nearby", 'HUDA CITY CENTRE within 2.5km', 'DPS INTERNATIONAL SCHOOOL within 3km', 'ONE DXP STREET Nearby', 'Silverstreak Nearby', 'Spring fields within 500m', 'Ambience school  Nearby', 'KRISHNA HOSPITAL within 3km', 'artimis hospital Nearby', 'dps public school Nearby', 'APOLLO HOSPITAL  within 1.5km', 'Dps within 1.5km', 'DPS  within 250m', 'Mount Carmel School within 3km', 'Hudda city centre within 2.5km', 'Huda City Cent within 2km', 'park hospital  within 1km', 'AARVY,ROCKLAND,SILVER STREAK Nearby', 'G.D GOENKA Nearby', 'Guru dronacharya metro station Nearby', 'APOLLO HOSPITAL within 1.5km', 'security guard Nearby', 'MIRACLES APOLLO HOSPITAL Nearby', 'hudda metro  Nearby', 'DPS INTERNATIONAL within 2km', 'dps, imperial heritage school Nearby', 'hudy  within 2km', 'dps Sushant lok 1  within 250m', 'vatika town square Nearby', 'Paras Hospital within 500m', 'MEDANTA HOSPITAL within 3km', 'SURAJ PUBLICE within 1km', 'St xavier school within 1.5km', 'rapid and huda metro  Nearby', 'yadhuvanshi/RPS School within 500m', 'Metro Stations  within 3km', 'RPS school  within 1km', 'HUDA CITY CENTRE  within 250m', 'DPS SECTOR 84 Nearby', "DPS/ ST.XAVIER'S Nearby", 'Rapid metro 42 Nearby', 'Mgf Metropolitan Mall  within 500m', 'Huda market within 250m', 'Vega School Nearby', 'Close to Hospital within 1km', 'paras and fortis hospital within 500m', 'Suncity world school  within 500m', 'Artmis ananda  Nearby', 'DAV SCHOOL within 500m', 'st. xavior  within 500m', 'DPS PUBLIC SCHOOL Nearby', 'sector -53 within 2km', 'CIVIL HOSPITAL SOHNA within 3km', 'Vardaan hospital within 1km', 'six element school Nearby', 'Aarvy hosoital within 1km', 'Shri Shiv Shakthi Mandir Nearby', 'delhi public school Nearby', 'GURGAON  Nearby', 'Ramjas School Nearby', 'Dps saloom hill amity within 1km', 'Goverment School within 500m', 'Sector-101, Gurgaon. within 1.5km', 'town square1 Nearby', 'Dps Nearby', 'SIGNATURE GLOBAL INFINITY MALL Nearby', '0.5 within 250m', 'Vardan hospital Sohna Nearby', 'Rapid Sector 53  within 500m', 'Suraj public school i within 1km', 'W Pratiksha Hospital  within 1.5km', 'Sapphire 90 within 1.5km', 'ST XAVIERS  within 1km', 'IGT Airport within 2km', 'Uma Sanjivani  within 500m', 'hudda metro  within 3km', 'hudda city station within 2km', 'fortune hospital sector 86 within 1.5km', 'paras hospital within 1.5km', 'RAPID METRO within 1km', 'PARK HOSPITAL Nearby', 'MATRIKIRAN SCHOOL within 250m', 'heritage international school within 500m', 'sector 90 Nearby', 'Shri ram school Nearby', 'sec 56 Nearby', 'Apollo Hospital Nearby', 'park hospital  within 1.5km', 'paras tirinty shopping complex within 250m', 'Close to School Nearby', 'Iffco Chowk Metro Station Nearby', 'paras hospital within 250m', 'rapid metro station sector 55 within 2km', 'SAPHIRE  within 1.5km', 'w pratiksha hospital within 1km', 'sohna road within 500m', 'D.P.S School within 3km', 'AARVY,APOLLO,ROCKLAND Nearby', 'Heritage international school within 2km', 'Aarvy Health Care within 1km', 'heritage experiential school within 500m', 'Shapire Mall Nearby', 'park Nearby', 'sector 55 within 250m', 'SATYA SCHOOL within 250m', 'RPS School within 500m', 'Vibgyor School Nearby', 'Rapid Metro within 3km', 'Amity school  within 1.5km', 'W PartikshaHospital within 1km', 'Ceramic Flooring', 'ROCKLAND HOSPITAL Nearby', 'Proposed metro station Nearby', 'Ardee school  within 250m', 'rps  within 500m', 'Aarvy Hospital within 1.5km', 'SAPHIRE 83 within 1.5km', 'mothers pride school within 250m', 'Shiv Nadar School  within 2km', 'St Xavier DPS within 2km', 'Suncity within 500m', 'sikanderpur Nearby', 'Artimis within 2km', 'paras within 1.5km', 'SNEH HOSPITAL Nearby', 'dlf 1 Nearby', 'DPS & GD Goyanka within 1.5km', 'Huda city centre Nearby', 'many schools within 1km', 'Euro school  Nearby', 'rps school Nearby', 'Aarvy hospital within 3km', 'rapid  Nearby', 'apollo hospital  within 1km', 'Rapid Metro 55,56 within 1km', '2 km  Nearby', 'RPS International School within 250m', 'Polaris Hospital within 1km', 'RPS  within 1km', 'PARAS MALL within 250m', 'RPS,DPS,MAITRIKIRAN Nearby', 'Worldmark mall within 500m', 'iffco metro and rapid metro  Nearby', '55-56 Metro within 250m', 'South point Mall  within 1.5km', '7 Baths', 'Sector 55-56 within 3km', 'WORLDMARK within 1km', 'Huda city within 3km', 'Sanklap within 1km', 'DPS International School within 500m', 'hudda metro within 3km', 'sikander pur metro rapid mtro Nearby', 'Park Hospital  within 3km', 'eros city squre Nearby', 'KIRTI HOSPITAL within 250m', 'Medanta within 1.5km', 'Apollo hospital within 1.5km', 'DPS within 250m', 'shivnadar school Nearby', 'St. xavier school within 500m', 'omaxe within 500m', 'Shiv nadar public school Nearby', 'signature infinity mall Nearby', 'ST. ANGLE within 250m', 'aarvy within 2km', 'medicity hospital  within 2km', 'MEGA MALL within 2km', 'SIGNATURE HOSPITAL Nearby', 'Aarvy hospital within 2km', 'kingswood world school within 1km', 'eros city Nearby', 'Gold Souk Mall Nearby', 'Vasant valley school  Nearby', 'huda market  Nearby', 'M3M Brodway Nearby', 'Shopping Mall within 250m', 'school 1 kilometer Nearby', 'dps  within 1.5km', 'saphire 90 within 2km', 'st xaviers school within 1.5km', 'ST XAVIER within 500m', 'Heritage international   within 250m', 'huda city centre within 2km', 'Sector 55 , 56  within 2km', 'st. Xavier  Nearby', 'PURPOSE METRO within 2km', 'St xavier Nearby', 'Unitech Arkadia  within 1km', 'DPS SCHOOL within 1km', 'rps dps Nearby', 'vyapar kender market within 500m', 'columbia asia & more Nearby', 'dwarka metro station within 3km', 'medanta hospital  within 1km', 'RPS INTERNATIONAL SCHOOL within 1km', 'DPS school  within 1km', 'shappire mall  within 500m', '53-54 metro Nearby', 'RBS International within 500m', '56 metro station within 1km', 'HDFC school  within 500m', 'Shiksha Bharti Public School within 250m', 'golf course  extension  schoo Nearby', 'matrikiran school within 250m', 'Nora Solomon Medicenter within 250m', 'D.P.S. within 250m', 'hudaa city center within 3km', 'Mount Olympus juniors school within 1km', 'Artimis  within 3km', 'pragyanam school  Nearby', 'm3m 65th avanu within 500m', 'Sector - 54  within 1km', 'Sikanderpur Metro within 250m', 'dwarka sec 25 Nearby', 'RIDGE VALLEY SCHOOL Nearby', 'Ambience Public School  within 1.5km', 'DPS international Nearby', 'AMITY School within 500m', 'Huda city metro station within 1km', 'HUB66 Nearby', 'Sector 56 within 3km', 'Aarvy Hospital  within 3km', 'Pathways School Nearby', 'the hub Nearby', 'HUDA  within 2km', 'SATYA MARKET Nearby', 'mega mall Nearby', 'Suncity school Nearby', 'DPS, EURO, ST. XAVIERS Nearby', 'medcity hospital gurgaon within 2km', 'DPS SECTOR 84 within 2km', 'HUDA METRO within 500m', 'Emerald plaza  within 500m', 'HUDA Mini Golf Course Nearby', 'AAARVY within 1km', 'CLOSE TO ST. XAVIOUR SCHOOL within 1km', 'Shiv Nadar Nearby', 'hudda city metro station Nearby', 'Dps International school within 1km', 'Ground Floor', 'Park Hospital within 1.5km', 'Baani Square within 1.5km', "Xavier's  within 250m", 'Adarsh Senior Secondary School within 2km', 'st xavier school within 2km', 'rps international  Nearby', 'rapid mero  within 1km', 'ananda Nearby', 'proposed metro Nearby', 'South City 2 Market within 1.5km', 'south city 2 Nearby', 'Sector 56  Nearby', 'millenium metro station Nearby', 'paras trinity within 1km', 'Saphire Market within 250m', 'Rain Water Harvesting', 'Apollo Miracle within 500m', 'Manipal Hospital  within 1.5km', 'KR Manglam University within 250m', 'ninex mall within 1km', 'Medoc, Arvi hospital within 1.5km', 'Lancer public school  within 1km', 'Heritage International School within 1km', 'NARAYANA TECHNO SCHOOL within 250m', 'Vypar Kendra Market within 1km', 'Strek  within 250m', 'SUNCITY ,HERITAGE ONE within 1km', 'VIPUL TRADE CENTRE within 250m', 'Park within 2km', 'HUDA CITY CENTER METRO within 3km', 'Sec-57 Nearby', 'Heritage international school within 250m', '55-56 within 500m', 'signature hospital within 1km', 'rao bharat singh school within 250m', 'Pragayanam School Nearby', 'Heritage School within 250m', 'GD GOINKA SECTOR 48 Nearby', 'MEDANTA MEDICITY C within 500m', 'Apollo Hospitals  within 1km', 'manav rachna  within 2km', 'hdfc within 1km', 'NH248A, Islampur Village Nearby', 'silver steak   within 1km', 'heritage school  within 1km', 'Delhi Public School within 250m', 'sector 55,56 rapid metro Nearby', 'Iffco within 250m', 'Dwarka metro 25 Nearby', 'GD Goenka within 500m', 'RPS school Nearby', 'RBS International School within 250m', 'HUDA METRO STATION  within 500m', 'lancer school Nearby', 'Sikenderpur Metro within 1.5km', 'EURO INTERNTIONAL SCHOOL Nearby', 'PNB ATM within 1km', 'SECTOR 51 MARKET Nearby', 'st xavier Nearby', 'orchid international  school within 250m', 'mg road metro staion Nearby', 'Close to Mall', '17 Nearby', 'xent within 1.5km', 'proposed Metro  Nearby', '54 chowk Nearby', 'Aarvy  Hospital Nearby', 'park hospitals sector 47   within 3km', 'NARAYNA E TECHNO Nearby', 'apollo within 1km', 'mount olyupus Nearby', 'THE SRI RAM SCHOOL within 2km', 'rapid metro within 1.5km', 'Chirag Hospital Nearby', 'Signature Global Infinity mall within 250m', 'Paras max fourty  within 1km', 'Apex Plus Hospital within 1.5km', 'Sheetla within 1.5km', 'Huda city centre  Nearby', ' Delhi Jaipur Expressway Nearby', 'Guru Dronacnarya metro station Nearby', 'Nora Solomon Medicenter within 1km', 'Heritage, Path ways within 2km', 'HUDA CITY CENTRE  Nearby', 'gd goenka  within 2km', 'local market Nearby', 'Saloom hill hdfc school  within 1km', 'American Public school  within 500m', 'Trehan City Centre within 1km', 'SAPPHIRE  within 1.5km', 'SAPHRE 83 within 1.5km', 'APOLLO HOPITAL within 1.5km', 'IRIS within 500m', 'rapid metro  within 1km', 'St. Xavier within 3km', 'HUDA CITY Nearby', 'AMITY within 250m', 'Blue Bells School  within 500m', 'DPS, RAO BHARAT, YADUVANSHI within 2km', 'shri balaji multispeciality  Nearby', 'Rapid Metro Nearby', 'Huda city centre within 500m', 'DPS within 500m', 'Aarvy Hospital within 3km', 'Sector 42 Rapid metro station within 500m', 'euro international school Nearby', 'Artimis Hospital within 3km', 'Omaxe Mall  within 250m', 'huda market  within 250m', 'DXP within 250m', 'C.K birla Nearby', 'rapid Sector 53 Nearby', 'Royal Oak Int. School within 1km', 'DLF Phase Nearby', "St Xavier's School  within 250m", 'Paras Hospital  within 2km', 'AARVY HOSPITAL  within 1km', 'HDFC, Vanketeshwar, HDFC within 500m', 'PARK HOSPITAL within 1.5km', 'Sikanderpur  within 1km', 'Good Earth  within 1.5km', 'DPS SCHOOL within 250m', 'Dps  within 1km', 'Huda market  within 250m', 'DPS School within 1km', 'VR Drive In Theatre Nearby', 'suncity school  Nearby', 'MAX within 500m', 'euro international within 2km', 'sec56 within 500m', 'Huda City Centre Nearby', 'heritage school within 500m', 'Good Earth Mall Nearby', 'Town square 2 within 1.5km', 'Presidum School Nearby', 'guru Dronacharya Nearby', 'MEDANTA MEDICITY HOSPITAL within 2.5km', 'WORLD MARK Nearby', 'Sector90 Nearby', 'vibrant  within 1km', 'saphira 83 within 1.5km', 'Close to metro station within 1km', 'VYAPAR KENDER  within 250m', 'paras Nearby', 'Rapid Metro Station Sector 56 Nearby', 'Aartimish within 2km', 'DPS International School within 2km', 'HUDA City metro Station within 1.5km', 'MG ROAD within 500m', 'IBS School within 500m', 'Lancer School Nearby', 'DPS International  within 3km', 'Sector 55 Nearby', 'metri kiran Nearby', 'gd goenka within 250m', 'Mg road within 2km', 'Ambience Public School Nearby', 'TOWN SQUARE within 500m', 'Sector 42 Rapid Metro within 250m', 'Iris Trehan Broadway  Nearby', 'Ansal Plaza Mall Nearby', 'sector56 within 3km', 'private hospitals  Nearby', 'RPS,MAITRI KIRAN,DPS, Nearby', 'central arcade  Nearby', 'sector 56 metro station  Nearby', 'ardee school within 500m', 'PURPOSE METRO STATION BASAI within 250m', 'huda market 46 within 1km', 'DPS  Nearby', 'MG Road metro station Nearby', 'huda coty Nearby', 'ss omnia mall within 1km', 'RAO BHARAT RAM GLOBAL PUBLIC S within 1km', 'civil hospital Nearby', 'Shalom Hills  School  within 2km', 'Close to Hospital Nearby', 'Repid metro  within 1km', 'Apollo hospital within 2km', 'Nora solomon within 2km', 'LOTUS VALLEY Nearby', 'shiv nadar within 500m', 'AMERICAN PUBLIC SCHOOL within 250m', 'Emerald Plaza Nearby', 'Huda city center metro station within 250m', 'Yadhuvanshi within 250m', 'suncity world school  Nearby', 'Sapphire 90 within 500m', 'nora solomon within 1.5km', 'W PARTIKSHA Nearby', 'I.G.I Airport Nearby', 'Golf Course Road Nearby', 'New Galaxy Public School Nearby', 'Fortis Hospital  within 500m', 'w pratiksha  within 250m', 'St. Xavier school within 250m', 'Metro Station  within 3km', 'Huda City Center  within 500m', 'dpsg school  within 1.5km', 'Huda within 1km', 'SS Omnia within 1.5km', 'Air Conditioned', 'haritage school  within 250m', 'Saphire 83 within 2.5km', 'Max Hospital Nearby', 'ST XAVIERS HIGH SCHOOL Nearby', 'MG metro station Nearby', 'Artemis Nearby', 'dps school  Nearby', 'town sqre within 250m', 'satya hive Nearby', 'PARK HOSPITALS within 250m', 'saphire 90 within 1km', 'rapid  within 1km', 'huda city center within 3km', 'SAME COMPAUND  within 250m', 'Guru Dronacharya Metro Station within 1km', 'Rapid Metro Station Sector 55 within 2km', 'sector-53&54 Nearby', 'amity   within 1.5km', 'paras world Nearby', 'all good hospital  Nearby', 'HUDA City Metrol Station within 1km', 'GD GOENKA within 2km', 'PRATIKSHA HOSPITAL  within 2km', 'sector 56  within 250m', 'Artemis within 1km', 'sector 55-56 metro station within 250m', 'Huda City  Center Nearby', 'w partiksha hospital  Nearby', '3-4 school within 500m', 'Aarvy hospital within 1km', 'suraj school Nearby', 'sun city school within 1km', 'st Xavier public school  Nearby', 'paras within 1km', 'centrum plaza  within 1km', 'MANAV RACHNA within 500m', 'Rapid Metro  Nearby', '56 metro station within 1.5km', 'sector 56 metro  Nearby', 'HERITAGE Nearby', 'Conscient One Nearby', 'ck brila within 3km', 'DPS School within 2km', 'SUNCITY SCHOOL Nearby', 'aarvy  within 1km', 'sector 48 SEZ within 500m', 'Artemis Hospital Sector 51 within 1km', 'sector 56 rapid metro within 3km', 'pathways and heritage Nearby', 'DPS GURGAON within 2km', 'Sikandar pur Nearby', 'pratiksha  within 1km', 'Huda Market Nearby', 'AArvy Hospital within 2km', 'medanata hospital Nearby', 'badsha ams within 2km', 'saphhir market Nearby', 'Sector 29 Market within 1km', 'saphir mall within 1.5km', 'huda city centre  within 2km', 'MG road metro  within 500m', 'yadhuvanshi school Nearby', 'Paras Hospital  within 1km', 'Sector 56 Metro Station  within 2km', 'millenium city center Nearby', 'delhi public school within 250m', 'MEDANTA within 2km', 'M3M COSMOPOLITAN within 250m', 'arcadia Nearby', 'Paras hospital  Nearby', 'Iffco Metro  within 1km', 'suncity school  within 1.5km', 'xt xavier within 1.5km', 'DPS,RPS,ST.XAVIOUR Nearby', 'th hub Nearby', 'moulsary Avenue Nearby', 'hudda within 2km', 'Rapid Metro Station  Nearby', 'sector 54 chowk metro station within 500m', 'MANAV RACHNA Nearby', 'Upcoming Basai Metro station within 250m', 'SIKANDERPUR METRO Nearby', 'Paras hospital within 1km', 'dps school  within 2km', 'Suncity School, Euro School within 1km', 'Vaypar Kendra market  Nearby', 'Manipal Hospital within 250m', 'MG Road Nearby', 'Paras within 2.5km', 'MANIPAL within 2km', 'Dvm Public School Nearby', 'Euro-109, DPS-103 within 1km', 'DLF-1 within 1km', 'medcity within 1.5km', 'rapid metro station Nearby', 'Rps school Nearby', 'huda  within 1.5km', 'SOTH CITY 2 MARKET within 500m', 'RPS International within 2km', 'world mark within 250m', 'hudda metro 2 kilometer Nearby', 'Aarvy  Nearby', 'Medanta Hospital within 2.5km', 'DPS Sec 45 within 2km', 'Sector 42 golf Course Road  Nearby', 'HUDA CITY CENTRE within 2km', 'Medanta hospital Nearby', '9 Baths', 'G D Goenka School  within 2km', 'st.xavior high school  Nearby', 'HUDA metro  Nearby', 'SOHNA HOSPITAL Nearby', 'huda city center metro within 1km', 'Parivat Hospital  within 500m', 'Gurugram Public school  within 500m', 'Dwarka Expressway Nearby', 'american School Nearby', 'IFFCO within 250m', 'dav public school  Nearby', 'Medicity within 1km', 'AARVY Nearby', 'huda city  Nearby', 'HUDA SECTOR 23 MARKET within 500m', 'genisis within 2.5km', 'Aarvy hospital Nearby', 'Sikanderpur Metro Nearby', 'ocus Nearby', 'SS  OMNIA Nearby', 'DPS  within 1.5km', 'S N International School Nearby', 'D. P S Public school  within 1km', 'SANT XIVIOR  Nearby', 'gurugram University  Nearby', 'suraj high school  Nearby', 'huda sector market  Nearby', 'SILVER STIK HOSPITAL within 500m', 'atul memorial school  Nearby', 'RPS  within 2km', 'GOOD EARTH MARKET  within 500m', 'Suraj School within 1km', 'dps within 1km', 'aarvy hospital within 3km', 'Sector-66 within 2km', 'HUDA METRO STATION 4KM Nearby', 'ARTIMIES HOSPITAL within 1km', 'DPS International school within 2km', 'honkong bazar  Nearby', 'HUDA CITY CENTER  Nearby', 'M.G. Road  within 500m', 'Basant Valley Global School within 500m', 'Pranavananda International within 1km', 'Sector 56 within 1km', 'rapid  within 2km', 'Delhi Jaipur Expressway Nearby', 'saphire 83 within 2km', 'St Javious within 1km', 'medicity hospital  Nearby', 'medicity hospital  within 2.5km', 'Huda Metro within 2.5km', 'DLF Phase 1 Rapid Metro within 250m', 'Scottish High School within 250m', 'paras world  Nearby', 'St. Xavier school  within 500m', 'tulip chowk  Nearby', 'huda city centre Nearby', 'sun city within 250m', 'TREHAN IRIS BROADWAY Nearby', 'South point Mall  within 2.5km', '10 MINIS AWAY S"T XAVIOUR HIGH within 250m', 'inside the society Nearby', '2km Nearby', 'gd goenka  within 1km', 'qutub plaza market within 500m', 'sapphire 90 within 250m', 'narayana school within 1km', 'Manipal Hospital within 3km', 'GD Goenka school Nearby', 'DPS Public school within 1km', 'Shriram School within 250m', '55-56 Rapid metro Station within 3km', 'st. jaiveiers  within 500m', 'huda city matro station within 3km', 'RPS International School within 2km', 'HUDDA CITY CENTRE Nearby', 'Huda city metro  within 3km', 'Fortis hospital  within 250m', 'signeture hospital  Nearby', 'dsp school within 1.5km', 'Hudda  within 500m', 'kidzee sec 93 within 250m', 'rps school within 1.5km', 'Ryan international school  within 500m', 'Shri Ram School Nearby', 'huda metro station  within 1km', 'swiss cottage school Nearby', 'Rapid Metro within 1.5km', 'hudda metro  within 500m', 'DELHI PUBLIC SCHOOL Nearby', 'Suraj public school  within 250m', 'IRIS BRODWAYS within 250m', 'MAX HOSPITAL Nearby', 'Recently Renovated', 'w pratiksha within 250m', 'ELAAN Nearby', 'IRIS TREHAN,SAPPHIRE 83/90 Nearby', '53,54 METRO STATION Nearby', 'sikandar pur Nearby', 'hud

#### So i think i am going to do something aboutthis one later..

In [198]:
df.head()

,AGE,AMENITIES,AREA_SQFT,ATM,Airport,AmusementPark,Attraction,BALCONY_NUM,BATHROOM_NUM,BEDROOM_NUM,BROKERAGE,BUILDING_NAME,BUILTUP_SQFT,Bank,BusDepot,BusStop,CARPET_SQFT,CITY,CLASS_LABEL,CONTACT_COMPANY_NAME,CONTACT_NAME,Club,Connectivity,DESCRIPTION,EXPIRY_DATE,Education,FACING,FEATURES,FLOOR_NUM,FSL_DATA_LOCALITY_ID,FSL_DATA_TYPE,FURNISH,GROUP_NAME,GolfCourse,Hospital,Hotel,LISTING,LOCALITY,Library,MAX_AREA_SQFT,MAX_PRICE(INR),MD_LATITUDE,MD_LONGITUDE,MD_MAPPED,MD_MAP_ACCURACY,MD_SOURCE,MD_ZOOM_LEVEL,MIN_AREA_SQFT,MIN_PRICE(INR),MetroStation,Miscellaneous,OWNTYPE,OfficeComplex,PREFERENCE,PRICE(INR),PRICE_PER_SQFT(INR),PROPERTY_TYPE,PROP_HEADING,PROP_ID,PROP_NAME,Park,Parking,Pharmacy,REGISTER_DATE,RailwayStation,ReligiousPlace,SECONDARY_TAGS,SOCIETY_NAME,SUPERBUILTUP_SQFT,Shopping,Stadium,SwimmingPool,TEMP_TOTAL_LANDMARK_COUNT,TOP_USPS,TOTAL_FLOOR,TOTAL_LANDMARK_COUNT,TRANSACT_TYPE,location,profile,xid,METADATA_PROPERTY_PHOTO_COUNT,METADATA_PROPERTY_VIDEO_COUNT
0,5-10 Year Old Property,"20,21,32,23,46,47,39,1,6,9,40,41,30,42,33,12,2...",3434,0.0,0.0,0.0,0.0,4.0,3+,4.0,263000.0,Alpha Corp GurgaonOne 84,NaN,1.0,0.0,0.0,3000.0,Gurgaon,Dealer,propertyline,gaurav khosla,0.0,0.0,4 bhk flat for resale in alpha corp gurgaon one,2023-11-28 00:00:00,2.0,North,"33,23,12,46,25,47,39,1,3,6,9,40,41,30,20,42,21,32",14,0.0,NaN,Semifurnished,SPID_GROUP_SEARCH_NORMAL,0.0,1.0,0.0,R,Sector 84 Gurgaon,0.0,319.028902,26300000.0,28.4065341,76.9627918,Y,0,BUILDING,14,319.028902,26300000.0,0.0,1.0,Freehold,0.0,S,26300000.0,8766.0,Residential Apartment,4 BHK Flat in Sector 84 Gurgaon,O71585872,Alpha Corp GurgaonOne 84,1.0,0.0,0.0,"29th Sep, 2023",0.0,0.0,"['READY TO MOVE', 'RESALE']",Alpha Corp GurgaonOne 84,3434.0,4.0,0.0,0.0,10.0,"['North Facing', 'Recently Renovated', 'Gated ...",26.0,10.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'CONTACT_NAME': 'gaurav khosla', 'CONTACT_COM...","{'PROJECTID': 5096, 'PROJ_NAME': 'Alpha Corp G...",4,0
1,1-5 Year Old Property,"17,5,20,21,10,44,23,46,47,29,19,1,6,9,30,41,43...",2870,0.0,1.0,0.0,0.0,3.0,3+,4.0,1.0,DLF The Ultima,NaN,0.0,0.0,0.0,1700.0,Gurgaon,Dealer,MVD AND ASSOCIATES,Kamal,0.0,2.0,"Explore dlf ultima, an upscale ready-To-Move h...",2023-11-28 00:00:00,2.0,North,"44,33,23,12,46,25,47,26,17,29,19,1,3,5,6,9,30,...",7,0.0,NaN,Semifurnished,SPID_GROUP_SEARCH_NORMAL,0.0,1.0,0.0,R,Sector 81 Gurgaon,0.0,266.631610,36000000.0,28.3889069,76.9513279,Y,0,BUILDING,14,266.631610,36000000.0,1.0,0.0,Freehold,0.0,S,36000000.0,21176.0,Residential Apartment,4 BHK Flat in Sector 81 Gurgaon,T71585466,DLF The Ultima,0.0,0.0,0.0,"29th Sep, 2023",1.0,0.0,"['READY TO MOVE', 'RESALE', 'RERA']",DLF The Ultima,2870.0,1.0,0.0,0.0,9.0,"['North Facing', ""st. xavier's within 500m"", '...",29.0,9.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'CONTACT_NAME': 'Kamal', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 7182, 'PROJ_NAME': 'DLF The Ulti...",4,0
2,1-5 Year Old Property,"32,17,2,5,20,21,44,23,45,24,46,47,28,29,30,39,...",1950,0.0,1.0,1.0,0.0,2.0,2+,3.0,42000.0,Emaar MGF The Palm Drive,1920.00,0.0,0.0,0.0,1450.0,Gurgaon,Dealer,1st Nest Realtors,Sandeep,0.0,2.0,A 3 bhk flat for rent in sector 66 gurgaon clo...,2023-11-26 00:00:00,2.0,West,"44,23,45,24,46,25,47,28,29,30,31,32,33,12,17,3...",7,0.0,NaN,Furnished,SPID_GROUP_SEARCH_NORMAL,1.0,1.0,1.0,R,Sector 66 Gurgaon,0.0,181.160850,85000.0,28.401406,77.050549,Y,0,BUILDING,14,181.160850,85000.0,1.0,0.0,NaN,1.0,R,85000.0,43.0,Residential Apartment,3 BHK Flat in Sector 66 Gurgaon,D71549524,Emaar MGF The Palm Drive,0.0,0.0,0.0,"27th Sep, 2023",1.0,0.0,['FURNISHED'],Emaar MGF The Palm Drive,1950.0,1.0,1.0,0.0,14.0,"['3 Baths', 'Full Power Backup', 'huda city ce...",17.0,14.0,NaN,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'CONTACT_NAME': 'Sandeep', 'CONTACT_COMPANY_N...","{'PROJECTID': 19, 'PROJ_NAME': 'Emaar MGF The ...",1,0
3,1-5 Year Old Property,"2,5,20,21,23,1,6,9,40,30,41,33,12,25,26,3,31,1...",2802,0.0,1.0,0.0,0.0,3.0,2+,3.0,1.0,Experion Windchants,2225.56,0.0,0.0,0.0,NaN,Gurgaon,Dealer,GROW MORE,Kohli,0.0,1.0,Looking for a 3 bhk property for purchase in g...,2023-11-22 00:00:00,2.0,NaN,"33,23,12,25,26,1,2,3,5,6,9,40,30,41,31,20,21",14,0.0,NaN,Semifurnished,SPID_GROUP_SEARCH_NORMAL,0.0,2.0,0.0,R,Sector 112 Gurgaon,0.0,260.314206,38500000.0,28.518677,77.015115,Y,0,BUILDING,14,260.314206,38500000.0,0.0,0.0,Freehold,0.0,S,38500000.0,13740.0,Residential Apartment,3 BHK Flat in Sector 112 Gurgaon,I71493958,Experion Windchants,0.0,0.0,0.0,"23rd Sep, 2023",1.0,0.0,"['READY TO MOVE', 'RESALE', 'RERA']",Experion Windchants,2802.0,1.0,0.0,0.0,8.0,"['Gated Society', 'Overlooking Park/Garden', '...",28.0,8.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'CONTACT_NAME': 'Kohli', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 4342, 'PROJ_NAME': 'Experion Win...",1,0
4,1-5 Year Old Property,"2,20,21,44,23,46,28,1,6,9,40,30,41,12,25,26,3,31",2290,0.0,1.0,1.0,0.0,4.0,3+,3.0,1.0,ATS Triumph,NaN,0.0,0.0,0.0,NaN,Gurgaon,Dealer,GROW MORE,Kohli,0.0,2.0,This 4 bhk flat in sector 104 gurgaon is avail...,2023-11-21 00:00:00,3.0,North-West,"44,23,12,46,25,26,28,1,2,3,6,9,40,30,41,31,20,21",12,0.0,NaN,Semifurnished,SPID_GROUP_SEARCH_NORMAL,1.0,1.0,1.0,R,Sector 104 Gurgaon,0.0,212.747870,40000.0,28.47844,76.98611,Y,0,BUILDING,14,212.747870,40000.0,1.0,0.0,NaN,1.0,R,40000.0,17.0,Residential Apartment,3 BHK Flat in Sector 104 Gurgaon,H71479412,ATS Triumph,0.0,0.0,0.0,"23rd Sep, 2023",1.0,0.0,[],ATS Triumph,2290.0,1.0,0.0,0.0,14.0,"['4 Baths', 'Full Power Backup', 'Gated Societ...",27.0,14.0,NaN,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'CONTACT_NAME': 'Kohli', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 25860, 'PROJ_NAME': 'ATS Triumph...",14,0

In [203]:
df = df.reindex(['AGE', 'AMENITIES', 'AREA_SQFT', 'BALCONY_NUM', 'BATHROOM_NUM', 'BEDROOM_NUM', 'BROKERAGE', 'BUILDING_NAME', 'BUILTUP_SQFT', 'CARPET_SQFT', 'CITY', 'CLASS_LABEL', 'CONTACT_COMPANY_NAME', 'CONTACT_NAME', 'DESCRIPTION', 'EXPIRY_DATE', 'FACING', 'FEATURES', 'FLOOR_NUM', 'FSL_DATA_LOCALITY_ID', 'FSL_DATA_TYPE', 'FURNISH', 'GROUP_NAME', 'LISTING', 'LOCALITY', 'MAX_AREA_SQFT', 'MAX_PRICE(INR)', 'MD_LATITUDE', 'MD_LONGITUDE', 'MD_MAPPED', 'MD_MAP_ACCURACY', 'MD_SOURCE', 'MD_ZOOM_LEVEL', 'MIN_AREA_SQFT', 'MIN_PRICE(INR)', 'OWNTYPE', 'PREFERENCE', 'PRICE(INR)', 'PRICE_PER_SQFT(INR)', 'PROPERTY_TYPE', 'PROP_HEADING',
                 'PROP_ID', 'PROP_NAME', 'REGISTER_DATE', 'SECONDARY_TAGS', 'SOCIETY_NAME', 'SUPERBUILTUP_SQFT', 'TEMP_TOTAL_LANDMARK_COUNT', 'TOP_USPS', 'TOTAL_FLOOR', 'TOTAL_LANDMARK_COUNT', 'TRANSACT_TYPE', 'location', 'profile', 'xid', 'Attraction', 'ATM', 'Airport', 'AmusementPark', 'Bank', 'BusDepot', 'BusStop', 'Club', 'Connectivity', 'Education', 'GolfCourse', 'Hospital', 'Hotel', 'Library', 'MetroStation', 'Miscellaneous', 'OfficeComplex', 'Park', 'Parking', 'Pharmacy', 'RailwayStation', 'ReligiousPlace', 'Shopping', 'Stadium', 'SwimmingPool', 'METADATA_PROPERTY_PHOTO_COUNT', 'METADATA_PROPERTY_VIDEO_COUNT'], axis=1)
df.head()

,AGE,AMENITIES,AREA_SQFT,BALCONY_NUM,BATHROOM_NUM,BEDROOM_NUM,BROKERAGE,BUILDING_NAME,BUILTUP_SQFT,CARPET_SQFT,CITY,CLASS_LABEL,CONTACT_COMPANY_NAME,CONTACT_NAME,DESCRIPTION,EXPIRY_DATE,FACING,FEATURES,FLOOR_NUM,FSL_DATA_LOCALITY_ID,FSL_DATA_TYPE,FURNISH,GROUP_NAME,LISTING,LOCALITY,MAX_AREA_SQFT,MAX_PRICE(INR),MD_LATITUDE,MD_LONGITUDE,MD_MAPPED,MD_MAP_ACCURACY,MD_SOURCE,MD_ZOOM_LEVEL,MIN_AREA_SQFT,MIN_PRICE(INR),OWNTYPE,PREFERENCE,PRICE(INR),PRICE_PER_SQFT(INR),PROPERTY_TYPE,PROP_HEADING,PROP_ID,PROP_NAME,REGISTER_DATE,SECONDARY_TAGS,SOCIETY_NAME,SUPERBUILTUP_SQFT,TEMP_TOTAL_LANDMARK_COUNT,TOP_USPS,TOTAL_FLOOR,TOTAL_LANDMARK_COUNT,TRANSACT_TYPE,location,profile,xid,Attraction,ATM,Airport,AmusementPark,Bank,BusDepot,BusStop,Club,Connectivity,Education,GolfCourse,Hospital,Hotel,Library,MetroStation,Miscellaneous,OfficeComplex,Park,Parking,Pharmacy,RailwayStation,ReligiousPlace,Shopping,Stadium,SwimmingPool,METADATA_PROPERTY_PHOTO_COUNT,METADATA_PROPERTY_VIDEO_COUNT
0,5-10 Year Old Property,"20,21,32,23,46,47,39,1,6,9,40,41,30,42,33,12,2...",3434,4.0,3+,4.0,263000.0,Alpha Corp GurgaonOne 84,NaN,3000.0,Gurgaon,Dealer,propertyline,gaurav khosla,4 bhk flat for resale in alpha corp gurgaon one,2023-11-28 00:00:00,North,"33,23,12,46,25,47,39,1,3,6,9,40,41,30,20,42,21,32",14,0.0,NaN,Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 84 Gurgaon,319.028902,26300000.0,28.4065341,76.9627918,Y,0,BUILDING,14,319.028902,26300000.0,Freehold,S,26300000.0,8766.0,Residential Apartment,4 BHK Flat in Sector 84 Gurgaon,O71585872,Alpha Corp GurgaonOne 84,"29th Sep, 2023","['READY TO MOVE', 'RESALE']",Alpha Corp GurgaonOne 84,3434.0,10.0,"['North Facing', 'Recently Renovated', 'Gated ...",26.0,10.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'CONTACT_NAME': 'gaurav khosla', 'CONTACT_COM...","{'PROJECTID': 5096, 'PROJ_NAME': 'Alpha Corp G...",0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,4,0
1,1-5 Year Old Property,"17,5,20,21,10,44,23,46,47,29,19,1,6,9,30,41,43...",2870,3.0,3+,4.0,1.0,DLF The Ultima,NaN,1700.0,Gurgaon,Dealer,MVD AND ASSOCIATES,Kamal,"Explore dlf ultima, an upscale ready-To-Move h...",2023-11-28 00:00:00,North,"44,33,23,12,46,25,47,26,17,29,19,1,3,5,6,9,30,...",7,0.0,NaN,Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 81 Gurgaon,266.631610,36000000.0,28.3889069,76.9513279,Y,0,BUILDING,14,266.631610,36000000.0,Freehold,S,36000000.0,21176.0,Residential Apartment,4 BHK Flat in Sector 81 Gurgaon,T71585466,DLF The Ultima,"29th Sep, 2023","['READY TO MOVE', 'RESALE', 'RERA']",DLF The Ultima,2870.0,9.0,"['North Facing', ""st. xavier's within 500m"", '...",29.0,9.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'CONTACT_NAME': 'Kamal', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 7182, 'PROJ_NAME': 'DLF The Ulti...",0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,4,0
2,1-5 Year Old Property,"32,17,2,5,20,21,44,23,45,24,46,47,28,29,30,39,...",1950,2.0,2+,3.0,42000.0,Emaar MGF The Palm Drive,1920.00,1450.0,Gurgaon,Dealer,1st Nest Realtors,Sandeep,A 3 bhk flat for rent in sector 66 gurgaon clo...,2023-11-26 00:00:00,West,"44,23,45,24,46,25,47,28,29,30,31,32,33,12,17,3...",7,0.0,NaN,Furnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 66 Gurgaon,181.160850,85000.0,28.401406,77.050549,Y,0,BUILDING,14,181.160850,85000.0,NaN,R,85000.0,43.0,Residential Apartment,3 BHK Flat in Sector 66 Gurgaon,D71549524,Emaar MGF The Palm Drive,"27th Sep, 2023",['FURNISHED'],Emaar MGF The Palm Drive,1950.0,14.0,"['3 Baths', 'Full Power Backup', 'huda city ce...",17.0,14.0,NaN,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'CONTACT_NAME': 'Sandeep', 'CONTACT_COMPANY_N...","{'PROJECTID': 19, 'PROJ_NAME': 'Emaar MGF The ...",0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,2.0,2.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1,0
3,1-5 Year Old Property,"2,5,20,21,23,1,6,9,40,30,41,33,12,25,26,3,31,1...",2802,3.0,2+,3.0,1.0,Experion Windchants,2225.56,NaN,Gurgaon,Dealer,GROW MORE,Kohli,Looking for a 3 bhk property for purchase in g...,2023-11-22 00:00:00,NaN,"33,23,12,25,26,1,2,3,5,6,9,40,30,41,31,20,21",14,0.0,NaN,Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 112 Gurgaon,260.314206,38500000.0,28.518677,77.015115,Y,0,BUILDING,14,260.314206,38500000.0,Freehold,S,38500000.0,13740.0,Residential Apartment,3 BHK Flat in Sector 112 Gurgaon,I71493958,Experion Windchants,"23rd Sep, 2023","['READY TO MOVE', 'RESALE', 'RERA']",Experion Windchants,2802.0,8.0,"['Gated Society', 'Overlooking Park/Garden', '...",28.0,8.0,1.0,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'CONTACT_NAME': 'Kohli', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 4342, 'PROJ_NAME': 'Experion Win...",0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1,0
4,1-5 Year Old Property,"2,20,21,44,23,46,28,1,6,9,40,30,41,12,25,26,3,31",2290,4.0,3+,3.0,1.0,ATS Triumph,NaN,NaN,Gurgaon,Dealer,GROW MORE,Kohli,This 4 bhk flat in sector 104 gurgaon is avail...,2023-11-21 00:00:00,North-West,"44,23,12,46,25,26,28,1,2,3,6,9,40,30,41,31,20,21",12,0.0,NaN,Semifurnished,SPID_GROUP_SEARCH_NORMAL,R,Sector 104 Gurgaon,212.747870,40000.0,28.47844,76.98611,Y,0,BUILDING,14,212.747870,40000.0,NaN,R,40000.0,17.0,Residential Apartment,3 BHK Flat in Sector 104 Gurgaon,H71479412,ATS Triumph,"23rd Sep, 2023",[],ATS Triumph,2290.0,14.0,"['4 Baths', 'Full Power Backup', 'Gated Societ...",27.0,14.0,NaN,"{'CITY': '8', 'CITY_NAME': 'Gurgaon', 'BUILDIN...","{'CONTACT_NAME': 'Kohli', 'CONTACT_COMPANY_NAM...","{'PROJECTID': 25860, 'PROJ_NAME': 'ATS Triumph...",0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,2.0,3.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,14,0

In [204]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10699 entries, 0 to 10703
Data columns (total 82 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   AGE                            10514 non-null  object
 1   AMENITIES                      10620 non-null  object
 2   AREA_SQFT                      10699 non-null  object
 3   BALCONY_NUM                    10501 non-null  float64
 4   BATHROOM_NUM                   10169 non-null  object
 5   BEDROOM_NUM                    10506 non-null  float64
 6   BROKERAGE                      10623 non-null  float64
 7   BUILDING_NAME                  9130 non-null   object
 8   BUILTUP_SQFT                   2733 non-null   float64
 9   CARPET_SQFT                    6539 non-null   float64
 10  CITY                           10699 non-null  object
 11  CLASS_LABEL                    10699 non-null  object
 12  CONTACT_COMPANY_NAME           10694 non-null  object
 13  CONTACT_NAME                   10655 non-null  object
 14  DESCRIPTION                    10699 non-null  object
 15  EXPIRY_DATE                    10699 non-null  object
 16  FACING                         9511 non-null   object
 17  FEATURES                       10699 non-null  object
 18  FLOOR_NUM                      9799 non-null   object
 19  FSL_DATA_LOCALITY_ID           10697 non-null  float64
 20  FSL_DATA_TYPE                  32 non-null     object
 21  FURNISH                        10198 non-null  object
 22  GROUP_NAME                     10699 non-null  object
 23  LISTING                        10699 non-null  object
 24  LOCALITY                       10699 non-null  object
 25  MAX_AREA_SQFT                  10699 non-null  float64
 26  MAX_PRICE(INR)                 10699 non-null  float64
 27  MD_LATITUDE                    10699 non-null  object
 28  MD_LONGITUDE                   10699 non-null  object
 29  MD_MAPPED                      10699 non-null  object
 30  MD_MAP_ACCURACY                10699 non-null  object
 31  MD_SOURCE                      10699 non-null  object
 32  MD_ZOOM_LEVEL                  10699 non-null  object
 33  MIN_AREA_SQFT                  10699 non-null  float64
 34  MIN_PRICE(INR)                 10699 non-null  float64
 35  OWNTYPE                        10150 non-null  object
 36  PREFERENCE                     10699 non-null  object
 37  PRICE(INR)                     10677 non-null  float64
 38  PRICE_PER_SQFT(INR)            10699 non-null  float64
 39  PROPERTY_TYPE                  10699 non-null  object
 40  PROP_HEADING                   10699 non-null  object
 41  PROP_ID                        10699 non-null  object
 42  PROP_NAME                      9130 non-null   object
 43  REGISTER_DATE                  10699 non-null  object
 44  SECONDARY_TAGS                 10699 non-null  object
 45  SOCIETY_NAME                   9130 non-null   object
 46  SUPERBUILTUP_SQFT              6712 non-null   float64
 47  TEMP_TOTAL_LANDMARK_COUNT      10699 non-null  float64
 48  TOP_USPS                       8179 non-null   object
 49  TOTAL_FLOOR                    10692 non-null  float64
 50  TOTAL_LANDMARK_COUNT           10633 non-null  float64
 51  TRANSACT_TYPE                  10147 non-null  float64
 52  location                       10699 non-null  object
 53  profile                        10699 non-null  object
 54  xid                            10699 non-null  object
 55  Attraction                     10699 non-null  float64
 56  ATM                            10699 non-null  float64
 57  Airport                        10699 non-null  float64
 58  AmusementPark                  10699 non-null  float64
 59  Bank                           10699 non-null  float64
 60  BusDepot                       10699 non-null  float64
 61  BusStop                        10699 non-null  float64
 62  Club                           10699 non-null  float64
 63  Connectivity                   10699 non-null  float64
 64  Education                      10699 non-null  float64
 65  GolfCourse                     10699 non-null  float64
 66  Hospital                       10699 non-null  float64
 67  Hotel                          10699 non-null  float64
 68  Library                        10699 non-null  float64
 69  MetroStation                   10699 non-null  float64
 70  Miscellaneous                  10699 non-null  float64
 71  OfficeComplex                  10699 non-null  float64
 72  Park                           10699 non-null  float64
 73  Parking                        10699 non-null  float64
 74  Pharmacy                       10699 non-null  float64
 75  RailwayStation                 10699 non-null  float64
 76  ReligiousPlace                 10699 non-null  float64
 77  Shopping                       10699 non-null  float64
 78  Stadium                        10699 non-null  float64
 79  SwimmingPool                   10699 non-null  float64
 80  METADATA_PROPERTY_PHOTO_COUNT  10699 non-null  object
 81  METADATA_PROPERTY_VIDEO_COUNT  10699 non-null  object
dtypes: float64(42), object(40)
memory usage: 7.0+ MB

##### _skipped_
##### - _amaenities_
##### - _bathroom num_
##### - _description_
##### - _features_
##### - _locality_
##### - _locality_

In [99]:
data = pd.Series([1, 2, 3])
data = pd.concat([data, pd.Series([3])])
# data.append(pd.Series([1]))
data

0    1
1    2
2    3
0    3
dtype: int64

In [100]:
# floor num to int
# min_price to float
# price to float
# all the landmark columns to float